<div class="App-body">
    <div class="App-content">
      <mat-card>
        <h4>
        1099-SA Management
        </h4>
      </mat-card>
      <div class="btn_actions">
        <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="Addnew()" >
          Add New
        </button>
      </div>
      <mat-card>
        <mat-form-field appearance="outline"  class="full-width">
          <mat-label>Search first name, last name or login name</mat-label>
          <input matInput (keyup)="searchData($event.target.value)" type="search">
        </mat-form-field>
  
  
        <div style="overflow: auto">
  
          <!-- Angular 8 pagination -->
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
            <ng-container matColumnDef="PAYER_NAME">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
              <td mat-cell *matCellDef="let element"> {{element.payerName}} </td>
            </ng-container>
  
            <ng-container matColumnDef="PAYER_ADDRESS">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
              <td mat-cell *matCellDef="let element"> {{element.payeraddress1}} </td>
            </ng-container>

            <ng-container matColumnDef="PAYER_STATE">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                <td mat-cell *matCellDef="let element"> {{element.payerState}} </td>
              </ng-container>
  
            <ng-container matColumnDef="ACCOUNTNO">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> AccountNo </th>
              <td mat-cell *matCellDef="let element"> {{element.acctno}} </td>
            </ng-container>
           
            <ng-container matColumnDef="RECIPIENTNAME">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> RecipientNo </th>
                <td mat-cell *matCellDef="let element"> {{element.recipientname}} </td>
              </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="accent" [routerLink]="['/form1099saupdate', element._id]">
                  <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
  
                <button mat-icon-button color="accent" (click)="deleteAction(element._id)">
                  <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                  <mat-icon aria-label="Delete"  class="text-delete-link" >delete</mat-icon>
                </button>
              </td>
            </ng-container>
  
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>
  
          </table>
  
        </div>
  
  
      </mat-card>
  
  
  
  
    </div>
  </div>