<div class="App-body">
    <div class="App-content">
        <mat-card>
            <h4>
                Manage Proofs
            </h4>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Search Site id, Description or Approval</mat-label>
                <input matInput type="search">
            </mat-form-field>

            <div class="table-content m-b-24">

                <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="select_email_notify">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Notification</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox>

                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
                        <td mat-cell *matCellDef="let element">
                            <a routerLink="."> {{element.description}} </a>
                            <br />
                            <span> {{element.file_name}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="proof_description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Proof Decription</th>
                        <td mat-cell *matCellDef="let element"> {{element.proof_description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="approval">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Approval</th>
                        <td mat-cell *matCellDef="let element">
                            <a routerLink="."> {{element.approval}} </a> </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email_notified">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Notified</th>
                        <td mat-cell *matCellDef="let element"> {{element.email_notified}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Initial_notified">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Initial Notified </th>
                        <td mat-cell *matCellDef="let element"> {{element.Initial_notified}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selectedRow = selectedRow === row ? null : row"
                        [ngClass]="{ 'selected': row === selectedRow }"></tr>

                </table>
            </div>

        </mat-card>
    </div>
</div>