.table-content {
    overflow: scroll;
}

.mat-column-select_email_notify {
    min-width:20px;
    width:5%;
    align-items: left;
}

.mat-column-description {
    min-width:20px;
    width:40%;
    align-items: left;
}


.mat-column-proof_description {
    min-width:20px;
    width:10%;
    align-items: left;
}

.mat-column-approval {
    min-width:20px;
    width:10%;
    align-items: left;
}


.mat-column-date {
    min-width:20px;
    width:10%;
    align-items: left;
}


.mat-column-time {
    min-width:20px;
    width:10%;
    align-items: left;
}


.mat-column-email_notified {
    min-width:20px;
    width:10%;
    align-items: left;
}

.mat-column-Initial_notified {
    min-width:20px;
    width:10%;
    align-items: left;
}

