<div class="App-body">
    <div class="App-content">
        <form [formGroup]="createIntForm" (ngSubmit)="update()">
        <mat-card>
            <h4>Create 1099-INT</h4>
            <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>
                <div fxFlex="25" fxFlex.xs="55">
                    <section class="mat-checkbox-section">
                        <mat-checkbox class="mat-checkbox-item" tabindex="1" #corrected formControlName="corrected">Corrected</mat-checkbox>
                    </section>
                </div></div>
            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="50" class="content p-8 border-LRB border-Top">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Payer's name</mat-label>
                            <input matInput tabindex="2" [readonly]=true formControlName="payersname" required>
                            <mat-error *ngIf="trrowErrors.payersname.errors && trrowErrors.payersname.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address1</mat-label>
                            <input matInput tabindex="3" [readonly]=true formControlName="payersaddress" required>
                            <mat-error *ngIf="trrowErrors.payersaddress.errors && trrowErrors.payersaddress.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address2</mat-label>
                            <input matInput tabindex="4" [readonly]=true formControlName="payersaddress2" required>
                        
                            <mat-error *ngIf="trrowErrors.payersaddress2.errors && trrowErrors.payersaddress2.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address3</mat-label>
                            <input matInput tabindex="5" [readonly]=true formControlName="payersaddress3">
                        </mat-form-field>
                      
                        
                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6" [readonly]=true formControlName="payetscity" required>
                                    <mat-error *ngIf="trrowErrors.payetscity.errors && trrowErrors.payetscity.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" [disabled]="true" formControlName="payersstate">
                                        <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="trrowErrors.payersstate.errors && trrowErrors.payersstate.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8" [readonly]=true formControlName="payerszip" required>
                                    <mat-error *ngIf="trrowErrors.payerszip.errors && trrowErrors.payerszip.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                        </div>


                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Telephone no.</mat-label>
                            <input matInput tabindex="9" [readonly]=true formControlName="payersphone" required>
                            <mat-error *ngIf="trrowErrors.payersphone.errors && trrowErrors.payersphone.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Telephone no. 2</mat-label>
                            <input matInput tabindex="10" [readonly]=true formControlName="payersphone2" required> 
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="25" class="content p-8 border-RB border-Top">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>1. Interest income not included
                                in box 3</mat-label>
                            <input matInput tabindex="26" type="number" matTooltip="1. Interest income not included in box"
                            formControlName="interestincone" (blur)="onBlurFloat($event)">

                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="25" class="content border-RB border-Top">
                    <div class="full-width p-8 center-align border-B">
                        <h4>Payer's RTN (optional)</h4>
                    </div>
                    <div class="full-width p-8 center-align border-B">
                        <h4>OMB No. 1545-0112</h4>
                        <div *ngIf="taxyear > 2014 || taxyear == 2005">
                        <h2>{{taxyear}}</h2>
                    </div>
                        <h2 style="font-size: 20px;">Form <strong>1099-INT</strong></h2>
                    </div>
                    <div class="full-width p-8 center-align">
                        <p style="font-size: 15px;">Interest Income</p>
                        
                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                    <div fxLayout="row wrap" class="full-width" fxFlexFill>
                        <div fxFlex="50">
                            <mat-form-field appearance="outline" class="full-width Left-controls">
                                <mat-label>Payer's Federal identification
                                    number</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" formControlName="payersFederalNo" required>
                                        <mat-option value="option">No1</mat-option>
                                        <mat-option value="option">No2</mat-option>
                                        <mat-option value="option">No3</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="trrowErrors.payersFederalNo.errors && trrowErrors.payersFederalNo.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field appearance="outline" class="full-width right-controls">
                                <mat-label>Recipient's identification number</mat-label>
                                <input matInput tabindex="12" formControlName="Recipientidentificationno" required>
                                <mat-error *ngIf="trrowErrors.Recipientidentificationno.errors && trrowErrors.Recipientidentificationno.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>2. Early withdrawl penalty</mat-label>
                            <input matInput tabindex="27" type="number" matTooltip="2. Early withdrawl penalty"
                            formControlName="withdrawlpenalty" (blur)="onBlurFloat($event)">

                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>3. Interest on U.S. Savings Bonds and Treas. obligations</mat-label>
                            <input matInput tabindex="28" type="number" matTooltip="3. Interest on U.S. Savings Bonds and Treas. obligations"
                            formControlName="interestonUS" (blur)="onBlurFloat($event)">

                        </mat-form-field>
                    </div>
                    
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 border-LRB">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Recipient's Name</mat-label>
                            <input matInput tabindex="13" formControlName="Recipientiname" required>
                            <mat-error *ngIf="trrowErrors.Recipientiname.errors && trrowErrors.Recipientiname.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Recipient's Name 2</mat-label>
                            <input matInput tabindex="14" formControlName="Recipientiname2">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address1</mat-label>
                            <input matInput tabindex="15" formControlName="Recipientiaddress1" required>
                            <mat-error *ngIf="trrowErrors.Recipientiaddress1.errors && trrowErrors.Recipientiaddress1.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address2</mat-label>
                            <input matInput tabindex="16" formControlName="Recipientiaddress2" required>
                            <mat-error *ngIf="trrowErrors.Recipientiaddress2.errors && trrowErrors.Recipientiaddress2.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address3</mat-label>
                            <input matInput tabindex="17" formControlName="Recipientiaddress3">
                        </mat-form-field>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="18" formControlName="Recipienticity" required>
                                    <mat-error *ngIf="trrowErrors.Recipienticity.errors && trrowErrors.Recipienticity.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" [disabled]="createIntForm.value.ForeignCountry" formControlName="Recipientistate" [disabled]="createIntForm.value.forignCountry">
                                        <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="trrowErrors.Recipientistate.errors && trrowErrors.Recipientistate.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="20" formControlName="Recipientizip" required>
                                    <mat-error *ngIf="trrowErrors.Recipientizip.errors && trrowErrors.Recipientizip.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="full-width ">
                            <div fxFlex="50" *ngIf="taxyear > 2015 || taxyear == 2005">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21" formControlName="ForeignCountry">Foreign Country</mat-checkbox>
                                </section>
                            </div>

                            <div fxFlex="50" *ngIf="taxyear > 2015 || taxyear == 2005">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="22" formControlName="Country"   [disabled]="!createIntForm.value.ForeignCountry">
                                        <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{ country.DISPLAY_NAME}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>

                <div fxFlex="25" class="content border-RB">
                    <div fxLayout="column" fxFlexFill>

                        <div fxFlex="30" class="full-width  p-8  border-B">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>4. Federal income tax withheld</mat-label>
                                    <input matInput tabindex="29" type="number" matTooltip="4. Federal income tax withheld"
                                    formControlName="federalincome" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                            </div>                           
                        </div>

                        <div fxFlex="30" class="full-width  p-8  border-B">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>6. Foreign tax paid</mat-label>
                                    <input matInput tabindex="31" type="number" matTooltip="6. Foreign tax paid"
                                    formControlName="foreigntax" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                            </div>
                           
                        </div>

                        <div fxFlex="30" class="full-width  p-8  border-B">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>8. Tax-exempt interest</mat-label>
                                    <input matInput tabindex="33" type="number" matTooltip="8. Tax-exempt interest"
                                    formControlName="taxexempt" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                            </div>
                            
                        </div>

                        <div fxFlex="30" class="full-width  p-8">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>10. Market discount</mat-label>
                                    <input matInput tabindex="35" type="number" matTooltip="10. Market discount"
                                    formControlName="marketdiscount" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                            </div>
                            
                        </div>

                    </div>
                </div>

                <div fxFlex="25" class="content border-RB">
                    <div fxLayout="column" fxFlexFill>
                        <div fxFlex="30" class="full-width p-8 border-B">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>5. Investment expenses</mat-label>
                                    <input matInput tabindex="30" type="number" matTooltip="5. Investment expense"
                                    formControlName="investmentexpense" (blur)="onBlurFloat($event)">

                                </mat-form-field>
                            </div>
                            

                        </div>

                        <div fxFlex="30" class="full-width  p-8 border-B">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>7. Foreign country or U.S. possession</mat-label>
                                    <input matInput tabindex="32" type="text" matTooltip="7. Foreign country or U.S. possession"
                                    formControlName="possession">
                                </mat-form-field>
                            </div>

                        </div>
                        <div fxFlex="30" class="full-width  p-8 border-B">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>9. Specified private activity bond interest</mat-label>
                                    <input matInput tabindex="34" type="number" matTooltip="9. Specified private activity bond interest"
                                    formControlName="privateactivity" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                            </div> 
                        </div>

                        <div fxFlex="40" class="full-width  p-8">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>11. Bond premium</mat-label>
                                    <input matInput tabindex="36" type="number" matTooltip="11. Bond premium"
                                    formControlName="bondpremium" (blur)="onBlurFloat($event)">

                                </mat-form-field>
                            </div>    
                        </div>

                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="25" class="full-width content p-8 border-LRB">
                    <div>
                        <section class="mat-checkbox-section">
                            <mat-checkbox class="mat-checkbox-item" tabindex="25" formControlName="TINnot">2nd TIN not.</mat-checkbox>
                        </section>
                    </div>
                </div>

                <div fxFlex="25" class="full-width content p-8 border-RB">
                    <div *ngIf="taxyear > 2014 || taxyear == 2005">
                        <section class="mat-checkbox-section">
                            <mat-checkbox class="mat-checkbox-item" tabindex="25" formControlName="FATCAfilling">FATCA filing requirement
                            </mat-checkbox>
                        </section>
                    </div>
                </div>

                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width"  *ngIf="taxyear > 2015 || taxyear == 2005">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>12. Bond premium on Treasury obligations</mat-label>
                            <input matInput tabindex="37" type="text" matTooltip="12. Bond premium on Treasury obligations"
                            formControlName="treasury" (blur)="onBlurFloat($event)"> 

                        </mat-form-field>
                    </div> 

                </div>
                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width" *ngIf="taxyear > 2014 || taxyear == 2005">
                        <!-- 10. Reimbursement or refunds of qualified tuition and related expenses from an insurance contract -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>13. Bond premium on tax–exempt bond</mat-label>
                            <input matInput tabindex="38" type="number" matTooltip="13. Bond premium on tax–exempt bond"
                            formControlName="taxexemptbond" (blur)="onBlurFloat($event)">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="25" class="content p-8 border-LRB">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Account number (see instructions)</mat-label>
                            <input matInput tabindex="24" formControlName="acctno">
                        </mat-form-field>

                    </div>
                </div>

                <div fxFlex="25" class="content border-RB">
                    <div class="full-width p-8">

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>14. Tax-exempt bond CUSIP no.</mat-label>
                            <input matInput tabindex="39" type="text" matTooltip="14. Tax-exempt bond CUSIP no."
                            formControlName="CUSIPno">
                        </mat-form-field>
                    </div>
                    

                </div>
                <div fxFlex="25" class="content border-RB" fxFlex.xs="15">

                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="40">
                            <div class="full-width">
                                <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                                    <div class="full-width p-8 border-B">
                                        <div>
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>15. State</mat-label>
                                                <input matInput tabindex="40" type="text" matTooltip="15. State"
                                                formControlName="state">

                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="full-width p-8">
                                        <div>
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>15. State</mat-label>
                                                <input matInput tabindex="41" type="text" matTooltip="15. State"
                                                formControlName="state">

                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div fxFlex="60">

                            <div class="full-width ">
                                <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                                    <div class="full-width p-8 border-B">
                                        <div>
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>
                                                    16. State identification no.
                                                </mat-label>
                                                <input matInput tabindex="44" type="text" matTooltip="16. State identification no."
                                                formControlName="Stateidentificationno">

                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="full-width p-8">
                                        <div>

                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>
                                                    16. State identification no.
                                                </mat-label>
                                                <input matInput tabindex="45" type="text" matTooltip="16. State identification no."
                                                formControlName="Stateidentificationno">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
                <div fxFlex="25" class="content  border-RB" fxFlex.xs="15">
                    <div class="full-width">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                            <div class="full-width p-8 border-B">
                                <div class="full-width">
                                    <div>
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>
                                                17. State tax withheld
                                            </mat-label>
                                            <input matInput tabindex="44" type="number" matTooltip="17. State tax withheld"
                                            formControlName="Statetaxwithheld" (blur)="onBlurFloat($event)">

                                        </mat-form-field>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="full-width p-8">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>
                                            17. State tax withheld
                                        </mat-label>
                                        <input matInput tabindex="45" type="number" matTooltip="17. State tax withheld"
                                        formControlName="Statetaxwithheld" (blur)="onBlurFloat($event)">
                                    </mat-form-field>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Form <strong>1099-INT</strong></p>
                    </div>
                </div>
                <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                    </div>
                </div>
            </div>
            <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
                    <div>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Form Release Date</mat-label>
                            <input matInput tabindex="5" [readonly]=true formControlName="releasedate">
                        </mat-form-field>
                    </div>
                </div>
                
                <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">

                    <div>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>E-Consent Date</mat-label>
                            <input matInput tabindex="5" [readonly]=true formControlName="consentdate">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="100" class="content p-8 border-full" fxFlex.xs="55">
                    <div class="full-width">
                        <div class="full-width content-hint">
                            <mat-hint>Memo</mat-hint>
                        </div>
                        <mat-form-field appearance="outline" class="full-width">

                            <input matInput type="textarea" #memo formControlName="memo" [readonly]="true">

                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="btn_actions">
                <button mat-stroked-button id="login" class="btn_primary" tabindex="46">
                    Submit
                </button>
            </div>

        </mat-card>
        </form>
    </div>
</div>