<div class="App-body">
    <div class="App-content">
        <mat-card>
            <h4>
                Point of Contact
            </h4>
            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>Subject</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>Body</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>

            <div class="btn_actions">
                <button mat-stroked-button id="btnPrimay" class="btn_primary">
                   Test Email
                </button>

                <button mat-stroked-button id="btnPrimay" class="btn_primary">
                    Send
                </button>
            </div>
        </mat-card>
    </div>
</div>