<mat-dialog-content class="mat-typography">

    <div class="App-body">
        <div class="App-content">
            

                <h4>
                    Edit Audit System Message
                </h4>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Message</mat-label>
                    <input matInput tabindex="2">
                </mat-form-field>

                <div class="btn_actions">
                    <button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial
                        class="btn_primary">Submit</button>
                    <button mat-stroked-button mat-dialog-close class="btn_secondary">Cancel</button>
                </div>
            
        </div>
    </div>
</mat-dialog-content>