.table-content {
    overflow: scroll;
}


.mat-column-Type {    
     max-width: 250px;
    width: 10% !important;
    align-items: left;   
    
}

.mat-column-Allmonths {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}

.mat-column-Jan {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}

.mat-column-Feb {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}


.mat-column-Mar {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}

.mat-column-Apr {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}
.mat-column-May {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}
.mat-column-Jun {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}

.mat-column-Jul {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}
.mat-column-Aug {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}
.mat-column-Sep {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}
.mat-column-Oct {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}
.mat-column-Nov {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}

.mat-column-Dec {    
    max-width: 100px;
    width: 5% !important;
    align-items: left;   
    
}