<div class="App-body">
    <div class="App-content">

        <mat-card>
            <h4>Update 1095-C</h4>

            <div class="btn_actions p-b-24">
                <button mat-stroked-button id="login" class="btn_primary" tabindex="55">
                    Submit
                </button>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content border-full">
                    <div class="full-width p-8 border-B">
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employer Name</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employer Address1</mat-label>
                            <input matInput tabindex="3">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employer Address2</mat-label>
                            <input matInput tabindex="4">
                        </mat-form-field>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6">
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7">
                                        <mat-option value="option">State 1</mat-option>
                                        <mat-option value="option">State 2</mat-option>
                                        <mat-option value="option">State 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8">
                                </mat-form-field>
                            </div>
                        </div>
                         
                        <div fxLayout="row wrap" class="full-width">
                            <div  fxFlex="50">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21">Foreign Country</mat-checkbox>
                                </section>
                            </div>

                            <div  fxFlex="50">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="22">
                                        <mat-option value="option">Country 1</mat-option>
                                        <mat-option value="option">Country 2</mat-option>
                                        <mat-option value="option">Country 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="50">
                                <mat-form-field appearance="outline"  class="full-width Left-controls">
                                    <mat-label>Province code</mat-label>
                                    <input matInput tabindex="4">
                                </mat-form-field>
                            </div>

                            <div fxFlex="50">
                                <mat-form-field appearance="outline"  class="full-width right-controls">
                                    <mat-label>Postal Code</mat-label>
                                    <input matInput tabindex="4">
                                </mat-form-field>
                            </div>
                        </div>


                    </div>

                </div>
                <div fxFlex="50" fxLayout="column" class="content border-RB border-Top">

                    <div fxFlex="40" class="full-width p-8 center-align border-B">
                        <h4>Employer-Provided Health Insurance Offer and Coverage</h4>
                        <h6>Do not attach to your tax return. Keep for your records.</h6>
                        <h5>
                            <mat-icon>arrow_right</mat-icon>Go to <a
                                href="www.irs.gov/form1095c">www.irs.gov/form1095C</a> for instructions and the
                            latest information.
                        </h5>
                    </div>

                    <div fxFlex="40" fxLayout="row" fxLayout.xs="column" fxFlexFill class="full-width p-8">
                        <div fxFlex="50" class="full-width  p-8 border-full">                            
                            <h2>Form <strong>1095-C 2020</strong></h2>
                            <h5>OMB No. 1545-2251 </h5>
                            <h5>Department of the Treasury
                                Internal Revenue Service</h5>
                        </div>
                        <div fxFlex="50" class="full-width  p-8 border-RB border-Top">
                            <!--  <section class="mat-checkbox-section">
                                <mat-checkbox class="mat-checkbox-item" tabindex="1">VOID</mat-checkbox>
                            </section>-->

                            <section class="mat-checkbox-section">
                                <mat-checkbox class="mat-checkbox-item" tabindex="1">Corrected</mat-checkbox>
                            </section>

                        </div>
                    </div>
                    <div class="full-width p-8 center-align">

                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Federal ID</mat-label>
                        <mat-select placeholder="Select" tabindex="7">
                            <mat-option value="option">99-9999999</mat-option>
                            <mat-option value="option">88-9999999</mat-option>
                            <mat-option value="option">77-9999999</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="50" class="content p-8 border-RB" fxFlex.xs="55">
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Employee SSN</mat-label>
                        <input matInput tabindex="4">
                    </mat-form-field>
                </div>

            </div>
            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">

                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill>

                        <div fxFlex="25" class="content p-r-8">
                            <mat-form-field appearance="outline"  class="full-width Left-controls">
                                <mat-label>Employee First Name</mat-label>
                                <input matInput tabindex="11">
                            </mat-form-field>
                        </div>
                        <div fxFlex="25" class="content p-r-8">
                            <mat-form-field appearance="outline"  class="full-width middle-controls">
                                <mat-label>Employee Middle Name</mat-label>
                                <input matInput tabindex="11">
                            </mat-form-field>
                        </div>

                        <div fxFlex="25" class="content p-r-8">
                            <mat-form-field appearance="outline"  class="full-width middle-controls">
                                <mat-label>Employee Last Name</mat-label>
                                <input matInput tabindex="11">
                            </mat-form-field>
                        </div>

                        <div fxFlex="25" class="content">
                            <mat-form-field appearance="outline"  class="full-width right-controls">
                                <mat-label>Suffix</mat-label>
                                <input matInput tabindex="11">
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="full-width">

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employee Address1</mat-label>
                            <input matInput tabindex="3">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employee Address2</mat-label>
                            <input matInput tabindex="4">
                        </mat-form-field>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6">
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7">
                                        <mat-option value="option">State 1</mat-option>
                                        <mat-option value="option">State 2</mat-option>
                                        <mat-option value="option">State 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="50" fxLayout="row wrap" class="full-width line-controls_country">
                                <div>
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21">Foreign Country
                                        </mat-checkbox>
                                    </section>
                                </div>

                                <div>
                                    <mat-form-field appearance="outline"  class="full-width middle-controls">
                                        <mat-label>Country</mat-label>
                                        <mat-select placeholder="Select" tabindex="22">
                                            <mat-option value="option">Country 1</mat-option>
                                            <mat-option value="option">Country 2</mat-option>
                                            <mat-option value="option">Country 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="50" fxLayout="row wrap" class="full-width line-controls_country">
                                <div>
                                    <mat-form-field appearance="outline"  class="full-width middle-controls">
                                        <mat-label>Province code</mat-label>
                                        <input matInput tabindex="4">
                                    </mat-form-field>
                                </div>

                                <div>
                                    <mat-form-field appearance="outline"  class="full-width right-controls">
                                        <mat-label>Postal Code</mat-label>
                                        <input matInput tabindex="4">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>



                    </div>

                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="25" class="content p-8 border-LRB">
                    <div class="full-width  content-hint">
                        <mat-hint>Employee Status Code</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Employee Status Code</mat-label>
                        <mat-select placeholder="Select" tabindex="7">
                            <mat-option value="option">VH</mat-option>
                            <mat-option value="option">FT</mat-option>
                            <mat-option value="option">PT</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Employee Health Plan Code</mat-hint>
                    </div>
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Employee Health Plan Code</mat-label>
                        <mat-select placeholder="Select" tabindex="7">
                            <mat-option value="option">HL Code1</mat-option>
                            <mat-option value="option">HL Code2</mat-option>
                            <mat-option value="option">HL Code3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Health Plan Start Month</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Health Plan Start Month</mat-label>
                        <mat-select placeholder="Select" tabindex="7">
                            <mat-option value="option">JAN 2020</mat-option>
                            <mat-option value="option">FEB 2020</mat-option>
                            <mat-option value="option">MAR 2020</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Employee Time Period Code</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Employee Time Period Code</mat-label>
                        <mat-select placeholder="Select" tabindex="7">
                            <mat-option value="option">TL Code1</mat-option>
                            <mat-option value="option">TL Code2</mat-option>
                            <mat-option value="option">TL Code3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <h4>Employment dates</h4>
                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 border-LRB">
                    <mat-form-field appearance="outline" >
                        <mat-label>Employee Start Date</mat-label>
                        <input matInput [matDatepicker]="EmployeeStartDatepicker">
                        <mat-datepicker-toggle matSuffix [for]="EmployeeStartDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #EmployeeStartDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex="50" class="content p-8 border-RB">
                    <mat-form-field appearance="outline" >
                        <mat-label>Employee Termination Date</mat-label>
                        <input matInput [matDatepicker]="EmployeeEndDatepicker">
                        <mat-datepicker-toggle matSuffix [for]="EmployeeEndDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #EmployeeEndDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>

            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <h4>Coverage</h4>
                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB">
                    <mat-form-field appearance="outline" >
                        <mat-label>Date Coverage Offered</mat-label>
                        <input matInput [matDatepicker]="DateCoveragepicker">
                        <mat-datepicker-toggle matSuffix [for]="DateCoveragepicker"></mat-datepicker-toggle>
                        <mat-datepicker #DateCoveragepicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex="30" class="content p-8 border-RB">
                    <mat-form-field appearance="outline" >
                        <mat-label>Coverage Termination Date</mat-label>
                        <input matInput [matDatepicker]="TerminationDatepicker">
                        <mat-datepicker-toggle matSuffix [for]="TerminationDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #TerminationDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex="35" class="content p-8 border-RB">
                    <mat-form-field appearance="outline" >
                        <mat-label>Coverage Enrollment Date</mat-label>
                        <input matInput [matDatepicker]="EnrollmentDatepicker">
                        <mat-datepicker-toggle matSuffix [for]="EnrollmentDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #EnrollmentDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>

            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <h4>Time Period</h4>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB">
                    <div class="full-width  content-hint">
                        <mat-hint>Inital Measurment Period</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="EmpInitstartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="EmpInitstartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #EmpInitstartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="EmpInitenddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="EmpInitenddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #EmpInitenddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex="30" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Administrative Period for Inital Measurement</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="Administrativestartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="Administrativestartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #Administrativestartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="AdministrativeEnddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="AdministrativeEnddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #AdministrativeEnddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex="35" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Inital Stability Period</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="StableStartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StableStartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StableStartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="StableEnddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StableEnddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StableEnddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB">
                    <div class="full-width  content-hint">
                        <mat-hint>Standard Measurement Period</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="StandardStartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StandardStartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StandardStartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="StandardEnddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StandardEnddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StandardEnddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex="30" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Standard Stablity Period</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="StStableStartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StStableStartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StStableStartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="StStableEnddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StStableEnddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StStableEnddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex="35" class="content p-8 border-RB">
                </div>

            </div>
            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <h4>Status</h4>
                </div>
            </div>
            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB">
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Reporting Exception Code</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxFlex="30" class="content p-8 border-RB">


                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Special Status</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div fxFlex="35" class="content p-8 border-RB">


                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Rehire Status</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>


            </div>

            <div class="Tax-form-content">

                <div class="content p-8 border-LRB">
                    <div class="full-width  content-hint">
                        <mat-hint>Waiting Period</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="WaitingStartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="WaitingStartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #WaitingStartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="WaitingEnddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="WaitingEnddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #WaitingEnddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <h4>Part II - Employee Offer and Coverage</h4>
                </div>
            </div>
            
            <div class="Tax-form-content">
                <div class="table-content border-LRB">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                        <ng-container matColumnDef="Type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                            <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Allmonths">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> All Months</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Allmonths">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Jan">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Jan</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Jan">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Feb">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Feb</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Feb">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Mar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mar</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Mar">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Apr">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apr</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Apr">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="May">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>May</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.May">
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Jun">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Jun</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Jun">
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Jul">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Jul</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Jul">
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Aug">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Aug</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Aug">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Sep">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sep</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Sep">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Oct">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Oct</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Oct">
                                </mat-form-field>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="Nov">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nov</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Nov">
                                </mat-form-field>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="Dec">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dec</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Dec">
                                </mat-form-field>
                            </td>
                        </ng-container>



                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>
                                        
                    </table>
                </div>
            </div>

            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <h4>Part III - Covered Individuals (Enter the information for each covered individual(s).</h4>
                </div>
            </div>
            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <section>
                        <mat-checkbox class="mat-checkbox-item" tabindex="21">If Employer provided self-insured
                            coverage, check the box and enter the information for each covered individual</mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="Tax-form-content">
                <div class="table-content border-LRB p-b-24">
                    <table mat-table [dataSource]="CIdataSource" matSort class="mat-elevation-z8" style="width:100%">
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> (a) Name of covered individual(s)
                                (First Name, Middle Name and Last Name)</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.Name">
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="SSN">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> b) SSN or other TIN</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.SSN">
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="DOB">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> (c) DOB (If SSN or other TIN is not available)</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <input matInput [value]="element.DOB">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Allmonths">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> (d) Covered all 12 months</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                                
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Jan">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Jan</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Feb">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Feb</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Mar">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mar</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Apr">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apr</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="May">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>May</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Jun">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Jun</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Jul">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Jul</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Aug">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Aug</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Sep">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sep</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Oct">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Oct</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="Nov">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nov</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Dec">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dec</th>
                            <td mat-cell *matCellDef="let element">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                </section>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td mat-cell *matCellDef="let element" class="action-link">

                                <button mat-icon-button color="accent">
                                    <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                                    <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="CIdisplayedColumns"></tr>                        
                        <tr mat-row *matRowDef="let row; columns: CIdisplayedColumns;"
                        (click)="CIselectedRow = CIselectedRow === row ? null : row" [ngClass]="{ 'selected': row === CIselectedRow }"></tr>

                    </table>
                </div>
            </div>

            <div class="Tax-form-content p-b-24" >

                <div  class="content p-8  border-LRB" >
                    <div class="full-width">
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Memo</mat-label>
                            <input matInput type="textarea" tabindex="35">

                        </mat-form-field>
                    </div>
                </div> 
            </div>

            <div class="btn_actions">
                <button mat-stroked-button id="login" class="btn_primary" tabindex="32">
                    Submit
                </button>
            </div>

        </mat-card>
    </div>
</div>