<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>

                <h3>Upload File</h3>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <form class="basic-form" [formGroup]="uploadForm" (ngSubmit)='uploadfile()'>

                    <!-- column -->

                    <div class="full-width">
                        <h5>Allowed file types are .txt,.zip,.csv,.xls and .xlsx</h5>
                        <input type="file" style="display: none;" formControlName="uploadfile"
                        (change)="onFileSelected($event)" #fileUpload>
                    <div class="file-upload">

                    {{fileName || "No file uploaded yet."}}

                        <button type="button" mat-mini-fab color="primary" class="upload-btn"
                        (click)="fileUpload.click()">
                            <mat-icon>attach_file</mat-icon>
                        </button>  
                    </div>  
                    <div style="color: red;">{{fileerror}}</div></div>
<br/>
                    <!-- column -->
                    <div class="extra-padding">
                        <h5>Description of file content (Only alphanumeric (0-9,a-z) allowed):</h5>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Description</mat-label>
                            <textarea #message matInput rows="5" formControlName="description"></textarea>
                            <mat-hint align="start">{{message.value.length}} / 256 characters</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- column -->

                    <!-- <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email"  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                        <mat-error *ngIf="uploadForm.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                      <mat-error *ngIf="uploadForm.get('email').hasError('email')">
                          Please enter a valid email address
                      </mat-error>
                    </mat-form-field> -->

                    <div class="extra-padding">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>File Type</mat-label>
                            <mat-select placeholder="Select" formControlName="file_type">
                                <mat-option value="1099 Data File">1099 Data File</mat-option>
                                <mat-option value="1098-T Data File">1098-T Data File</mat-option>
                                <mat-option value="TIN Check File">TIN Check File</mat-option>
                            </mat-select>
                            <mat-hint>Select the type of file you are uploading</mat-hint>
                        </mat-form-field>
                    </div>

                    <!-- column -->

                    <div class="btn_actions">
                        <button mat-stroked-button id="btnPrimay" class="btn_primary">
                            Upload File
                        </button>
                    </div>
                </form>

            </mat-card>
        </div>
    </div>
</div>