<div class="App-body">
    <div class="App-content">
        <!-- <form [formGroup]="createAppForm" (ngSubmit)="onSubmit()"> -->
            <mat-card>
                <form [formGroup]="createAppForm">
                    <div fxLayout="row">
                        <div fxFlex="75">
                            <h4>
                                Form Management
                            </h4>
                        </div>
                        <div  style="max-width: fit-content">

                            <mat-form-field appearance="outline">
                                <mat-label>Tax Year</mat-label>
                                <mat-select placeholder="Select" #formYear formControlName="formYear" (selectionChange)="selectedyear($event.value)">
                                    <mat-option *ngFor='let year of yearList' value="{{ year.value }}">{{ year.name }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="trrowErrors.formYear.errors && trrowErrors.formYear.errors.required"> This field is required </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex.gt-sm="100%">
                            <div class="btn_actions">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button *ngFor='let form of formType' value="{{ form.forM_TYPE }}" [checked]="createAppForm.value.formType == form.forM_TYPE ? true : false">{{ form.forM_TYPE }}</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                    </div>

                </form>

                <div class="btn_actions" *ngIf="createAppForm.value.formYear">
                    <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="createButtonClick()">
                        Create New Form
                    </button>
                </div>

            </mat-card>
        <!-- </form> -->

        <mat-card *ngIf="createAppForm.value.formYear">
            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>Search first name, last name, social security or student id</mat-label>
                <input matInput (keyup)="searchData($event.target.value)" type="search">
            </mat-form-field>


            <div style="overflow: auto">

                <div class="btn_actions" *ngIf="show">
                    <!-- <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="ViewForm()">View Form</button> -->
                    <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="UpdateForms()"style="margin-bottom: 10px">Update Form</button>
                    <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="PrintForm()" style="margin-bottom: 10px">View/Print Form</button>
                    <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="EmailForm()" style="margin-bottom: 10px">Email Form</button>
                    <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="DeleteForm()" style="margin-bottom: 10px">Delete Form</button>
                </div>

                <!-- Angular 8 pagination -->
                <!-- <div *ngIf="showlbl">
                    <mat-label>Select an Item</mat-label>
                </div> -->
                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="function">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-icon  class="remove_circle" *ngIf="showcirclebtn" (click)="click_circle()">remove_circle
                            </mat-icon>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <md-radio-group  [(ngModel)]="element.selected">   -->
                            <mat-radio-button #button value="{{element.STUDENT_ID}}" [checked]="onSelectedChecked(element)"
                                (change)="radioChange(button,element)"></mat-radio-button>
                            <!-- </md-radio-group> -->
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="SEQUENCE_ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Seq </th>
                        <td mat-cell *matCellDef="let element"> {{element.SEQUENCE_ID}} </td>
                    </ng-container>

                    <ng-container matColumnDef="STUDENT_FIRST_NAME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.STUDENT_FIRST_NAME}} </td>

                    </ng-container>

                    <ng-container matColumnDef="STUDENT_LAST_NAME">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.STUDENT_LAST_NAME}} </td>
                    </ng-container>

                    <ng-container matColumnDef="BOX_STUDENT_SSN">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> SSN </th>
                        <td mat-cell *matCellDef="let element"> {{element.BOX_STUDENT_SSN}} </td>
                    </ng-container>

                    <ng-container matColumnDef="STUDENT_ID">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> School Student Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.STUDENT_ID}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selectedRow = selectedRow === row ? null : row"
                    [ngClass]="{ 'selected': row === selectedRow }"></tr>
                </table>

            </div>


        </mat-card>



    </div>
</div>