<div class="App-body">
    <div class="App-content">

        <mat-card>
            <div class="data-info">
                <div class="faq-list topScroll" id="topScroll" #topScroll>
                    <small style="display:block" [innerHTML]="faqdata"></small>
                </div>
            </div>
        </mat-card>

    </div>
</div>
<div class="back-to-top-wrapper">
    <a (click)="scroll(topScroll)" class="back-to-top-link" aria-label="Scroll to Top">
        <mat-icon>arrow_upward</mat-icon>
    </a>
</div>