<div class="App-body">
    <div class="App-content">

        <mat-card>
            <h4>
                Archived Sites
            </h4>

            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>Search Site name</mat-label>
                <input matInput type="search">
            </mat-form-field>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
            <table mat-table [dataSource]="TemplatedataSource" style="width:100%">

                <ng-container matColumnDef="form_type">
                    <th mat-header-cell *matHeaderCellDef> Form Type</th>
                    <td mat-cell *matCellDef="let element"> {{element.form_type}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="file_link">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element"> 
                        <a routerLink=".">{{element.file_link}} </a></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selectedRow = selectedRow === row ? null : row"
                [ngClass]="{ 'selected': row === selectedRow }"></tr>
            </table>
        </mat-card>
    </div>
</div>