<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->

<!-- <mat-nav-list appAccordion>     
             <app-menu-list-item *ngFor="let item of menuItems.getMenuitem()" [item]="item"></app-menu-list-item>
    
</mat-nav-list> -->
    <mat-nav-list appAccordion>
      <app-menu-list-item *ngFor="let item of  menuDetails" [item]="item"></app-menu-list-item>
    </mat-nav-list>
    
           