<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            
            <form [formGroup]="profileForm">
                <mat-card>
                    <h4>
                        Profile
                    </h4>   

                   <mat-form-field appearance="outline" class="full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput #firstname [formControlName]="firstname" value="{{ profileForm.value.firstname }}" type="text" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput #lastname formControlName="lastname" value="{{ profileForm.value.lastname }}" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput #email formControlName="email" type="text" value="{{ profileForm.value.email }}" required>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Phone Number</mat-label>
                        <input matInput #phonenumber formControlName="phonenumber" type="text" required>
                    </mat-form-field> -->

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Middle Name</mat-label>
                        <input matInput #middlename formControlName="middlename" type="text" value="{{ profileForm.value.middlename }}" >
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Display Name</mat-label>
                        <input matInput #displayname formControlName="displayname" type="text" value="{{ profileForm.value.displayname }}" >
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Phone</mat-label>
                        <input matInput #phone formControlName="phone" type="text" value="{{ profileForm.value.phone }}" >
                    </mat-form-field>

                    <mat-slide-toggle #mfasettings (change)="onChangeToogle()" formControlName="mfasettings" checked="{{ profileForm.value.mfaSettings }}" class="full-width">
                        MFA Settings
                    </mat-slide-toggle>
                    <br><br>

                    <button mat-stroked-button id="btnSubmit" class="btn_primary" (click)="onSubmit()">
                        Submit
                    </button>
                </mat-card>
                
            </form>
            
        </div>
    </div>
</div>