<div class="App-loginspsgz">
    <div class="App-content" fxLayout="row" fxLayoutAlign="center center">
      <form fxFlex="40%" fxFlex.sm="60%" fxFlex.xs="90%" [formGroup]="insertForm">
        <mat-card class="Card">
          <h1>
            <img  src="./assets/images/sps-gz-logo.png"  alt="TAB SERVICE COMPANY" class="logo-blue-login">
          </h1>
          <h3>Verification Code</h3>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Enter verification code</mat-label>
            <input matInput formControlName="code" required>
            <mat-error *ngIf="insertForm.controls['code'].errors?.required">
              This field is required
            </mat-error>
          </mat-form-field>
  
          <p>
              {{timerCountMessage}}
          </p>
  
          <button mat-stroked-button id="btnSubmit" class="btn_primary m-b-24" (click)="onSubmit()">
            Submit
          </button>
   
  
            <div id="errors" class="m-t-24 m-b-24">
              <div class="errorMessage">
                  <span>Invalid Code - Attempts Remaining :<span class="p-1 pl-2 pr-2 rounded-0 text-dark ml-2">{{
                          attemptsRemaining
                      }}</span></span
                  >
              </div>
          </div>
  
  
        </mat-card>
        
  
      </form>
    </div>
  </div>
  