<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
                <mat-card>
                    <h3>Update User Type</h3>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>User Type</mat-label>
                        <input matInput value="" #userType formControlName="userType" required>
                        <mat-error *ngIf="trrowErrors.userType.errors && trrowErrors.userType.errors.required"> This field is required </mat-error>
                       
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Access Level</mat-label>
                        <mat-select placeholder="Select" tabindex="7" #accessLevel formControlName="accessLevel">
                            <mat-option *ngFor='let accessLev of accessLevelList' value="{{ accessLev.value }}">{{ accessLev.name }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="trrowErrors.accessLevel.errors && trrowErrors.accessLevel.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>User Description</mat-label>
                        <input matInput value="" #userDescription formControlName="userDescription" required>
                        <mat-error *ngIf="trrowErrors.userDescription.errors && trrowErrors.userDescription.errors.required"> This field is required </mat-error>
                       
                    </mat-form-field>

                    <div class="btn_actions">
                        <button mat-stroked-button id="login" class="btn_primary">
                            Update
                        </button>

                       <!--  <button mat-stroked-button id="login" class="btn_secondary">
                            Cancel
                        </button> -->
                    </div>

                    
                </mat-card>
            </form>
        </div>
    </div>
</div>