
<div class="App-body">
    <div class="App-content">

        <mat-card>
            <h4>
                Admin User Type
            </h4>

            <div class="btn_actions">
                <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="submit()">
                  Add User Type
                </button>
              </div>
            </mat-card>

            <mat-card>
                <h4>
                    Manage Admin User Type Search Results
                  </h4>
            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>
                    Search User Type
                    , User Description
                     or Access Level
                </mat-label>
                <input matInput (keyup)="searchData($event.target.value)" type="search">
            </mat-form-field>


            <div>

                <!-- Angular 8 pagination -->
                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="user_type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.user_type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="user_description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.user_description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Access_Level">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Access Level</th>
                        <td mat-cell *matCellDef="let element"> {{element.Access_Level}} </td>
                    </ng-container>


                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-link">
                            <button mat-icon-button color="accent" [routerLink]="['/editadminusertype', element.Id]">
                                <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>

                            <button mat-icon-button color="accent" (click)="deleteAction(element.Id)">
                                <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                                <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>

                    
                </table>

            </div>


        </mat-card>



    </div>
</div>
