<div class="App-body">
    <div class="App-content">
        <mat-card>
            <h4>
                Admin Menu Item
            </h4>
            <div>

                <mat-form-field appearance="outline"  class="full-width">
                    <mat-label>Search Menu Items</mat-label>
                    <input matInput (keyup)="searchData($event.target.value)" type="search">
                </mat-form-field>

                <!-- Angular 8 pagination -->
                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="menu_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.menu_id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="menu_description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Menu Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.menu_description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="menu_function">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu Function </th>
                        <td mat-cell *matCellDef="let element"> {{element.menu_function}}</td>

                    </ng-container>

                    <ng-container matColumnDef="access_level">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Access Level </th>
                        <td mat-cell *matCellDef="let element"> {{element.access_level}} </td>
                    </ng-container>

                    <ng-container matColumnDef="menu_comments">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Menu Comments </th>
                        <td mat-cell *matCellDef="let element"> {{element.menu_comments}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="openDialog(element)">
                                <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>


                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>

        </mat-card>
    </div>
</div>