
<mat-dialog-content>
    <mat-card>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Menu Description</mat-label>
            <input matInput value="" type="text" [(ngModel)]="data.menu_description">
        </mat-form-field>
        <button class="mat-raised-button" (click)="onNoClick()">Close</button> &nbsp;&nbsp;&nbsp;
        <button class="mat-raised-button btn_primary" [mat-dialog-close]="data.menu_description" cdkFocusInitial [disabled]='!data.menu_description || data.menu_description == tempData ? true : false'>Update</button>
    </mat-card>
</mat-dialog-content>
