<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <form [formGroup]="findForm" (ngSubmit)="onFind()">
                <mat-card>
                    <h4>
                        Admin Custom Menu
                    </h4>



                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Select related site</mat-label>
                        <mat-select placeholder="Select" formControlName="siteid">
                            <mat-option *ngFor='let site of siteForDropdown' value="{{ site.SITE_ID }}">{{ site.DISPLAY_NAME }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="trrowErrors.siteid.errors && trrowErrors.siteid.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Select User type</mat-label>
                        <mat-select placeholder="Select" formControlName="usertype">
                            <mat-option *ngFor='let userType of userTypeForDropdown' value="{{ userType.USER_TYPE }}">{{ userType.DISPLAY_NAME }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="trrowErrors.usertype.errors && trrowErrors.usertype.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <div class="btn_actions p-b-24">
                        <button mat-stroked-button id="btnPrimay" class="btn_primary">
                            Search
                        </button>
                    </div>
                </mat-card>
            </form>
        </div>

        <mat-card *ngIf="displayDragAndDrop">
            <div class="dual-select" cdkDropListGroup>
                <div class="dual-select__left">
            
                    <ul 
                        class="dual-select__items"
                        #todoList="cdkDropList"
                        
                        cdkDropList
                        [cdkDropListData]="unselectedContacts"
                        [cdkDropListConnectedTo]="[doneList]"
                        cdkDropListSortingDisabled
                        (cdkDropListDropped)="drop($event, 'ul')"
                    >
                        <li
                            *ngFor="let contact of unselectedContacts"
                            class="dual-select__item"
                            cdkDrag
                        >
                            
                            <div class="contact">
                                <div class="contact__name">
                                    <input 
                                        type="checkbox" 
                                        (change)="togglePendingSelection( contact, contact.MenuItems ? contact.MenuItems : [], $event.target.checked )" 
                                        [checked]="pendingSelection[ contact.Menu_Group_Id ] ? true : false"
                                    />
                                    {{ contact.Menu_Comments }}
                                </div>
                            </div>

                            <ul 
                                class="dual-select__childitems" 
                                *ngIf="contact.MenuItems"
                                cdkDropList
                                [cdkDropListConnectedTo]="[doneList]" 
                                cdkDropListSortingDisabled
                                [cdkDropListData]="contact.MenuItems"
                                (cdkDropListDropped)="drop($event, 'ul')"
                            >
                                <li
                                    *ngFor="let childContact of contact.MenuItems"
                                    class="dual-select__childitem"
                                    cdkDrag
                                >
                                    <div class="contact">
                                        <div class="contact__name">
                                            <input type="checkbox" 
                                                (change)="togglePendingSelection( contact, [childContact], $event.target.checked )" 
                                                [checked]="pendingSelection[ contact.Menu_Group_Id ] ? pendingSelection[ contact.Menu_Group_Id ].includes(childContact.menu_id) ? true : false : false"
                                            />
                                            {{ childContact.menu_description }}
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>


                        </li>
                    </ul>
            
                </div>
                <div class="dual-select__controls">
                    <button
                        (click)="addAllToSelectedContacts()"
                        class="dual-select__control">
                        >>
                    </button>
                    <button
                        (click)="addToSelectedContacts()"
                        class="dual-select__control">
                        >
                    </button>
                    <button
                        (click)="removeFromSelectedContacts()"
                        class="dual-select__control">
                        <
                    </button>
                    <button
                        (click)="removeAllFromSelectedContacts()"
                        class="dual-select__control">
                        <<
                    </button>
                </div>
                <div class="dual-select__right">
            
                    <ul 
                        class="dual-select__items"
                        #doneList="cdkDropList"
                        cdkDropList
                        [cdkDropListData]="selectedContacts"
                        [cdkDropListConnectedTo]="[todoList]"
                        (cdkDropListDropped)="drop($event, 'sl')"
                    >
                        <li
                            *ngFor="let contact of selectedContacts"
                            class="dual-select__item dual-select__item--new"
                            cdkDrag
                        >
            
                            <div class="contact">
                                <div class="contact__name">
                                    <input type="checkbox" 
                                        (change)="togglePendingSelection( contact, contact.MenuItems ? contact.MenuItems : [], $event.target.checked )" 
                                        [checked]="pendingSelection[ contact.Menu_Group_Id ] ? true : false"
                                    />
                                    {{ contact.Menu_Comments }}
                                </div>
                            </div>

                            <ul 
                                class="dual-select__childitems" 
                                *ngIf="contact.MenuItems"
                                cdkDropList
                                [cdkDropListConnectedTo]="[todoList]"
                                [cdkDropListData]="contact.MenuItems"
                                (cdkDropListDropped)="drop($event, 'sl')"
                            >
                                <li
                                    *ngFor="let childContact of contact.MenuItems"
                                    class="dual-select__childitem"
                                    cdkDrag
                                >
                                    <div class="contact">
                                        <div class="contact__name">
                                            <input type="checkbox" 
                                                (change)="togglePendingSelection( contact, [childContact], $event.target.checked )" 
                                                [checked]="pendingSelection[ contact.Menu_Group_Id ] ? pendingSelection[ contact.Menu_Group_Id ].includes(childContact.menu_id) ? true : false : false"
                                            />
                                            {{ childContact.menu_description }}
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
            
                        </li>
                    </ul>
            
                </div>
            </div>
            <br>

            <div class="btn_actions">
                <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="updateMenuSettings()">
                    Submit
                </button>
            </div>
            
        </mat-card>

        <!-- <mat-card>
            <div cdkDropListGroup>
                <div class="list-container">
                    <h3>Available Menu Items</h3>

                    <div cdkDropList [cdkDropListData]="items" class="item-list" cdkDropListSortingDisabled
                        (cdkDropListDropped)="drop($event)">
                        <div class="item-box" *ngFor="let item of items" cdkDrag>{{item}}
                            <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add_circle_outline</mat-icon></button>

                        </div>
                    </div>
                </div>

                <div class="list-container">
                    <h3>Selected Menu Items</h3>

                    <div cdkDropList [cdkDropListData]="basket" class="item-list" (cdkDropListDropped)="drop($event)">
                        <div class="item-box" *ngFor="let item of basket" cdkDrag>{{item}}
                            <button mat-icon-button (click)="addNewItem(node)"><mat-icon>remove_circle_outline</mat-icon></button>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn_actions">
                <button mat-stroked-button id="btnPrimay" class="btn_primary">
                    Submit
                </button>
            </div>


        </mat-card> -->
    </div>
</div>