<div class="App-body">
    <div class="App-content">

        <mat-card>
            <h4>Create Employee Master</h4>

            <div class="btn_actions p-b-24">
                <button mat-stroked-button id="login" class="btn_primary" tabindex="55">
                    Submit
                </button>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content border-full">
                    <div class="full-width p-8 border-B">
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employer Name</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employer Address1</mat-label>
                            <input matInput tabindex="3">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employer Address2</mat-label>
                            <input matInput tabindex="4">
                        </mat-form-field>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6">
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7">
                                        <mat-option value="option">State 1</mat-option>
                                        <mat-option value="option">State 2</mat-option>
                                        <mat-option value="option">State 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="full-width">
                            <div  fxFlex="50">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21">Foreign Country</mat-checkbox>
                                </section>
                            </div>

                            <div  fxFlex="50">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="22">
                                        <mat-option value="option">Country 1</mat-option>
                                        <mat-option value="option">Country 2</mat-option>
                                        <mat-option value="option">Country 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="50">
                                <mat-form-field appearance="outline"  class="full-width Left-controls">
                                    <mat-label>Province code</mat-label>
                                    <input matInput tabindex="4">
                                </mat-form-field>
                            </div>

                            <div fxFlex="50">
                                <mat-form-field appearance="outline"  class="full-width right-controls">
                                    <mat-label>Postal Code</mat-label>
                                    <input matInput tabindex="4">
                                </mat-form-field>
                            </div>
                        </div>


                    </div>

                </div>
                <div fxFlex="50" class="content border-RB border-Top">
                    <div class="full-width p-8 border-B">
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employee First Name</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employee Middle Name</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employee Last Name</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Suffix</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employee Address1</mat-label>
                            <input matInput tabindex="3">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Employee Address2</mat-label>
                            <input matInput tabindex="4">
                        </mat-form-field>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6">
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7">
                                        <mat-option value="option">State 1</mat-option>
                                        <mat-option value="option">State 2</mat-option>
                                        <mat-option value="option">State 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="full-width">
                            <div  fxFlex="50">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21">Foreign Country</mat-checkbox>
                                </section>
                            </div>

                            <div  fxFlex="50">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="22">
                                        <mat-option value="option">Country 1</mat-option>
                                        <mat-option value="option">Country 2</mat-option>
                                        <mat-option value="option">Country 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="50">
                                <mat-form-field appearance="outline"  class="full-width Left-controls">
                                    <mat-label>Province code</mat-label>
                                    <input matInput tabindex="4">
                                </mat-form-field>
                            </div>

                            <div fxFlex="50">
                                <mat-form-field appearance="outline"  class="full-width right-controls">
                                    <mat-label>Postal Code</mat-label>
                                    <input matInput tabindex="4">
                                </mat-form-field>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Federal ID</mat-label>
                        <mat-select placeholder="Select" tabindex="7">
                            <mat-option value="option">99-9999999</mat-option>
                            <mat-option value="option">88-9999999</mat-option>
                            <mat-option value="option">77-9999999</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="50" class="content p-8 border-RB" fxFlex.xs="55">
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Employee SSN</mat-label>
                        <input matInput tabindex="4">
                    </mat-form-field>
                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="25" class="content p-8 border-LRB">
                    <div class="full-width  content-hint">
                        <mat-hint>Employee Status Code</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Employee Status Code</mat-label>
                        <mat-select placeholder="Select" tabindex="7">
                            <mat-option value="option">VH</mat-option>
                            <mat-option value="option">FT</mat-option>
                            <mat-option value="option">PT</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Employee Health Plan Code</mat-hint>
                    </div>
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Employee Health Plan Code</mat-label>
                        <mat-select placeholder="Select" tabindex="7">
                            <mat-option value="option">HL Code1</mat-option>
                            <mat-option value="option">HL Code2</mat-option>
                            <mat-option value="option">HL Code3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Health Plan Start Month</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Health Plan Start Month</mat-label>
                        <mat-select placeholder="Select" tabindex="7">
                            <mat-option value="option">JAN 2020</mat-option>
                            <mat-option value="option">FEB 2020</mat-option>
                            <mat-option value="option">MAR 2020</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Employee Time Period Code</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Employee Time Period Code</mat-label>
                        <mat-select placeholder="Select" tabindex="7">
                            <mat-option value="option">TL Code1</mat-option>
                            <mat-option value="option">TL Code2</mat-option>
                            <mat-option value="option">TL Code3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <h4>Employment dates</h4>
                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 border-LRB">
                    <mat-form-field appearance="outline" >
                        <mat-label>Employee Start Date</mat-label>
                        <input matInput [matDatepicker]="EmployeeStartDatepicker">
                        <mat-datepicker-toggle matSuffix [for]="EmployeeStartDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #EmployeeStartDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex="50" class="content p-8 border-RB">
                    <mat-form-field appearance="outline" >
                        <mat-label>Employee Termination Date</mat-label>
                        <input matInput [matDatepicker]="EmployeeEndDatepicker">
                        <mat-datepicker-toggle matSuffix [for]="EmployeeEndDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #EmployeeEndDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>

            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <h4>Coverage</h4>
                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB">
                    <mat-form-field appearance="outline" >
                        <mat-label>Date Coverage Offered</mat-label>
                        <input matInput [matDatepicker]="DateCoveragepicker">
                        <mat-datepicker-toggle matSuffix [for]="DateCoveragepicker"></mat-datepicker-toggle>
                        <mat-datepicker #DateCoveragepicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex="30" class="content p-8 border-RB">
                    <mat-form-field appearance="outline" >
                        <mat-label>Coverage Termination Date</mat-label>
                        <input matInput [matDatepicker]="TerminationDatepicker">
                        <mat-datepicker-toggle matSuffix [for]="TerminationDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #TerminationDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex="35" class="content p-8 border-RB">
                    <mat-form-field appearance="outline" >
                        <mat-label>Coverage Enrollment Date</mat-label>
                        <input matInput [matDatepicker]="EnrollmentDatepicker">
                        <mat-datepicker-toggle matSuffix [for]="EnrollmentDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #EnrollmentDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>

            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <h4>Time Period</h4>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB">
                    <div class="full-width  content-hint">
                        <mat-hint>Inital Measurment Period</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8" >
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="EmpInitstartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="EmpInitstartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #EmpInitstartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline"    > 
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="EmpInitenddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="EmpInitenddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #EmpInitenddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex="30" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Administrative Period for Inital Measurement</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="Administrativestartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="Administrativestartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #Administrativestartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline"   >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="AdministrativeEnddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="AdministrativeEnddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #AdministrativeEnddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex="35" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Inital Stability Period</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="StableStartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StableStartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StableStartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline"  >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="StableEnddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StableEnddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StableEnddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB">
                    <div class="full-width  content-hint">
                        <mat-hint>Standard Measurement Period</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="StandardStartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StandardStartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StandardStartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline"   >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="StandardEnddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StandardEnddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StandardEnddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex="30" class="content p-8 border-RB">
                    <div class="full-width  content-hint">
                        <mat-hint>Standard Stablity Period</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="StStableStartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StStableStartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StStableStartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline"  >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="StStableEnddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="StStableEnddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #StStableEnddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxFlex="35" class="content p-8 border-RB">
                </div>

            </div>
            <div class="Tax-form-content">
                <div class="content p-8 border-LRB">
                    <h4>Status</h4>
                </div>
            </div>
            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB">
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Reporting Exception Code</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div fxFlex="30" class="content p-8 border-RB">


                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Special Status</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div fxFlex="35" class="content p-8 border-RB">


                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Rehire Status</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>


            </div>

            <div class="Tax-form-content">

                <div class="content p-8 border-LRB">
                    <div class="full-width  content-hint">
                        <mat-hint>Waiting Period</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="p-r-8">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="WaitingStartdatepicker">
                        <mat-datepicker-toggle matSuffix [for]="WaitingStartdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #WaitingStartdatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline"  >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="WaitingEnddatepicker">
                        <mat-datepicker-toggle matSuffix [for]="WaitingEnddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #WaitingEnddatepicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>


            <div class="btn_actions">
                <button mat-stroked-button id="login" class="btn_primary" tabindex="32">
                    Submit
                </button>
            </div>

        </mat-card>
    </div>
</div>