<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>
                <h4>
                    Proof Approval Text
                </h4>

                <div fxLayout="row">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Select Related Site</mat-label>
                        <mat-select placeholder="Select">
                            <mat-option value="option">AA</mat-option>
                            <mat-option value="option">AB</mat-option>
                            <mat-option value="option">AE</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Proof Approval Text</mat-label>
                        <textarea matInput [matTextareaAutosize]></textarea>

                    </mat-form-field>
                </div>

                <div class="full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Efile Proof Approval Text</mat-label>
                        <textarea matInput [matTextareaAutosize]></textarea>
                    </mat-form-field>
                </div>

                <div class="btn_actions">
                    <button mat-stroked-button id="btnPrimay" class="btn_primary">
                        Submit
                    </button>

                </div>

            </mat-card>
        </div>
    </div>
</div>