<div class="App-body">
  <div class="App-content">
    <mat-card>

      <h4>
        Manage System User
      </h4>

      <div class="btn_actions">
        <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="submit()" >
          Add System User
        </button>
      </div>

    </mat-card>

    <mat-card>
      <h4>
        Manage System Users Search Results
      </h4>
      <mat-form-field appearance="outline"  class="full-width">
        <mat-label>Search first name, last name or login name</mat-label>
        <input matInput (keyup)="searchData($event.target.value)" type="search">
      </mat-form-field>


      <div style="overflow: auto">

        <!-- Angular 8 pagination -->
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
          <ng-container matColumnDef="FIRST_NAME">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.FIRST_NAME}} </td>
          </ng-container>

          <ng-container matColumnDef="LAST_NAME">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.LAST_NAME}} </td>
          </ng-container>

          <ng-container matColumnDef="LOGIN_NAME">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Login Name </th>
            <td mat-cell *matCellDef="let element"> {{element.LOGIN_NAME}} </td>
          </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <button mat-icon-button color="accent" [routerLink]="['/editsystemUser', element.USER_ID]">
                <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent" (click)="deleteAction(element.USER_ID)">
                <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                <mat-icon aria-label="Delete"  class="text-delete-link" >delete</mat-icon>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>

        </table>

      </div>


    </mat-card>




  </div>
</div>