<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
                <mat-card>
                    <h3>Create User</h3>

                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="65" class="left-control full-width">
                            <div *ngIf="CookieSiteId=='1'; then admin; else user">
                            </div>
                            <ng-template #admin>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Select Related Site</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" #relatedSite
                                        formControlName="relatedSite">
                                        <mat-option *ngFor='let site of siteForDropdown' value="{{ site.SITE_ID }}">{{
                                            site.DISPLAY_NAME }}</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="trrowErrors.relatedSite.errors && trrowErrors.relatedSite.errors.required">
                                        This field is required </mat-error>
                                </mat-form-field>
                            </ng-template>

                            <ng-template #user>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Select Related Site</mat-label>
                                    <input matInput [value]="CookieSiteId"  formControlName="relatedSite" required [readonly]="true">
                                    <mat-error
                                        *ngIf="trrowErrors.relatedSite.errors && trrowErrors.relatedSite.errors.required">
                                        This field is required </mat-error>
                                </mat-form-field>
                            </ng-template>

                        </div>
                        <div fxFlex="35" class="right-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>User Type</mat-label>
                                <mat-select placeholder="Select" tabindex="7" #userType formControlName="userType">
                                    <mat-option *ngFor='let userType of userTypeForDropdown'
                                        value="{{ userType.USER_TYPE }}">{{ userType.DISPLAY_NAME }}</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="trrowErrors.relatedSite.errors && trrowErrors.relatedSite.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Login Name</mat-label>
                        <input matInput value="" #loginName formControlName="loginName" required>
                        <mat-error *ngIf="trrowErrors.loginName.errors && trrowErrors.loginName.errors.required"> This
                            field is required </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label> Password</mat-label>
                        <input matInput #newpassword (keyup)="onChangePassword(newpassword.value)"
                            [type]="newpasswordhide ? 'password' : 'text'" formControlName="newpassword" required>
                        <mat-icon matSuffix (click)="newpasswordhide = !newpasswordhide">
                            {{newpasswordhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="trrowErrors.newpassword.errors && trrowErrors.newpassword.errors.required">
                            This field is required </mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Confirm Password</mat-label>

                        <input matInput #confirmpassword [type]="confirmpasswordhide ? 'password' : 'text'"
                            formControlName="confirmpassword" required>
                        <mat-icon matSuffix (click)="confirmpasswordhide = !confirmpasswordhide">
                            {{confirmpasswordhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error
                            *ngIf="trrowErrors.confirmpassword.errors && trrowErrors.confirmpassword.errors.required">
                            This field is required </mat-error>
                        <mat-error
                            *ngIf="trrowErrors.confirmpassword.errors && trrowErrors.confirmpassword.errors.confirmedValidator">
                            New password and confirm password must be match </mat-error>


                    </mat-form-field>

                    <div class="PasswordStrength _medium">
                        <div class="PasswordStrength-bar">
                            <div class="PasswordStrength-bar-inner" [style.width]="bar"></div>
                        </div>
                        <p class="PasswordStrength-text">
                            Password strength: {{ barLabel }}
                        </p>
                    </div>

                </mat-card>


                <mat-card>
                    <h3>User Details</h3>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>E-mail</mat-label>
                        <input matInput value="" #email formControlName="email" required>
                        <mat-error *ngIf="trrowErrors.email.errors && trrowErrors.email.errors.required"> This field is
                            required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput value="" #firstName formControlName="firstName" required>
                        <mat-error *ngIf="trrowErrors.firstName.errors && trrowErrors.firstName.errors.required"> This
                            field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput value="" #lastName formControlName="lastName" required>
                        <mat-error *ngIf="trrowErrors.lastName.errors && trrowErrors.lastName.errors.required"> This
                            field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address 1</mat-label>
                        <input matInput value="" #address1 formControlName="address1">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address 2</mat-label>
                        <input matInput value="" #address2 formControlName="address2">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address 3</mat-label>
                        <input matInput value="" #address3 formControlName="address3">
                    </mat-form-field>


                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="35" class="left-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>City</mat-label>
                                <input matInput value="" #city formControlName="city">
                                <mat-error *ngIf="trrowErrors.city.errors && trrowErrors.city.errors.required"> This
                                    field is required </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" class="middle-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>State</mat-label>
                                <mat-select placeholder="Select" #state formControlName="state">
                                    <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="trrowErrors.state.errors && trrowErrors.state.errors.required"> This
                                    field is required </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="35" class="right-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Zip</mat-label>
                                <input matInput value="" #zip formControlName="zip">
                                <mat-error *ngIf="trrowErrors.zip.errors && trrowErrors.zip.errors.required"> This field
                                    is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Contact Name</mat-label>
                        <input matInput value="" #contactName formControlName="contactName">
                    </mat-form-field>

                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="35" class="left-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Contact Phone</mat-label>
                                <input matInput value="" placeholder="e.g. 000-000-0000" #contactPhone
                                    formControlName="contactPhone">
                                <mat-error
                                    *ngIf="trrowErrors.contactPhone.errors && trrowErrors.contactPhone.errors.pattern">
                                    Invalid format </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" class="middle-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Ext</mat-label>
                                <input matInput value="" #ext formControlName="ext">
                            </mat-form-field>

                        </div>
                        <div fxFlex="35" class="right-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Contact Fax</mat-label>
                                <input matInput value="" placeholder="e.g. 000-000-0000" #cantactFax
                                    formControlName="cantactFax">
                                <mat-error
                                    *ngIf="trrowErrors.cantactFax.errors && trrowErrors.cantactFax.errors.pattern">
                                    Invalid format </mat-error>
                            </mat-form-field>
                        </div>
                    </div>



                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="50" class="left-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Campus Code</mat-label>
                                <input matInput value="" #campusCode formControlName="campusCode">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" class="right-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Program Code</mat-label>
                                <input matInput value="" #programCode formControlName="programCode">
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="50" class="left-control full-width">

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Access Start Time</mat-label>

                                <!-- The timepicker input -->
                                <input matTimepicker #t="matTimepicker" #accessstarttime [strict]="false"
                                    id="timepicker-example" mode="24h" placeholder="Please select time..."
                                    name="accessstarttime" formControlName="startTime">

                                <!-- An icon for the timepicker input that will open the timepicker dialog when clicked -->
                                <mat-icon matSuffix (click)="t.showDialog()">access_time</mat-icon>

                                <!-- Error that will be shown when the input date is invalid -->
                                <mat-error *ngIf="accessstarttime.touched && accessstarttime.invalid">Invalid Date
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50" class="right-control  full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Access End Time</mat-label>

                                <!-- The timepicker input -->
                                <input matTimepicker #t="matTimepicker" #accessendtime [strict]="false"
                                    id="timepicker-example" mode="24h" placeholder="Please select time..."
                                    name="accessendtime" formControlName="endTime">

                                <!-- An icon for the timepicker input that will open the timepicker dialog when clicked -->
                                <mat-icon matSuffix (click)="t.showDialog()">access_time</mat-icon>

                                <!-- Error that will be shown when the input date is invalid -->
                                <mat-error *ngIf="accessendtime.touched && accessendtime.invalid">Invalid Date
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>




                    <div class="btn_actions">


                    </div>



                    <div class="btn_actions">
                        <button mat-stroked-button id="login" class="btn_primary">
                            Add User
                        </button>

                        <!--  <button mat-stroked-button id="login" class="btn_secondary">
                            Cancel
                        </button> -->
                    </div>
                </mat-card>
            </form>
        </div>
    </div>
</div>