<div class="App-login">
  <div class="App-content" fxLayout="row" fxLayoutAlign="center center">
    <form fxFlex="40%" fxFlex.sm="60%" fxFlex.xs="90%" [formGroup]="loginForm">
      <mat-card class="Card">
        <h1>
          <img src="./assets/images/logo-blue.svg" alt="TAB SERVICE COMPANY" class="logo-blue-login">
        </h1>
        <h3>Send Verification Code</h3>

        <h4>Select how you want to receive your verification code.</h4>

        <mat-radio-group aria-label="Select an option" formControlName="Provider" > 
            <mat-radio-button color="primary"  *ngFor="let option of ProviderOptions" 
            [value]="option.value">{{option.label}}
              </mat-radio-button>
        </mat-radio-group>
 
        <p>
            {{timerCountMessage}}
        </p>
        <button mat-stroked-button id="btnSubmit" class="btn_primary" (click)="onSubmit()">
          Submit
        </button>

      </mat-card>

    </form>
  </div>
</div>

