<div class="App-body">
    <div class="App-content">
        <mat-card>
            <h4>
                Report Manager
            </h4>



            <div>

                <!-- Angular 8 pagination -->
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Approved Jobs">

                        <mat-card>
                            <h3>Approved Print Jobs Report </h3>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Search Site id, Description or Status</mat-label>
                                <input matInput type="search">
                            </mat-form-field>


                            <div class="table-content m-b-24">
                                <!-- Angular 8 pagination -->
                                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
                                    style="width:100%">
                                    <ng-container matColumnDef="first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Site ID </th>
                                        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="last_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Form Description</th>
                                        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="login_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Proof Description </th>
                                        <td mat-cell *matCellDef="let element"> {{element.login_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="SSN">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Proc Year </th>
                                        <td mat-cell *matCellDef="let element"> {{element.SSN}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="TaxFormType">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.TaxFormType}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                        <td mat-cell *matCellDef="let element" class="action-link">
                                            <button mat-icon-button color="accent">
                                                <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                                                <mat-icon aria-label="Edit">edit</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                        (click)="selectedRow = selectedRow === row ? null : row"
                                        [ngClass]="{ 'selected': row === selectedRow }"></tr>
                                </table>

                            </div>
                            <div class="btn_actions">
                                <button mat-stroked-button id="btnPrimay" class="btn_primary">
                                    Export
                                </button>
                                <button mat-stroked-button id="btnPrimay" class="btn_primary">
                                    Print
                                </button>

                            </div>

                        </mat-card>

                    </mat-tab>

                    <mat-tab label="Awaiting Jobs">
                        <mat-card>
                            <h3>Awaiting Jobs</h3>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Search Site id, Description or Status</mat-label>
                                <input matInput type="search">
                            </mat-form-field>


                            <div class="table-content m-b-24">
                                <!-- Angular 8 pagination -->
                                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                                <table mat-table [dataSource]="dataSourceAWT" matSort class="mat-elevation-z8"
                                    style="width:100%">
                                    <ng-container matColumnDef="first_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Site ID </th>
                                        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="last_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Site Name</th>
                                        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="login_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Form Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.login_name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="SSN">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Form Description </th>
                                        <td mat-cell *matCellDef="let element"> {{element.SSN}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="TaxFormType">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Proof Description </th>
                                        <td mat-cell *matCellDef="let element"> {{element.TaxFormType}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.TaxFormType}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                        <td mat-cell *matCellDef="let element" class="action-link">
                                            <button mat-icon-button color="accent">
                                                <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                                                <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAWT"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAWT;"></tr>
                                </table>


                            </div>
                            <div class="btn_actions">
                                <button mat-stroked-button id="btnPrimay" class="btn_primary">
                                    Export
                                </button>
                                <button mat-stroked-button id="btnPrimay" class="btn_primary">
                                    Print
                                </button>

                            </div>

                        </mat-card>

                    </mat-tab>

                    <mat-tab label="Proof Status Update">
                        <mat-card>
                            <h3>Proof Status Update</h3>
                            <div class="controls-max-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Proof Job</mat-label>
                                    <input matInput value="">
                                </mat-form-field>

                                <div class="btn_actions">
                                    <button mat-stroked-button id="btnPrimay" class="btn_primary">
                                        Submit
                                    </button>

                                    <button mat-stroked-button id="btnSecondary" class="btn_secondary" tabindex="32">
                                        Clear
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card>
    </div>
</div>