<div class="App-body">
    <div class="App-content">
        <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
            <mat-card>
                <h4>
                    Email Tax Form
                </h4>
                <div class="controls-max-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" #email formControlName="email" required>
                        <mat-error *ngIf="trrowErrors.email.errors && trrowErrors.email.errors.required"> This field is required </mat-error>
                        <mat-error *ngIf="trrowErrors.email.errors && trrowErrors.email.errors.email"> This field accept only email format </mat-error>
                    </mat-form-field>
                    <a mat-icon-button color="primary"
                        class="add_trasaction"
                        aria-label="Set Password" (click)="openDialog()">
                        <mat-icon>lock</mat-icon>
                        <mat-label>Set Password</mat-label>
                    </a>
                </div>

                <div class="btn_actions">
                    <button mat-stroked-button id="btnPrimay" class="btn_primary">
                        Submit
                    </button>
                </div>

            </mat-card>
        </form>
    </div>
</div>