<div class="App-body">
    <div class="App-content">
        <form [formGroup]="createAppForm">
            <mat-card>

                <h4>View History 1099-DIV</h4>
                <div class="Tax-form-content-header" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">

                        <div class="full-width">
                            <div class="btn_actions">
                                <button mat-stroked-button id="Previous" class="btn_primary" tabindex="1">
                                    Previous
                                </button>
                                <button mat-stroked-button id="Next" class="btn_primary" tabindex="2">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="30" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="data_version">
                                <span class="totalPage"> Version 1 / 1
                                </span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="35" class="content p-8 border-LRB" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                        <div class="full-width" fxLayoutAlign="flex-end start">
                            <div class="btn_actions">
                                <button mat-stroked-button id="login" class="btn_primary m-r-8" tabindex="4">
                                    Back to Current Version
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified By: Bob Lambert</h5>
                        </div>
                    </div>
                    <div fxFlex="30" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified Date: 08-20-2020 </h5>
                        </div>
                    </div>
                    <div fxFlex="35" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>IP Address: 192.16.1.1</h5>
                        </div>
                    </div>


                </div>

                <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>
                    <div fxFlex="25" fxFlex.xs="55">
                        <section class="mat-checkbox-section">
                            <mat-checkbox class="mat-checkbox-item" tabindex="1" [disabled]="true" #corrected
                                formControlName="corrected">Corrected</mat-checkbox>
                        </section>
                    </div>
                    <div fxFlex="50" fxFlex.xs="55" fxLayoutAlign="start center">

                    </div>

                    <div fxFlex="25" fxFlex.xs="55" fxLayoutAlign="flex-end center">

                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB border-Top" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Payer's name</mat-label>
                                <input matInput tabindex="2" #payerName formControlName="payerName" [readonly]="true">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="3" #payerAddress1 formControlName="payerAddress1"
                                    [readonly]="true">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="3" #payerAddress2 formControlName="payerAddress2"
                                    [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="3" #payerAddress3 formControlName="payerAddress3"
                                    [readonly]="true">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="6" #payerCity formControlName="payerCity"
                                            [readonly]="true">

                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" #payerState
                                            formControlName="payerState" [disabled]="true">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="8" #payerZip formControlName="payerZip"
                                            [readonly]="true">

                                    </mat-form-field>
                                </div>
                            </div>


                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no.</mat-label>
                                <input matInput tabindex="9" #payerTelephoneNo1 formControlName="payerTelephoneNo1"
                                    [readonly]="true">

                            </mat-form-field>
                            <!-- <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no. 2</mat-label>
                                <input matInput tabindex="10">
                            </mat-form-field> -->
                        </div>
                    </div>

                    <div fxFlex="25" class="content border-RB border-Top">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                            <div fxFlex="30" class="full-width p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>1a. Total ordinary dividends</mat-label>
                                        <input matInput tabindex="25" #totalOrdinaryDividends
                                            formControlName="totalOrdinaryDividends"
                                            matTooltip="1a. Total ordinary dividends" [readonly]="true" type="number">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div fxFlex="30" class="full-width p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>1b. Qualified dividends</mat-label>
                                        <input matInput tabindex="26" #qualifiedDividends
                                            formControlName="qualifiedDividends" matTooltip="1b. Qualified dividends"
                                            [readonly]="true" type="number">
                                    </mat-form-field>
                                </div>


                            </div>

                            <div fxFlex="40" class="full-width p-8 ">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>2a. Total capital gain distr.</mat-label>
                                        <input matInput tabindex="27" #totalCapitalGainDistr
                                            formControlName="totalCapitalGainDistr"
                                            matTooltip="2a. Total capital gain distr." [readonly]="true" type="number">

                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div fxFlex="25" class="content border-RB border-Top" fxFlex.xs="15" fxLayoutAlign="center start">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                            <div fxFlex="40" class="full-width center-align p-8">
                                <h4 style="font-size: 15px;">OMB No. 1545-0110</h4>
                                <h2>{{taxyear}}</h2>
                                <h2 style="font-size: 20px;">Form <strong>1099-DIV</strong></h2>
                            </div>
                            <div fxFlex="20" class="full-width center-align p-8 border-B">

                                <p style="font-size: 15px;">
                                    Dividends and Distributions Income
                                </p>
                            </div>

                            <div fxFlex="40" class="full-width p-8 ">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">

                                        <mat-label>2b. Unrecap. Sec. 1250 gain</mat-label>
                                        <input matInput tabindex="28" #unrecapSec1250Gain
                                            formControlName="unrecapSec1250Gain"
                                            matTooltip="2b. Unrecap. Sec. 1250 gain" [readonly]="true" type="number">

                                    </mat-form-field>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div fxLayout="row wrap" class="full-width" fxFlexFill>
                            <div fxFlex="50">

                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>Payer's TIN
                                        number</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" [disabled]="true" #payerTIN
                                        formControlName="payerTIN">
                                        <mat-option value="">-- Select --</mat-option>
                                        <mat-option value="aaaa">aaa</mat-option>
                                    </mat-select>


                                </mat-form-field>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Recipient's TIN</mat-label>
                                    <input matInput tabindex="12" type="number" [readonly]="true" maxlength="11"
                                        #receiptTIN formControlName="receiptTIN">


                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="25" class="content p-8 border-RB">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>2c. Section 1202 gain</mat-label>
                                <input matInput tabindex="29" #section1202Gain formControlName="section1202Gain"
                                    matTooltip="2c. Section 1202 gain" [readonly]="true" type="number">

                            </mat-form-field>

                        </div>

                    </div>
                    <div fxFlex="25" class="content p-8 border-RB">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>2d. Collectibles (28%) gain</mat-label>
                                <input matInput tabindex="30" #collectibles28Gain formControlName="collectibles28Gain"
                                    matTooltip="2d. Collectibles (28%) gain" [readonly]="true" type="number">
                            </mat-form-field>
                        </div>

                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Recipient's Name</mat-label>
                                <input matInput tabindex="13" #receiptName1 [readonly]="true"
                                    formControlName="receiptName1">

                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Recipient's Name 2</mat-label>
                                <input matInput tabindex="14" #receiptName2 [readonly]="true"
                                    formControlName="receiptName2">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="15" #receiptAddress1 [readonly]="true"
                                    formControlName="receiptAddress1">

                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="16" #receiptAddress2 [readonly]="true"
                                    formControlName="receiptAddress2">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="17" #receiptAddress3 [readonly]="true"
                                    formControlName="receiptAddress3">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="18" #receiptCity [readonly]="true"
                                            formControlName="receiptCity">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="19" #receiptState
                                            formControlName="receiptState" [disabled]="true">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="20" #receiptZip [readonly]="true"
                                            formControlName="receiptZip">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="50">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21" #forignCountry
                                            [disabled]="true" formControlName="forignCountry">Foreign Country
                                        </mat-checkbox>
                                    </section>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Country</mat-label>
                                        <mat-select placeholder="Select" tabindex="22" #receiptCountry
                                            formControlName="receiptCountry" [disabled]="true">
                                            <mat-option value="--Option--">--Option--</mat-option>
                                            <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{
                                                country.DISPLAY_NAME}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="100">
                                    <section class="mat-checkbox-section">
                                        <mat-checkbox class="mat-checkbox-item" tabindex="24" [disabled]="true" #fatca
                                            formControlName="fatca">FATCA filing requirement
                                        </mat-checkbox>
                                    </section>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div fxFlex="50" class="content border-RB">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start" fxFlexFill>
                            <div fxFlex="20" class="full-width">
                                <div fxLayout="row wrap" class="full-width line-controls-50" fxFlexFill>
                                    <div class="full-width p-8 border-RB">
                                        <div class="full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>3. Nondividend distributions</mat-label>
                                                <input matInput tabindex="33" #nondividendDistributions
                                                    formControlName="nondividendDistributions"
                                                    matTooltip="3. Nondividend distributions" [readonly]="true"
                                                    type="number">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="full-width p-8 border-B p-l-8">
                                        <div class="full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>4. Federal income tax withheld</mat-label>
                                                <input matInput tabindex="33" #federalIncomeTaxWithheld
                                                    formControlName="federalIncomeTaxWithheld"
                                                    matTooltip="4. Federal income tax withheld" [readonly]="true"
                                                    type="number">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div fxFlex="20" class="full-width">
                                <div fxLayout="row wrap" class="full-width line-controls-50" fxFlexFill>
                                    <div class="full-width p-8 border-RB">
                                        <div class="full-width">

                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>5. Section 199A dividends</mat-label>
                                                <input matInput tabindex="33" #section199ADividends
                                                    formControlName="section199ADividends"
                                                    matTooltip="5. Section 199A dividends" [readonly]="true"
                                                    type="number">
                                            </mat-form-field>
                                        </div>

                                    </div>

                                    <div class="full-width p-8 border-B p-l-8">
                                        <div class="full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>6. Investment expenses</mat-label>
                                                <input matInput tabindex="32" #investmentExpenses
                                                    formControlName="investmentExpenses"
                                                    matTooltip="6. Investment expenses" [readonly]="true" type="number">
                                            </mat-form-field>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div fxFlex="20" class="full-width">
                                <div fxLayout="row wrap" class="full-width line-controls-50" fxFlexFill>
                                    <div class="full-width p-8 border-RB">
                                        <div class="full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>7. Foreign tax paid</mat-label>
                                                <input matInput tabindex="33" #foreignTaxPaid
                                                    formControlName="foreignTaxPaid" matTooltip="7. Foreign tax paid"
                                                    [readonly]="true" type="number">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="full-width p-8 border-B p-l-8">
                                        <div class="full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>8. Foreign country or U.S. possession</mat-label>
                                                <input matInput tabindex="32" #foreignCountryOrUSPossession
                                                    formControlName="foreignCountryOrUSPossession"
                                                    matTooltip="8. Foreign country or U.S. possession"
                                                    [readonly]="true">
                                            </mat-form-field>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div fxFlex="20" class="full-width">
                                <div fxLayout="row wrap" class="full-width line-controls-50" fxFlexFill>
                                    <div class="full-width p-8 border-RB">
                                        <div class="full-width">

                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>9. Cash liquidation distributions</mat-label>
                                                <input matInput tabindex="33" #cashLiquidationDistributions
                                                    formControlName="cashLiquidationDistributions"
                                                    matTooltip="9. Cash liquidation distributions" [readonly]="true"
                                                    type="number">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="full-width p-8 border-B p-l-8">
                                        <div class="full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>10. Noncash liquidation distributions</mat-label>
                                                <input matInput tabindex="34" #NoncashLiquidationDistributions
                                                    formControlName="NoncashLiquidationDistributions"
                                                    matTooltip="10. Noncash liquidation distributions" [readonly]="true"
                                                    type="number">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div fxFlex="20" class="full-width">
                                <div fxLayout="row wrap" class="full-width line-controls-50" fxFlexFill>
                                    <div class="full-width p-8">
                                        <div class="full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>11. Exempt-interest dividends</mat-label>
                                                <input matInput tabindex="33" #exemptInterestDividends
                                                    formControlName="exemptInterestDividends"
                                                    matTooltip="11. Exempt-interest dividends" [readonly]="true"
                                                    type="number">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="full-width p-8 p-l-8">
                                        <div class="full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>12. Specified private activity bond interest dividends
                                                </mat-label>
                                                <input matInput tabindex="35"
                                                    #specifiedPrivateActivityBondInterestDividends
                                                    formControlName="specifiedPrivateActivityBondInterestDividends"
                                                    matTooltip="12. Specified private activity bond interest dividends"
                                                    [readonly]="true" type="number">
                                            </mat-form-field>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="25" class="content p-8 border-LRB">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Account number (see instructions)</mat-label>
                                <input matInput tabindex="23" #accountNumber [readonly]="true"
                                    formControlName="accountNumber">

                            </mat-form-field>

                        </div>
                    </div>
                    <div fxFlex="25" class="content border-RB">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                            <div class="full-width p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13. State</mat-label>

                                        <input matInput tabindex="40" #stateTaxWithheld1
                                            formControlName="stateTaxWithheld1" matTooltip="13. State" [readonly]="true"
                                            type="number">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="full-width p-8 ">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13. State</mat-label>
                                        <input matInput tabindex="40" #stateTaxWithheld2
                                            formControlName="stateTaxWithheld2" matTooltip="13. State" [readonly]="true"
                                            type="number">

                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div fxFlex="25" class="content border-RB">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                            <div class="full-width p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>14. State identification no.</mat-label>
                                        <input matInput tabindex="40" #statePayersStateNo1
                                            formControlName="statePayersStateNo1"
                                            matTooltip="14. State identification no." [readonly]="true" type="number">

                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="full-width p-8">
                                <div class="full-width">

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>14. State identification no</mat-label>
                                        <input matInput tabindex="40" #statePayersStateNo2
                                            formControlName="statePayersStateNo2"
                                            matTooltip="14. State identification no." [readonly]="true" type="number">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div fxFlex="25" class="content border-RB" fxFlex.xs="15">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                            <div class="full-width p-8  border-B">
                                <div class="full-width">

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>15. State tax withheld</mat-label>
                                        <input matInput tabindex="40" #stateIncome1 formControlName="stateIncome1"
                                            matTooltip="15. State tax withheld" [readonly]="true" type="number">
                                    </mat-form-field>
                                </div>


                            </div>
                            <div class="full-width p-8">
                                <div class="full-width">

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>15. State tax withheld</mat-label>
                                        <input matInput tabindex="40" #stateIncome2 formControlName="stateIncome2"
                                            matTooltip="15. State tax withheld" [readonly]="true" type="number">
                                    </mat-form-field>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Form <strong>1099-DIV</strong></p>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
                        <div>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Form Release Date</mat-label>
                                <input matInput tabindex="5" [readonly]=true formControlName="releasedate">
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">

                        <div>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>E-Consent Date</mat-label>
                                <input matInput tabindex="5" [readonly]=true formControlName="consentdate">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="100" class="content p-8 border-full" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="full-width content-hint">
                                <mat-hint>Memo</mat-hint>
                            </div>
                            <mat-form-field appearance="outline" class="full-width">
    
                                <input matInput type="textarea" #memo formControlName="memo" [readonly]="true">
    
                            </mat-form-field>
                        </div>
                    </div>
                </div>


            </mat-card>
        </form>
    </div>
</div>