<div class="App-body">
    <div class="App-content">
        <mat-card>
            <h4>
                View Audit Log
            </h4>

            <div fxLayout="row">
                <mat-form-field appearance="outline"  class="full-width">
                    <mat-label>Current Status</mat-label>
                    <mat-select placeholder="Select">
                        <mat-option value="1">PROCESSING/PENDING</mat-option>
                        <mat-option value="2">SUCCESS</mat-option>
                        <mat-option value="3">FAILED</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="btn_actions">
                <button mat-stroked-button id="btnPrimay" class="btn_primary">
                    Search
                </button>
            </div>

            <div>

                <!-- Angular 8 pagination -->
                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="first_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Site ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="last_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>USER ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="login_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Login Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.login_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="SSN">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.SSN}} </td>
                    </ng-container>
                    <ng-container matColumnDef="TaxFormType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                        <td mat-cell *matCellDef="let element"> {{element.TaxFormType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ElapsedTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Message ID	 </th>
                        <td mat-cell *matCellDef="let element"> {{element.ElapsedTime}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Message Text</th>
                        <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Before">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Before</th>
                        <td mat-cell *matCellDef="let element"> {{element.Before}} </td>
                    </ng-container>

                    <ng-container matColumnDef="After">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>After</th>
                        <td mat-cell *matCellDef="let element"> {{element.After}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selectedRow = selectedRow === row ? null : row"
                    [ngClass]="{ 'selected': row === selectedRow }"></tr>
                </table>

            </div>
        </mat-card>
    </div>
</div>