<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>
                <h4>
                    Form/Report Generator
                </h4>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Select related site</mat-label>
                    <mat-select placeholder="Select">
                        <mat-option value="option">AA</mat-option>
                        <mat-option value="option">AB</mat-option>
                        <mat-option value="option">AE</mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Form Type</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="1">1042S</mat-option>
                                <mat-option value="2">1094-C</mat-option>
                                <mat-option value="3">1095-B</mat-option>
                                <mat-option value="4">1095-C</mat-option>
                                <mat-option value="5">1098-E</mat-option>
                                <mat-option value="6">1098-T</mat-option>
                                <mat-option value="7">1099-C</mat-option>
                                <mat-option value="8">1099-DIV</mat-option>
                                <mat-option value="9">1099-INT</mat-option>

                                <mat-option value="10">1099-MISC</mat-option>
                                <mat-option value="11">1099-NEC</mat-option>
                                <mat-option value="12">1099-R</mat-option>
                                <mat-option value="13">1099-SA</mat-option>
                                <mat-option value="14">3921</mat-option>
                                <mat-option value="15">3922</mat-option>
                                <mat-option value="16">5498-SA</mat-option>
                                <mat-option value="17">T4A</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" class="right-control full-width">

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Job Name</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">AA</mat-option>
                                <mat-option value="option">AB</mat-option>
                                <mat-option value="option">AE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>


                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>EIN</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">AA</mat-option>
                                <mat-option value="option">AB</mat-option>
                                <mat-option value="option">AE</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div fxFlex="50" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Database Load ID</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">AA</mat-option>
                                <mat-option value="option">AB</mat-option>
                                <mat-option value="option">AE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Proof Description</mat-label>
                    <input matInput value="">
                </mat-form-field>


                <h5>Filter Settings</h5>
                <div fxLayout="row">
                    <div class="p-8 full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Filter By</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">AA</mat-option>
                                <mat-option value="option">AB</mat-option>
                                <mat-option value="option">AE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="p-8 full-width">

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Filter Value</mat-label>
                            <input matInput value="">
                        </mat-form-field>
                    </div>

                </div>

                <div fxLayout="row">
                    <div class="p-8 full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Filter By 2</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">AA</mat-option>
                                <mat-option value="option">AB</mat-option>
                                <mat-option value="option">AE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="p-8 full-width">

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Filter Value 2</mat-label>
                            <input matInput value="">
                        </mat-form-field>
                    </div>

                </div>

                <h5>Order By</h5>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>1st Order</mat-label>
                    <mat-select placeholder="Select">
                        <mat-option value="option">Box_Recipient_Id_Number</mat-option>
                        <mat-option value="option">Box_Account_number</mat-option>
                        <mat-option value="option">Box_Recipient_Name</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>2nd Order</mat-label>
                    <mat-select placeholder="Select">
                        <mat-option value="option">Box_Recipient_Id_Number</mat-option>
                        <mat-option value="option">Box_Account_number</mat-option>
                        <mat-option value="option">Box_Recipient_Name</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>3rd Order</mat-label>
                    <mat-select placeholder="Select">
                        <mat-option value="option">Box_Recipient_Id_Number</mat-option>
                        <mat-option value="option">Box_Account_number</mat-option>
                        <mat-option value="option">Box_Recipient_Name</mat-option>
                    </mat-select>
                </mat-form-field>


                <section class="mat-checkbox-section">
                    <mat-checkbox class="mat-checkbox-item" tabindex="1"> Corrections Only</mat-checkbox>
                </section>

                <h5>Reprint Flag</h5>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Y</mat-radio-button>
                    <mat-radio-button value="2">ALL</mat-radio-button>
                </mat-radio-group>

                <section class="mat-checkbox-section" style="margin-top: -2px;">
                    <mat-checkbox class="mat-checkbox-item" tabindex="1">Clear Reprint Flag</mat-checkbox>
                </section>

                <div class="btn_actions">
                    <button mat-stroked-button id="btnPrimay" class="btn_primary">
                        Create Proof
                    </button>
                </div>



            </mat-card>
        </div>
    </div>
</div>