<div class="App-body">
    <div class="App-content">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <mat-card>

                <h4>
                    Update Form 3921
                </h4>
                <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>

                    <div fxFlex="75" fxFlex.xs="55" fxLayoutAlign="start center">

                    </div>

                    <div fxFlex="25" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                        <a class="clear btn_Forgot" routerLink="#" tabindex="1" (click)="viewHistory()"> View
                            History</a>
                    </div>
                </div>


                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="content p-8 border-LRB border-Top" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Transferor's Name</mat-label>
                                <input matInput tabindex="2" formControlName="TransferName" [readonly]="true" required>
                                <mat-error
                                    *ngIf="trrowErrors.TransferName.errors && trrowErrors.TransferName.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Transferor's Name2</mat-label>
                                <input matInput tabindex="3" formControlName="TransferName2" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address</mat-label>
                                <input matInput tabindex="5" formControlName="Transferaddress" [readonly]="true"
                                    required>
                                <mat-error
                                    *ngIf="trrowErrors.Transferaddress.errors && trrowErrors.Transferaddress.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="5" formControlName="Transferaddress2" [readonly]="true"
                                    required>
                                <mat-error
                                    *ngIf="trrowErrors.Transferaddress2.errors && trrowErrors.Transferaddress2.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="5" formControlName="Transferaddress3" [readonly]="true">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="6" formControlName="Transfercity" [readonly]="true"
                                            required>
                                        <mat-error
                                            *ngIf="trrowErrors.Transfercity.errors && trrowErrors.Transfercity.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" formControlName="transferState">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="trrowErrors.transferState.errors && trrowErrors.transferState.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="8" formControlName="Transferzip" [readonly]="true"
                                            required>
                                        <mat-error
                                            *ngIf="trrowErrors.Transferzip.errors && trrowErrors.Transferzip.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Transferor's Telephone No.</mat-label>
                                <input matInput tabindex="9" formControlName="Transferphone" [readonly]="true" required>
                                <mat-error
                                    *ngIf="trrowErrors.Transferphone.errors && trrowErrors.Transferphone.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                    <div fxFlex="50" class="content border-RB border-Top">

                        <div fxLayout="column" class="full-width" fxLayoutAlign="space-evenly center" fxFlexFill>


                            <div fxFlex="30" fxLayout="row" class="full-width border-B">
                                <div fxFlex="60" class="full-width center-align p-8">
                                    <h4>OMB No. 1545-2129</h4>
                                    <div *ngIf="taxyear < 2005">
                                        <h2>{{taxyear}}</h2>
                                    </div>
                                    <h2 style="font-size: 20px;">Form <strong>3921</strong></h2>
                                </div>
                                <div fxFlex="40" fxLayoutAlign="end start">
                                    <p style="font-size: 15px;">
                                        Exercise of an
                                        Incentive Stock
                                        Option Under
                                        Section 422(b)
                                        </p>
                                </div>
                            </div>



                            <div fxFlex="70" class="full-width content p-8">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Employee's name</mat-label>
                                    <input matInput tabindex="2" formControlName="EmployeeName" required>
                                    <mat-error
                                        *ngIf="trrowErrors.EmployeeName.errors && trrowErrors.EmployeeName.errors.required">
                                        This field is required </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Street Address1</mat-label>
                                    <input matInput tabindex="5" formControlName="Employeeaddress" required>
                                    <mat-error
                                        *ngIf="trrowErrors.Employeeaddress.errors && trrowErrors.Employeeaddress.errors.required">
                                        This field is required </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Street Address2</mat-label>
                                    <input matInput tabindex="5" formControlName="Employeeaddress2" required>
                                    <mat-error
                                        *ngIf="trrowErrors.Employeeaddress2.errors && trrowErrors.Employeeaddress2.errors.required">
                                        This field is required </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Street Address3</mat-label>
                                    <input matInput tabindex="5" formControlName="Employeeaddress2">
                                </mat-form-field>

                                <div fxLayout="row wrap" class="full-width">
                                    <div fxFlex="35">
                                        <mat-form-field appearance="outline" class="full-width Left-controls">
                                            <mat-label>City</mat-label>
                                            <input matInput tabindex="6" formControlName="Employeecity" required>
                                            <mat-error
                                                *ngIf="trrowErrors.Employeecity.errors && trrowErrors.Employeecity.errors.required">
                                                This field is required </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="30">
                                        <mat-form-field appearance="outline" class="full-width middle-controls">
                                            <mat-label>State</mat-label>
                                            <mat-select placeholder="Select" tabindex="7"
                                                formControlName="EmployeeState">
                                                <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                    state.DISPLAY_NAME }}</mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="trrowErrors.transferState.errors && trrowErrors.transferState.errors.required">
                                                This field is required </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="35">
                                        <mat-form-field appearance="outline" class="full-width right-controls">
                                            <mat-label>Zip</mat-label>
                                            <input matInput tabindex="8" formControlName="Employeezip" required>
                                            <mat-error
                                                *ngIf="trrowErrors.Employeezip.errors && trrowErrors.Employeezip.errors.required">
                                                This field is required </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="content" fxFlex.xs="55">
                        <div>
                            <div class="p-8 border-LRB">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Transferor's Federal Identification Number</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" formControlName="transferFederalNo"
                                        required>
                                        <mat-option value="011234599">011234599</mat-option>
                                        <mat-option value="042993547">042993547</mat-option>
                                        <mat-option value="061609560">061609560</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="trrowErrors.transferFederalNo.errors && trrowErrors.transferFederalNo.errors.required">
                                        This field is required </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8 border-RB" fxFlex.xs="55">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Employee's Identification Number</mat-label>
                            <input matInput tabindex="8" formControlName="employee_identification_no" required>
                            <mat-error
                                *ngIf="trrowErrors.employee_identification_no.errors && trrowErrors.employee_identification_no.errors.required">
                                This field is required </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Form Release Date</mat-label>
                                <input matInput formControlName="formReleaseDate" [readonly]="true">
                                <mat-hint>MM-DD-YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="50" class="content p-8 border-RB" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>E-Consent Date</mat-label>
                                <input matInput formControlName="consentDate" [readonly]="true">
                                <mat-hint>MM-DD-YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="100" class="content p-8 border-full" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="full-width content-hint">
                                <mat-hint>Memo</mat-hint>
                            </div>
                            <mat-form-field appearance="outline" class="full-width">
    
                                <input matInput type="textarea" #memo formControlName="memo" [readonly]="true">
    
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <div class="table-content m-b-24">

                    <table mat-table [dataSource]="dataSource" matSort class="full-width mat-elevation-z8">

                        <ng-container matColumnDef="seq">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.seq}} </td>
                        </ng-container>

                        <ng-container matColumnDef="first_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Box 1 Date option granted</th>
                            <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>

                        </ng-container>

                        <ng-container matColumnDef="last_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Box 2 Date option exercised</th>
                            <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ssn">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Box 3 Exercise price per share</th>
                            <td mat-cell *matCellDef="let element"> {{element.ssn}} </td>
                        </ng-container>

                        <ng-container matColumnDef="school_student_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Box 4 Fair Market value per share on
                                exercise
                                date</th>
                            <td mat-cell *matCellDef="let element"> {{element.school_student_id}} </td>
                        </ng-container>


                        <ng-container matColumnDef="transferred_box5">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Box 5 No. of shares transferred</th>
                            <td mat-cell *matCellDef="let element"> {{element.transferred_box5}} </td>
                        </ng-container>
                        <ng-container matColumnDef="EIN">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Box 6 EIN</th>
                            <td mat-cell *matCellDef="let element"> {{element.school_student_id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Box 6 Company</th>
                            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Address">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Box 6 Address</th>
                            <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
                        </ng-container>
                        <ng-container matColumnDef="citystatezip">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Box 6 City, State, Zip</th>
                            <td mat-cell *matCellDef="let element"> {{element.citystatezip}} </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td mat-cell *matCellDef="let element" class="action-link"><button mat-icon-button
                                    color="accent">
                                    <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                                    <mat-icon aria-label="Edit" (click)="openInsertDialog()">edit</mat-icon>
                                </button>

                                <button mat-icon-button color="accent">
                                    <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                                    <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="exporter">
                            <td mat-header-cell *matHeaderCellDef colspan="2" class="mat-table-toolbar">
                                <div class="btn_actions">
                                    <button mat-stroked-button id="table3922" class="btn_secondary" tabindex="32"
                                        (click)="Add3921Record()">
                                        Add Transaction
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Paginator column -->
                        <ng-container matColumnDef="paginator">
                            <td mat-header-cell *matHeaderCellDef colspan="9" class="mat-table-toolbar">
                                <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['exporter', 'paginator']"></tr>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            (click)="selectedRow = selectedRow === row ? null : row"
                            [ngClass]="{ 'selected': row === selectedRow }"></tr>



                    </table>
                </div>


                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="content p-8 p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Form <strong>3921</strong></p>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8 p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                        </div>
                    </div>
                </div>

                <div class="btn_actions">
                    <button mat-stroked-button id="login" class="btn_primary" tabindex="35">
                        Submit
                    </button>
                </div>
            </mat-card>
        </form>
    </div>
</div>