<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>
                <h4>
                    Add Entity
                </h4>



                <form class="basic-form" [formGroup]="addentity" (ngSubmit)="AddEntity()">

                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="35" class="left-control full-width">

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>EIN</mat-label>
                                <input matInput value=""  #ein formControlName="ein" placeholder="e.g. 00-00000000">
                                <mat-error *ngIf="Errors.ein.errors && Errors.ein.errors.pattern && Errors.entityname.errors.required"> Invalid format </mat-error>
                            </mat-form-field>

                        </div>

                        <div fxFlex="65" class="right-control  full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Entity Name</mat-label>
                                <input matInput formControlName='entityname'>
                                <mat-error *ngIf="Errors.entityname.errors && Errors.entityname.errors.required"> This field is required </mat-error>
                            </mat-form-field>

                        </div>
                    </div>



                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address 1</mat-label>
                        <input matInput formControlName='address1'>
                        <mat-error *ngIf="Errors.address1.errors && Errors.address1.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address 2</mat-label>
                        <input matInput  formControlName='address2'>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address 3</mat-label>
                        <input matInput formControlName='address3'>
                    </mat-form-field>

                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="35" class="left-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>City</mat-label>
                                <input matInput value="" formControlName='city'>
                                <mat-error *ngIf="Errors.city.errors && Errors.city.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" class="middle-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>State</mat-label>
                                <mat-select placeholder="Select" #state formControlName='state'>
                                    <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="Errors.state.errors && Errors.state.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="35" class="right-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Zip</mat-label>
                                <input matInput value="" formControlName='zipcode'>
                                <mat-error *ngIf="Errors.zipcode.errors && Errors.zipcode.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="50" class="left-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Phone Number 1</mat-label>
                                <input matInput formControlName='phone1'>
                                <mat-error *ngIf="Errors.phone1.errors && Errors.phone1.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50" class="right-control  full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Phone Number 2</mat-label>
                                <input matInput formControlName='phone2'>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="80" class="right-control full-width">
                            <mat-form-field appearance="outline">
                                <mat-label>Fax</mat-label>
                                <input matInput formControlName='fax'>
                                <mat-error *ngIf="Errors.fax.errors && Errors.fax.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <section class="p-b-24">
                        <mat-checkbox class="mat-checkbox-item" formControlName='federal'>Combined Federal State Filing Program</mat-checkbox>
                    </section>
                    <p>The Combined Federal State Filing program only applies to the following forms:
                        1099-INT, 1099-MISC & 1099-R.</p>

                    <div class="btn_actions">
                        <button mat-stroked-button id="btnPrimay" class="btn_primary">
                            Add Entity
                        </button>
                        <button type="button" mat-stroked-button (click)="cancelButton()" id="btnPrimay" class="btn_secondary">
                            Cancel
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>