<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>
                <h4>
                    Add Point of Contact
                </h4>

                <div>
                    <form class="basic-form" [formGroup]="pocs" (ngSubmit)="Addpoc()">

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Site ID</mat-label>
                            <input matInput [value]="CookieSiteId"  formControlName='site' [readonly]="true">
                            <mat-error *ngIf="Errors.site.errors && Errors.site.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                            <div fxFlex="50" class="left-control full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>POC Name</mat-label>
                                    <input matInput formControlName='contactname'> 
                                    <mat-error *ngIf="Errors.contactname.errors && Errors.contactname.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50" class="right-control full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Title</mat-label>
                                    <input matInput formControlName='title'>
                                    <mat-error *ngIf="Errors.title.errors && Errors.title.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Address 1</mat-label>
                            <input matInput formControlName='address1'>
                            <mat-error *ngIf="Errors.address1.errors && Errors.address1.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Address 2</mat-label>
                            <input matInput formControlName='address2'> 
                        </mat-form-field>

                        <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                            <div fxFlex="35" class="left-control full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>City</mat-label>
                                    <input matInput value="" formControlName='city'>
                                    <mat-error *ngIf="Errors.city.errors && Errors.city.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="30" class="middle-control full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" #state formControlName='state'>
                                        <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="Errors.state.errors && Errors.state.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35" class="right-control full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Zip</mat-label>
                                    <input matInput value="" formControlName='zip'>
                                    <mat-error *ngIf="Errors.zip.errors && Errors.zip.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                            <div fxFlex="50" class="left-control full-width">

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Phone1</mat-label>
                                    <input matInput formControlName='phn1'>
                                    <mat-error *ngIf="Errors.phn1.errors && Errors.phn1.errors.required"> This field is required  </mat-error>
                                    <mat-error *ngIf="Errors.phn1.errors && Errors.phn1.errors.pattern">  Invalid Format </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50" class="right-control full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Phone2</mat-label>
                                    <input matInput formControlName='phn2'>
                                    <mat-error *ngIf="Errors.phn2.errors && Errors.phn2.errors.required"> This field is required  </mat-error>
                                    <mat-error *ngIf="Errors.phn2.errors && Errors.phn2.errors.pattern"> Invalid Format </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName='email' pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                            <mat-error *ngIf="Errors.email.errors && Errors.email.errors.required"> This field is required  </mat-error>
                            <mat-error *ngIf="pocs.get('email').hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                        
                        <section class="p-b-24" >
                            <mat-checkbox class="mat-checkbox-item" formControlName='recipient'> Enable support request recipient</mat-checkbox>
                        </section> 

                        <div class="btn_actions">
                            <button mat-stroked-button id="btnPrimay" class="btn_primary">
                                Add Point of Contact
                            </button>
                            <button type="button" mat-stroked-button (click)="cancelButton()" id="btnPrimay" class="btn_secondary">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </mat-card>
        </div>
    </div>
</div>