<div class="App-body">
    <div class="App-content">

        <mat-card>
            <h4>
                Modify Site
            </h4>

            <div>

                <!-- Angular 8 pagination -->
                <mat-tab-group mat-align-tabs="start"  [(selectedIndex)]=selectedIndex>
                    <mat-tab label="Site Manager">

                        <mat-card>

                            <h3>Site Manager</h3>
                            <!-- ============================================================== -->
                            <!-- column -->
                            <!-- ============================================================== -->
                            <form class="basic-form" [formGroup]="createSiteForm" (ngSubmit)="onSiteSubmit()">
                                <div class="controls-max-width">


                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Company Name</mat-label>
                                        <input matInput #companyName formControlName="companyName" required>
                                        <mat-error *ngIf="trrowErrors.companyName.errors && trrowErrors.companyName.errors.required"> This field is required </mat-error>
                                        <mat-error *ngIf="trrowErrors.companyName.errors && trrowErrors.companyName.errors.cannotContainSpace"> This field can not contain space </mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Folder Name</mat-label>
                                        <input matInput #folderName formControlName="folderName" [readonly]="true" required>
                                        <mat-error *ngIf="trrowErrors.folderName.errors && trrowErrors.folderName.errors.required"> This field is required </mat-error>
                                        <mat-error *ngIf="trrowErrors.folderName.errors && trrowErrors.folderName.errors.cannotContainSpace"> This field can not contain space </mat-error>
                                    </mat-form-field>

                                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                                        <div fxFlex="{{fakeImagePath ? 70 : 100}}" class="left-control full-width">
                                            <ngx-file-drag-drop activeBorderColor="#3F51B5" 
                                            (valueChanged)="onValueChange($event)" class="ngx-file-drag-drop"
                                            emptyPlaceholder="Drop file or click to select logo file"
                                            >
                                            
                                            </ngx-file-drag-drop>
                                        </div>
                                        <div fxFlex="30" class="right-control full-width" *ngIf="fakeImagePath">
                                            <img [src]='fakeImagePath' style="width: 140px;">
                                        </div>
                                    </div>

                                    <!-- <div class="full-width">
                                        <ngx-file-drag-drop activeBorderColor="#3F51B5" 
                                            (valueChanged)="onValueChange($event)" class="ngx-file-drag-drop"
                                            emptyPlaceholder="Drop file or click to select logo file"
                                            >
                                            
                                        </ngx-file-drag-drop>
                                        
                                        <img [src]='fakeImagePath' *ngIf="fakeImagePath">
                                    </div> -->


                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Address 1</mat-label>
                                        <input matInput #address1 formControlName="address1">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Address 2</mat-label>
                                        <input matInput #address2 formControlName="address2">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Address 3</mat-label>
                                        <input matInput #address3 formControlName="address3">
                                    </mat-form-field>

                                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                                        <div fxFlex="35" class="left-control full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>City</mat-label>
                                                <input matInput #city formControlName="city" value="">
                                                <mat-error *ngIf="trrowErrors.city.errors && trrowErrors.city.errors.required"> This field is required </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="30" class="middle-control full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>State</mat-label>
                                                <mat-select placeholder="Select" formControlName="state">
                                                    <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="trrowErrors.state.errors && trrowErrors.state.errors.required"> This field is required </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="35" class="right-control full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>Zip</mat-label>
                                                <input matInput #zip formControlName="zip" value="" >
                                                <mat-error *ngIf="trrowErrors.zip.errors && trrowErrors.zip.errors.required"> This field is required </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>


                                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                                        <div fxFlex="50" class="left-control full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>Contact Name</mat-label>
                                                <input matInput #contactName formControlName="contactName" value="" >
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50" class="right-control full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>Contact Email</mat-label>
                                                <input matInput #contactEmail formControlName="contactEmail" type="email" value="" required>
                                                <mat-error *ngIf="trrowErrors.contactEmail.errors && trrowErrors.contactEmail.errors.required"> This field is required </mat-error>
                                                <mat-error *ngIf="trrowErrors.contactEmail.errors && trrowErrors.contactEmail.errors.email"> This field accept only email format </mat-error>
                                                <mat-error *ngIf="trrowErrors.contactEmail.errors && trrowErrors.contactEmail.errors.cannotContainSpace"> This field can not contain space </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                                        <div fxFlex="35" class="left-control full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>Contact Phone</mat-label>
                                                <input matInput #contactPhone formControlName="contactPhone" value="" placeholder="e.g. 000-000-0000">
                                                <mat-error *ngIf="trrowErrors.contactPhone.errors && trrowErrors.contactPhone.errors.pattern"> Invalid format </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="30" class="middle-control full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>Ext</mat-label>
                                                <input matInput #ext formControlName="ext" value="">
                                            </mat-form-field>

                                        </div>
                                        <div fxFlex="35" class="right-control full-width">
                                            <mat-form-field appearance="outline" class="full-width">
                                                <mat-label>Contact Fax</mat-label>
                                                <input matInput #contactFax formControlName="contactFax" value="" placeholder="e.g. 000-000-0000" >
                                                <mat-error *ngIf="trrowErrors.contactFax.errors && trrowErrors.contactFax.errors.pattern"> Invalid format </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>


                                    <h4>Mask SSN</h4>
                                    <div>
                                        <section class="mat-checkbox-section" *ngFor='let maskSSN of maskSSNList'>
                                            <mat-checkbox class="mat-checkbox-item" [checked]="createSiteForm.value.maskSSN.includes(maskSSN.value) ? true : false" (change)="onCheckSSN($event)" [value]="maskSSN.value">{{ maskSSN.name }}</mat-checkbox>
                                        </section>
                                    </div>

                                    <div fxLayout="row">
                                        <section class="p-b-24">
                                            <mat-checkbox class="mat-checkbox-item" #createSupportRequest formControlName="createSupportRequest" tabindex="1">Create support request</mat-checkbox>
                                            
                                        </section>
                                        
                                    </div>
                                </div>

                                <div class="table-content full-width p-b-24">
                                    <table mat-table [dataSource]="TemplatedataSource" style="width:100%">
                                        <ng-container matColumnDef="Tax_Year">
                                            <th mat-header-cell *matHeaderCellDef>Tax Year</th>
                                            <td mat-cell *matCellDef="let element"> {{element.Tax_Year}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="Site_Type">
                                            <th mat-header-cell *matHeaderCellDef>Site Type</th>
                                            <td mat-cell *matCellDef="let element">
                                                <mat-radio-group aria-label="Select an option" (change)="onChangeYearForm(element.Tax_Year, 'Site_Type', $event)">
                                                    <mat-radio-button value="P" [checked]="createSiteForm.value.yearValues[element.Tax_Year].Site_Type == 'P' ? true : false">PRODUCTION</mat-radio-button>
                                                    <mat-radio-button value="T" [checked]="createSiteForm.value.yearValues[element.Tax_Year].Site_Type == 'T' ? true : false">TEST</mat-radio-button>
                                                </mat-radio-group>                           
                                            </td>
                    
                                        </ng-container>
                     
                    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                            (click)="selectedRow = selectedRow === row ? null : row"
                                            [ngClass]="{ 'selected': row === selectedRow }"></tr>
                                    </table>
                                </div>

                                <div class="btn_actions">
                                    <button mat-stroked-button id="btnPrimay" class="btn_primary">
                                        Modify Site
                                    </button>
                                </div>


                            </form>



                        </mat-card>

                    </mat-tab>
                    <mat-tab label="Entity Manager">

                        <mat-card>
                            <h4>
                                Entity Manager
                            </h4>
                            <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="submitentity()">
                                Add Entity
                            </button>

                        </mat-card>
                        <mat-card>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Search EIN or Entity Name</mat-label>
                                <input matInput (keyup)="searchEntityData($event.target.value)" type="search">
                            </mat-form-field>


                            <div style="overflow: auto">

                                <!-- Angular 8 pagination -->
                                <mat-paginator #entityPaginator="matPaginator" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                                <table mat-table [dataSource]="EntitydataSource" matSort class="mat-elevation-z8"
                                    style="width:100%">

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                        <td mat-cell *matCellDef="let element" class="action-link"><button
                                                mat-icon-button color="accent" [routerLink]="['/editentity', element.EIN_NUMBER]">
                                                <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                                                <mat-icon aria-label="Edit">edit</mat-icon>
                                            </button>

                                            <button mat-icon-button color="accent" (click)="deleteEntity(element.EIN_NUMBER)">
                                                <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                                                <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="entity_name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Entity Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.EIN_NAME}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="address1">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address1</th>
                                        <td mat-cell *matCellDef="let element"> {{element.ADDRESS1}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="address2">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address2</th>
                                        <td mat-cell *matCellDef="let element"> {{element.ADDRESS2}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="city">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
                                        <td mat-cell *matCellDef="let element"> {{element.CITY}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="state">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
                                        <td mat-cell *matCellDef="let element"> {{element.STATE}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="zipcode">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Zipcode</th>
                                        <td mat-cell *matCellDef="let element"> {{element.ZIP}} </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="EntitydisplayedColumns"></tr>

                                    <tr mat-row *matRowDef="let row; columns: EntitydisplayedColumns;"
                                        (click)="EntityselectedRow = EntityselectedRow === row ? null : row"
                                        [ngClass]="{ 'selected': row === EntityselectedRow }"></tr>


                                </table>

                            </div>


                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Points of Contact">
                        <mat-card>
                            <h4>
                                Points of Contact
                            </h4>
                            <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="submitPocs()">
                                Add Point of Contact
                            </button>

                        </mat-card>

                        <mat-card>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Search site id, name, title or email</mat-label>
                                <input matInput type="search" (keyup)="searchPOCData($event.target.value)">
                            </mat-form-field>


                            <div  style="overflow: auto">
                                <!-- Angular 8 pagination -->
                                <mat-paginator #pocPaginator="matPaginator" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                                <table mat-table [dataSource]="POCdataSource" matSort class="mat-elevation-z8"
                                    style="width:100%">


                                    <ng-container matColumnDef="site_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Site Id</th>
                                        <td mat-cell *matCellDef="let element"> {{element.SITE_ID}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> POC Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.POC_Name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="title">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                        <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="city">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                                        <td mat-cell *matCellDef="let element"> {{element.City}} </td>
                                    </ng-container>
 

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                        <td mat-cell *matCellDef="let element" class="action-link"><button 
                                        mat-icon-button color="accent" [routerLink]="['/editpocs', element.Site_poc_id]">
                                                <mat-icon aria-label="Edit">edit</mat-icon>
                                            </button>

                                            <button mat-icon-button color="accent" (click)="deletePOC(element.Site_poc_id)">
                                                <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="POCdisplayedColumns"></tr>

                                    <tr mat-row *matRowDef="let row; columns: POCdisplayedColumns;"
                                        (click)="POCselectedRow = POCselectedRow === row ? null : row"
                                        [ngClass]="{ 'selected': row === POCselectedRow }"></tr>


                                </table>

                            </div>


                        </mat-card>
                    </mat-tab>
                </mat-tab-group>

            </div>

        </mat-card>



    </div>
</div>