<div class="App-body">
    <div class="App-content">

        <mat-card>
            <h4>Create 1099-C</h4>

            <div class="btn_actions p-b-24">
                <button mat-stroked-button id="login" class="btn_primary" tabindex="32">
                    Submit
                </button>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8  border-LRB border-Top" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Payer's name</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address1</mat-label>
                            <input matInput tabindex="3">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address2</mat-label>
                            <input matInput tabindex="4">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address3</mat-label>
                            <input matInput tabindex="5">
                        </mat-form-field>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6">
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7">
                                        <mat-option value="option">State 1</mat-option>
                                        <mat-option value="option">State 2</mat-option>
                                        <mat-option value="option">State 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8">
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Telephone no.</mat-label>
                            <input matInput tabindex="9">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Telephone no. 2</mat-label>
                            <input matInput tabindex="10">
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="25" class="content border-RB border-Top">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                        <div fxFlex="30" class="full-width p-8 border-B">
                            <div class="full-width">
                                <mat-form-field appearance="outline"
                                    (mouseenter)="TooltipMouseenter($event, box1tooltip)"
                                    (focus)="Showtooltip($event, box1tooltip)"
                                    (click)="Showtooltip($event, box1tooltip)" (blur)="Hidetooltip($event, box1tooltip)"
                                    (mouseout)="TooltipMouseout($event, box1tooltip)" class="full-width">
                                    <mat-label>1. Date of Identifiable Event (YYYYMMDD)</mat-label>
                                    <input matInput tabindex="24">
                                </mat-form-field>
                            </div>
                            <span class="custom-tooltip" matTooltipHideDelay="100000"
                                matTooltip="1. Date of Identifiable Event (YYYYMMDD)" matTooltipPosition="after"
                                #box1tooltip="matTooltip">
                            </span>

                        </div>
                        <div fxFlex="30" class="full-width p-8 border-B">
                            <div class="full-width">
                                <mat-form-field appearance="outline"
                                    (mouseenter)="TooltipMouseenter($event, box2tooltip)"
                                    (focus)="Showtooltip($event, box2tooltip)"
                                    (click)="Showtooltip($event, box2tooltip)" (blur)="Hidetooltip($event, box2tooltip)"
                                    (mouseout)="TooltipMouseout($event, box2tooltip)" class="full-width">
                                    <mat-label>2. Amount of Debt Discharged</mat-label>
                                    <input matInput tabindex="25">

                                </mat-form-field>
                            </div>
                            <span class="custom-tooltip" matTooltipHideDelay="100000"
                                matTooltip="2. Amount of Debt Discharged" matTooltipPosition="after"
                                #box2tooltip="matTooltip">
                            </span>
                        </div>

                        <div fxFlex="40" class="full-width p-8">
                            <div class="full-width">

                                <mat-form-field appearance="outline"
                                    (mouseenter)="TooltipMouseenter($event, box3tooltip)"
                                    (focus)="Showtooltip($event, box3tooltip)"
                                    (click)="Showtooltip($event, box3tooltip)" (blur)="Hidetooltip($event, box3tooltip)"
                                    (mouseout)="TooltipMouseout($event, box3tooltip)" class="full-width">
                                    <mat-label>3. Interest if included in box 2</mat-label>
                                    <input matInput tabindex="26">

                                </mat-form-field>
                            </div>
                            <span class="custom-tooltip" matTooltipHideDelay="100000"
                                matTooltip="3. Interest if included in box 2" matTooltipPosition="after"
                                #box3tooltip="matTooltip">
                            </span>

                        </div>
                    </div>
                </div>

                <div fxFlex="25" class="content border-RB border-Top">
                    <div class="center-align p-8 border-B">
                        <h4>OMB No. 1545-1424</h4>
                        <h2>2020</h2>
                        <h2>Form <strong>1099-C</strong></h2>
                    </div>
                    <div class="center-align p-8">
                        <h4>Cancellation of Debt</h4>
                    </div>
                </div>


            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8  border-LRB" fxFlex.xs="55">
                    <div fxLayout="row wrap" class="full-width" fxFlexFill>
                        <div fxFlex="50">


                            <mat-form-field appearance="outline" class="full-width Left-controls">
                                <mat-label>CREDITOR'S Federal identification number</mat-label>
                                <input matInput tabindex="11">

                            </mat-form-field>
                        </div>
                        <div fxFlex="50">
                            <mat-form-field appearance="outline" class="full-width right-controls">
                                <mat-label>DEBTOR'S identification number</mat-label>
                                <input matInput tabindex="12">

                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxFlex="50" class="content p-8  border-RB">
                    <div class="full-width">
                        <mat-form-field appearance="outline" (mouseenter)="TooltipMouseenter($event, box4tooltip)"
                            (focus)="Showtooltip($event, box4tooltip)" (click)="Showtooltip($event, box4tooltip)"
                            (blur)="Hidetooltip($event, box4tooltip)" (mouseout)="TooltipMouseout($event, box4tooltip)"
                            class="full-width">
                            <mat-label>4. Debt description</mat-label>
                            <input matInput tabindex="27">
                        </mat-form-field>
                    </div>
                    <span class="custom-tooltip" matTooltipHideDelay="100000" matTooltip="4. Debt description"
                        matTooltipPosition="after" #box4tooltip="matTooltip">
                    </span>

                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8  border-LRB">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Recipient's Name</mat-label>
                            <input matInput tabindex="13">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Recipient's Name 2</mat-label>
                            <input matInput tabindex="14">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address1</mat-label>
                            <input matInput tabindex="15">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address2</mat-label>
                            <input matInput tabindex="16">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address3</mat-label>
                            <input matInput tabindex="17">
                        </mat-form-field>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="18">
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="19">
                                        <mat-option value="option">State 1</mat-option>
                                        <mat-option value="option">State 2</mat-option>
                                        <mat-option value="option">State 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="20">
                                </mat-form-field>
                            </div>
                        </div>
                         
                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="50">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21">Foreign Country</mat-checkbox>
                                </section>
                            </div>

                            <div fxFlex="50">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="22">
                                        <mat-option value="option">Country 1</mat-option>
                                        <mat-option value="option">Country 2</mat-option>
                                        <mat-option value="option">Country 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>

                <div fxFlex="50" class="content border-RB">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                        <div fxFlex="30" class="full-width  p-8  border-B">
                            <div class="full-width content-hint">
                                <mat-hint>5. Check here if the debtor was personally liable for repayment of the debt
                                </mat-hint>
                            </div>
                            <section>
                                <mat-checkbox class="mat-checkbox-item" tabindex="28"></mat-checkbox>
                            </section>
                        </div>

                        <div fxFlex="30" class="full-width  p-8  border-B">
                            <div class="full-width">

                                <mat-form-field appearance="outline"
                                    (mouseenter)="TooltipMouseenter($event, box6tooltip)"
                                    (focus)="Showtooltip($event, box6tooltip)"
                                    (click)="Showtooltip($event, box6tooltip)" (blur)="Hidetooltip($event, box6tooltip)"
                                    (mouseout)="TooltipMouseout($event, box6tooltip)" class="full-width">
                                    <mat-label>6. Identifiable Event Code</mat-label>
                                    <input matInput tabindex="30">

                                </mat-form-field>
                            </div>

                            <span class="custom-tooltip" matTooltipHideDelay="100000"
                                matTooltip="6. Identifiable Event Code" matTooltipPosition="after"
                                #box6tooltip="matTooltip">
                            </span>

                        </div>

                        <div fxFlex="40" class="full-width  p-8 ">
                            <div class="full-width">
                                <mat-form-field appearance="outline"
                                    (mouseenter)="TooltipMouseenter($event, box7tooltip)"
                                    (focus)="Showtooltip($event, box7tooltip)"
                                    (click)="Showtooltip($event, box7tooltip)" (blur)="Hidetooltip($event, box7tooltip)"
                                    (mouseout)="TooltipMouseout($event, box7tooltip)" class="full-width">
                                    <mat-label>7. Fair market value of property</mat-label>
                                    <input matInput tabindex="31">
                                </mat-form-field>
                            </div>
                            <span class="custom-tooltip" matTooltipHideDelay="100000"
                                matTooltip="7. Fair market value of property" matTooltipPosition="after"
                                #box7tooltip="matTooltip">
                            </span>

                        </div>
                    </div>
                </div>


            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8  border-LRB">

                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Account number (see instructions)</mat-label>
                            <input matInput tabindex="23">
                        </mat-form-field>

                    </div>
                </div>
                <div fxFlex="50" class="content p-8  border-RB">

                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 " fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Form <strong>1099-C</strong></p>
                    </div>
                </div>
                <div fxFlex="50" class="content p-8 " fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                    </div>
                </div>
            </div>

            <div class="btn_actions">
                <button mat-stroked-button id="login" class="btn_primary" tabindex="32">
                    Submit
                </button>
            </div>

        </mat-card>
    </div>
</div>