<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width"> 
        <mat-card>
            <h4>
                Load Files to Batch Processing
            </h4>

            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>Associated Site</mat-label>
                <mat-select placeholder="Select">
                    <mat-option value="option">AA</mat-option>
                    <mat-option value="option">AB</mat-option>
                    <mat-option value="option">AE</mat-option>
                </mat-select>
            </mat-form-field>
                      
            <ngx-file-drag-drop emptyPlaceholder ="Drop file or click to select the recipient file" [formControl]="fileControl"  
            activeBorderColor="#3F51B5" multiple
                (valueChanged)="onValueChange($event)" class="ngx-file-drag-drop">
            </ngx-file-drag-drop>

 
            <ngx-file-drag-drop emptyPlaceholder ="Drop file or click to select the 1099 file" 
            [formControl]="fileControl" activeBorderColor="#3F51B5" multiple
                (valueChanged)="onValueChange($event)" class="ngx-file-drag-drop">
            </ngx-file-drag-drop>


            <section class="mat-checkbox-section">
                <mat-checkbox class="mat-checkbox-item" tabindex="1">Table Upload</mat-checkbox>
            </section>

            <div class="btn_actions">
                <button mat-stroked-button id="btnPrimay" class="btn_primary">
                    Upload File
                </button>
            </div>
        </mat-card>
    </div>
</div>
</div>