        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<mat-menu class="">

</mat-menu> 
<!----><mat-menu class=""><!----></mat-menu>
 

<button mat-button [matMenuTriggerFor]="profile" class="mat-button-profile m-r-5"> 
    <mat-icon>person</mat-icon>
      <span >
       {{nameOfUser}}
      </span>
</button>

<mat-menu #profile="matMenu" class="mymegamenu" xPosition="before">
    <button mat-menu-item  (click)="submit()">
        <mat-icon>settings</mat-icon>Change Password </button>
    <button mat-menu-item (click)="profileOnClick()">
        <mat-icon>account_box</mat-icon> Profile </button>     
    <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon> Sign Out </button>
</mat-menu>



