<div class="App-body">
    <div class="App-content">
        <form [formGroup]="homeForm">
            <mat-card>
                <h4>Update 5498-SA</h4>

                <div class="Tax-form-content-header" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">

                        <div class="full-width">
                            <div class="btn_actions">
                                <button mat-stroked-button id="Previous" class="btn_primary" tabindex="1">
                                    Previous
                                </button>
                                <button mat-stroked-button id="Next" class="btn_primary" tabindex="2">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="30" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="data_version">
                                <span class="totalPage"> Version 1 / 1
                                </span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="35" class="content p-8 border-LRB" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                        <div class="full-width" fxLayoutAlign="flex-end start">
                            <div class="btn_actions">
                                <button mat-stroked-button id="login" class="btn_primary m-r-8" tabindex="4">
                                    Back to Current Version
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified By: Bob Lambert</h5>
                        </div>
                    </div>
                    <div fxFlex="30" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified Date: 08-20-2020 </h5>
                        </div>
                    </div>
                    <div fxFlex="35" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>IP Address: 192.16.1.1</h5>
                        </div>
                    </div>


                </div>

                <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>
                    <div fxFlex="25" fxFlex.xs="55">
                        <section class="mat-checkbox-section">
                            <mat-checkbox class="mat-checkbox-item" tabindex="0">Corrected</mat-checkbox>
                        </section>
                    </div>
                    <div fxFlex="50" fxFlex.xs="55" fxLayoutAlign="start center">

                    </div>

                    <div fxFlex="25" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                        <a class="clear btn_Forgot" routerLink="#" tabindex="1"> View History</a>
                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8  border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Trustee's / Payer's name</mat-label>
                                <input matInput tabindex="2" #filerName formControlName="filerName" [readonly]="true"
                                    required>
                                <mat-error
                                    *ngIf="trrowErrors.filerName.errors && trrowErrors.filerName.errors.required"> This
                                    field is required </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="3" #filerAddress1 formControlName="filerAddress1"
                                    [readonly]="true" required>
                                <mat-error
                                    *ngIf="trrowErrors.filerAddress1.errors && trrowErrors.filerAddress1.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="4" #filerAddress2 formControlName="filerAddress2"
                                    [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="5" #filerAddress3 formControlName="filerAddress3"
                                    [readonly]="true">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="6" #filerCity formControlName="filerCity"
                                            [readonly]="true" required>
                                        <mat-error
                                            *ngIf="trrowErrors.filerCity.errors && trrowErrors.filerCity.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" #filerState
                                            formControlName="filerState">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                state.DISPLAY_NAME }}</mat-option>
                                            <mat-error
                                                *ngIf="trrowErrors.filerState.errors && trrowErrors.filerState.errors.required">
                                                This field is required </mat-error>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="8" #filerZip formControlName="filerZip"
                                            [readonly]="true" required>
                                        <mat-error
                                            *ngIf="trrowErrors.filerZip.errors && trrowErrors.filerZip.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>


                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no.</mat-label>
                                <input matInput tabindex="9" #filerTelephoneNo1 formControlName="filerTelephoneNo1"
                                    [readonly]="true" required>
                                <mat-error
                                    *ngIf="trrowErrors.filerTelephoneNo1.errors && trrowErrors.filerTelephoneNo1.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no. 2</mat-label>
                                <input matInput tabindex="10" #filerTelephoneNo2 formControlName="filerTelephoneNo2"
                                    [readonly]="true">
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="25" class="content border-RB">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                            <div fxFlex="40" class="full-width p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>1. Employee or selfemployed person's Archer MSA
                                            contributions made in 2020 and 2021 for 2020.</mat-label>
                                        <input matInput tabindex="24" matTooltip="1. Employee or selfemployed person's Archer MSA
                                    contributions made in 2020 and 2021 for 2020." (blur)="onBlurFloat($event)"
                                            type="number">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxFlex="40" class="full-width p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>2. Total contributions made in 2020</mat-label>
                                        <input matInput tabindex="25" matTooltip="2. Total contributions made in 2020"
                                            (blur)="onBlurFloat($event)" type="number">

                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxFlex="40" class="full-width p-8">

                            </div>

                        </div>
                    </div>

                    <div fxFlex="25" class="content border-RB">
                        <div class="center-align p-8 border-B">
                            <h4 style="font-size: 15px;">OMB No. 1545-1518</h4>
                            <div *ngIf="taxyear < 2005">
                                <h2>{{taxyear}}</h2>
                            </div>
                            <h2 style="font-size: 20px;">Form <strong>5498-SA</strong></h2>
                        </div>
                        <div class="center-align p-8">
                            <p style="font-size: 15px;">
                                HSA,
                                Archer
                                MSA, or
                                Medicare
                                Advantage
                                MSA
                                Information
                            </p>
                        </div>
                    </div>


                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8  border-LRB" fxFlex.xs="55">
                        <div fxLayout="row wrap" class="full-width" fxFlexFill>
                            <div fxFlex="50">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>Payer's Federal identification number</mat-label>
                                    <input matInput tabindex="11" #filerFederalIdentificationNumber
                                        formControlName="filerFederalIdentificationNumber">
                                    <mat-error
                                        *ngIf="trrowErrors.filerFederalIdentificationNumber.errors && trrowErrors.filerFederalIdentificationNumber.errors.required">
                                        This field is required </mat-error>

                                </mat-form-field>
                            </div>

                            <div fxFlex="50">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Recipient's identification number</mat-label>
                                    <input matInput tabindex="12" #RecipientIdentificationNumber
                                        formControlName="RecipientIdentificationNumber">
                                    <mat-error
                                        *ngIf="trrowErrors.RecipientIdentificationNumber.errors && trrowErrors.RecipientIdentificationNumber.errors.required">
                                        This field is required </mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="25" class="content p-8  border-RB">
                        <div class="full-width">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>3. Total HSA or Archer MSA contributions
                                        made in 2021 for 2020</mat-label>
                                    <input matInput tabindex="27" matTooltip="3. Total HSA or Archer MSA contributions
                                made in 2021 for 2020" (blur)="onBlurFloat($event)" type="number">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="25" class="content p-8  border-RB">
                        <div class="full-width">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>4. Rollover contributions</mat-label>
                                    <input matInput tabindex="27" matTooltip="4. Rollover contributions"
                                        (blur)="onBlurFloat($event)" type="number">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8  border-LRB">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Recipient's Name</mat-label>
                                <input matInput tabindex="13" #RecipientName formControlName="RecipientName" required>
                                <mat-error
                                    *ngIf="trrowErrors.RecipientName.errors && trrowErrors.RecipientName.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Recipient's Name 2</mat-label>
                                <input matInput tabindex="14" #RecipientName1 formControlName="RecipientName1" required>
                                <mat-error
                                    *ngIf="trrowErrors.RecipientName1.errors && trrowErrors.RecipientName1.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="15" #RecipientAddress1 formControlName="RecipientAddress1"
                                    required>
                                <mat-error
                                    *ngIf="trrowErrors.RecipientAddress1.errors && trrowErrors.RecipientAddress1.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="16" #RecipientAddress2 formControlName="RecipientAddress2">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="17" #RecipientAddress3 formControlName="RecipientAddress3">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="18" #RecipientCity formControlName="RecipientCity"
                                            [readonly]="true" required>
                                        <mat-error
                                            *ngIf="trrowErrors.RecipientCity.errors && trrowErrors.RecipientCity.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="19" #RecipientState
                                            formControlName="RecipientState">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                state.DISPLAY_NAME }}</mat-option>
                                            <mat-error
                                                *ngIf="trrowErrors.RecipientState.errors && trrowErrors.RecipientState.errors.required">
                                                This field is required </mat-error>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="20" #RecipientZip formControlName="RecipientZip"
                                            [readonly]="true" required>
                                        <mat-error
                                            *ngIf="trrowErrors.RecipientZip.errors && trrowErrors.RecipientZip.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!--  
                        <div fxLayout="row wrap" class="full-width line-controls_country">
                            <div >
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21">Foreign Country</mat-checkbox>
                                </section>
                            </div>

                            <div>
                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="22">
                                        <mat-option value="option">Country 1</mat-option>
                                        <mat-option value="option">Country 2</mat-option>
                                        <mat-option value="option">Country 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    -->

                        </div>
                    </div>

                    <div fxFlex="50" class="content border-RB">
                        <div class="full-width p-8 border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>5. Fair Market Value of HSA, Archer MSA, or MA MSA</mat-label>
                                    <input matInput tabindex="27" matTooltip="5. Fair Market Value of
                                HSA, Archer MSA, or MA MSA" (blur)="onBlurFloat($event)" type="number">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="full-width p-8">
                            <div class="full-width content-hint">
                                <mat-hint>6. </mat-hint>
                            </div>
                            <section class="mat-checkbox-section">
                                <mat-checkbox class="mat-checkbox-item" tabindex="25">HSA</mat-checkbox>
                            </section>
                            <section class="mat-checkbox-section">
                                <mat-checkbox class="mat-checkbox-item" tabindex="25">Archer MSA</mat-checkbox>
                            </section>
                            <section class="mat-checkbox-section">
                                <mat-checkbox class="mat-checkbox-item" tabindex="25">MA MSA</mat-checkbox>
                            </section>

                        </div>



                    </div>


                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8  border-LRB">

                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Account number (see instructions)</mat-label>
                                <input matInput tabindex="23" #Account formControlName="Account" required>
                                <mat-error *ngIf="trrowErrors.Account.errors && trrowErrors.Account.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8  border-RB">
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 " fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Form <strong>5498-SA</strong></p>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8 " fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Form Release Date</mat-label>
                                <input matInput>
                                <mat-hint>MM-DD-YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="50" class="content p-8 border-BR border-Top" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>E-Consent Date</mat-label>
                                <input matInput>
                                <mat-hint>MM-DD-YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="100" class="content p-8 border-full" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="full-width content-hint">
                                <mat-hint>Memo</mat-hint>
                            </div>
                            <mat-form-field appearance="outline" class="full-width">
    
                                <input matInput type="textarea" #memo formControlName="memo" [readonly]="true">
    
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </mat-card>
        </form>
    </div>
</div>