<mat-dialog-content class="mat-typography">
    <div class="controls-max-width" style="max-width: 100%;">
        <mat-card>
            <h3>
                Set Password For Tax For Being e-mail id
            </h3>
            <div class="">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput [value]="password" (change)="onChangePassword($event)" type="password" [disabled]="defaultPassword">
                </mat-form-field>
                <div style="text-align: center;">OR</div>
                <section class="mat-checkbox-section">
                    <mat-checkbox class="mat-checkbox-item" (change)="onChangeDefault()">Use the default password of the recipients Tax ID</mat-checkbox>
                </section>
                
            </div>
        </mat-card>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" style="margin-bottom: 0px; padding: 8px 16px;">
    <button mat-button class="btn_primary" [mat-dialog-close]="password">Ok</button>
    <button mat-button class="btn_primary" mat-dialog-close>Cancel</button>
</mat-dialog-actions>