<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>

                <h3>1098T Financial Reports</h3>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <form class="basic-form" [formGroup]="staticreport">

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Site Type</mat-label>
                        <input matInput value="Production" formControlName='sitetype'>
                        <mat-error *ngIf="Errors.sitetype.errors && Errors.sitetype.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>School</mat-label>
                        <mat-select placeholder="Select" formControlName='school' >
                            <mat-option value="option">11137 - General Test Company 1</mat-option>
                        </mat-select>
                        <mat-error *ngIf="Errors.school.errors && Errors.school.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Campus</mat-label>
                        <mat-select placeholder="Select" formControlName='campus'>
                            <mat-option value="option">ALL</mat-option>
                            <mat-option value="option">DALLASTHEO</mat-option>
                            <mat-option value="option">MAIN</mat-option>
                        </mat-select>
                        <mat-error *ngIf="Errors.school.errors && Errors.school.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Program</mat-label>
                        <mat-select placeholder="Select" formControlName='program'>
                            <mat-option value="option">ALL</mat-option>
                            <mat-option value="option">MAIN</mat-option>
                        </mat-select>
                        <mat-error *ngIf="Errors.program.errors && Errors.program.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Select Report</mat-label>
                        <mat-select placeholder="Select" formControlName='selectreport'>
                            <mat-option value="option">Total # of 1098-Ts Released</mat-option>
                            <mat-option value="option">Total # of Valid Demographics</mat-option>
                            <mat-option value="option">Total # of Valid Financials</mat-option>
                            <mat-option value="option">Total # of Students Half-Time or Greater</mat-option>
                            <mat-option value="option">Total # of Students Determined “Graduate”</mat-option>
                            <mat-option value="option">Students with Foreign Addresses</mat-option>
                        </mat-select>
                        <mat-error *ngIf="Errors.selectreport.errors && Errors.selectreport.errors.required"> This field is required </mat-error>
                    </mat-form-field>
                    <h5>(For reports that return output data only)</h5>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>DataType</mat-label>
                        <mat-select placeholder="Select" formControlName='datatype'>
                            <mat-option value="option">CSV delimited(Excel)</mat-option>
                        </mat-select>
                        <mat-error *ngIf="Errors.datatype.errors && Errors.datatype.errors.required"> This field is required </mat-error>
                    </mat-form-field>
                    <div class="btn_actions">
                        <button mat-stroked-button id="btnPrimay" class="btn_primary">
                            Run Report
                        </button>
                    </div>


                </form>

            </mat-card>
        </div>
    </div>
</div>