<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>

                <h3>Submit Proof Run Request</h3>

                <form class="basic-form" [formGroup]="submitRunRequestForm" (ngSubmit)="onSubmit()">

                    <div fxLayout="row">
                        <div fxFlex.gt-sm="20%">
                            <mat-label>Tax Form</mat-label>
                        </div>
                        <div fxFlex.gt-sm="80%">
                            <div class="btn_actions">
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button *ngFor='let form of formType' [checked]="submitRunRequestForm.value.formTypeData == form.value ? true : false">{{ form.name }}</mat-radio-button>
                                </mat-radio-group>
                                <mat-error *ngIf="trrowErrors.formTypeData.errors && trrowErrors.formTypeData.errors.required"> This field is required </mat-error>
                            </div>
                        </div>

                    </div>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Tax Year	</mat-label>
                        <mat-select placeholder="Select" formControlName='taxYear' (selectionChange)="onChangeTaxYear()">
                            <mat-option *ngFor='let year of yearList' value="{{ year.value }}">{{ year.name }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="trrowErrors.taxYear.errors && trrowErrors.taxYear.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Job Name	</mat-label>
                        <mat-select placeholder="Select" formControlName='jobName' [disabled]="submitRunRequestForm.value.taxYear ? false : true">
                            <mat-option *ngFor='let jobs of jobNameList' value="{{ jobs.VALUE }}">{{ jobs.DISPLAY_NAME }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="trrowErrors.jobName.errors && trrowErrors.jobName.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>EIN	</mat-label>
                        <mat-select placeholder="Select" formControlName='EIN'>
                            <mat-option *ngFor='let ein of EINList' value="{{ ein.value }}">{{ ein.displaY_NAME }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="trrowErrors.EIN.errors && trrowErrors.EIN.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Database Load ID	</mat-label>
                        <mat-select placeholder="Select" formControlName='databaseLoadId' [disabled]="submitRunRequestForm.value.taxYear ? false : true">
                            <mat-option *ngFor='let dbLoad of databaseLoadIdList' value="{{ dbLoad.VALUE }}">{{ dbLoad.DISPLAY_NAME }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="trrowErrors.databaseLoadId.errors && trrowErrors.databaseLoadId.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Special Request/Comments	</mat-label>
                        <textarea matInput rows='5' formControlName='comments'></textarea>
                    </mat-form-field>

                    <div class="btn_actions" style="overflow: auto">
                        <button mat-stroked-button id="btnPrimay" class="btn_primary">
                            Submit Proof Run Request
                        </button>
                    </div>

                </form>

            </mat-card>
        </div>
    </div>
</div>