<div class="App-body">
    <div class="App-content">


        <mat-card>
            <h4>
                File Download
            </h4>
            <div>
                <div style="float: right;">
                    <form [formGroup]='taxyear'>
                        <mat-form-field appearance="outline">
                            <mat-label>Tax Year</mat-label>
                            <mat-select placeholder="Select" #formYear formControlName="formYear"
                                (selectionChange)="gettaxyear($event.value)">
                                <mat-option *ngFor='let year of yearList' value="{{ year.value }}">{{ year.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="errors.formYear.errors && errors.formYear.errors.required"> This field is
                                required </mat-error>
                        </mat-form-field>
                    </form>
                </div>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Search Items</mat-label>
                    <input matInput (keyup)="searchData($event.target.value)" type="search">
                </mat-form-field>
                <!-- Angular 8 pagination -->
                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-link"><button mat-icon-button color="accent"
                                [routerLink]="['/filemanagementuploadfile', element.UPLOAD_FILE_ID]">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" (click)="downloadfile(element.UPLOAD_FILE_ID)">
                                <mat-icon aria-label="Delete">save_alt</mat-icon>
                            </button>
                            </td>
                        </ng-container>
                    <ng-container matColumnDef="tracking_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tracking Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.UPLOAD_FILE_ID}} </td>
                    </ng-container>

                    <ng-container matColumnDef="client">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
                        <td mat-cell *matCellDef="let element"> {{element.USER_TYPE}} </td>
                    </ng-container>

                    <ng-container matColumnDef="file_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
                        <td mat-cell *matCellDef="let element">{{element.FILE_NAME}}</td>

                    </ng-container>

                    <ng-container matColumnDef="notes">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
                        <td mat-cell *matCellDef="let element"> {{element.DESCRIPTION}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date_uploaded">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Uploaded </th>
                        <td mat-cell *matCellDef="let element"> {{element.UPLOAD_DATE_TIME}} </td>
                    </ng-container>

                    <ng-container matColumnDef="download_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Download Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.DOWNLOAD_STATUS}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selectedRow = selectedRow === row ? null : row"
                        [ngClass]="{ 'selected': row === selectedRow }"></tr>

                </table>

            </div>

        </mat-card>
    </div>
</div>