<mat-dialog-content class="mat-typography">
    <div class="controls-max-width" style="max-width: 100%;max-height:100%">
        <form [formGroup]="Form3921add">
            <mat-card>
                <span>Create 3921</span>
                <mat-icon>arrow_right_alt</mat-icon>
                <span>Add 3921 Transaction</span>
                <h3>
                    Add Transaction
                </h3>
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="65" class="left-control full-width extra-padding">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Transaction ID</mat-label>
                            <input matInput tabindex="1" formControlName="Transaction_Id" required cdkFocusInitial>
                            <mat-error *ngIf="trrowErrors.Transaction_Id.errors && trrowErrors.Transaction_Id.errors.required">This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="65" class="right-control full-width"></div>
                </div>
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 1 Date option granted</mat-label>
                            <input matInput [matDatepicker]="box1datepicker" tabindex="2"
                                formControlName="box1datepicker" required>
                            <mat-error
                                *ngIf="trrowErrors.box1datepicker.errors && trrowErrors.box1datepicker.errors.required">
                                This field is required </mat-error>
                            <mat-datepicker-toggle matSuffix [for]="box1datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #box1datepicker></mat-datepicker>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 2 Date option exercised</mat-label>
                            <input matInput [matDatepicker]="box2datepicker" tabindex="3" formControlName="box2datepicker" required>
                            <mat-error *ngIf="trrowErrors.box2datepicker.errors && trrowErrors.box2datepicker.errors.required">This field is required </mat-error>
                            <mat-datepicker-toggle matSuffix [for]="box2datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #box2datepicker></mat-datepicker>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 3 Exercise price per share</mat-label>
                            <input matInput tabindex="9" formControlName="Box3" required>
                            <mat-error *ngIf="trrowErrors.Box3.errors && trrowErrors.Box3.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 4 Fair Market value per share on exercise date</mat-label>
                            <input matInput tabindex="2" formControlName="Box4" required>
                            <mat-error *ngIf="trrowErrors.Box4.errors && trrowErrors.Box4.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 5 No. of shares transferred</mat-label>
                            <input matInput tabindex="2" formControlName="Box5" required>
                            <mat-error *ngIf="trrowErrors.Box5.errors && trrowErrors.Box5.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 6 Address</mat-label>
                            <input matInput tabindex="2" formControlName="Box6" required>
                            <mat-error *ngIf="trrowErrors.Box6.errors && trrowErrors.Box6.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="100" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 6 Address</mat-label>
                            <input matInput tabindex="2" formControlName="Box7" required>
                            <mat-error *ngIf="trrowErrors.Box7.errors && trrowErrors.Box7.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="25" class="right-control full-width"></div>
                </div>
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width Left-controls">
                            <mat-label>City</mat-label>
                            <input matInput tabindex="6" formControlName="city" required>
                            <mat-error *ngIf="trrowErrors.city.errors && trrowErrors.city.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="35" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width middle-controls">
                            <mat-label>State</mat-label>
                            <mat-select placeholder="Select" tabindex="7" formControlName="state" required>
                                <mat-error *ngIf="trrowErrors.state.errors && trrowErrors.state.errors.required"> This field is required </mat-error>
                                <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="30" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width right-controls">
                            <mat-label>Zip</mat-label>
                            <input matInput tabindex="8" formControlName="zip" required>
                            <mat-error *ngIf="trrowErrors.zip.errors && trrowErrors.zip.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" style="margin-bottom: 0px; padding: 8px 16px;">
    <button class="btn_primary" (click)="AddTransaction()">Add Transaction</button>
    <button mat-stroked-button class="btn_secondary" (click)="Backto3921()">Cancel</button>
</mat-dialog-actions>




<!-- <mat-dialog-content class="mat-typography" style="overflow: hidden;">
    <div class="controls-max-width" style="max-width: 100%;">
        <form [formGroup]="Form3921add" class="controls-max-width">
            <mat-card>
                <div class="breadcrumbs">
                    <span>Create 3921</span>
                    <mat-icon>arrow_right_alt</mat-icon>
                    <span>Add 3921 Transaction</span>
                </div>
                <h4>
                    Add 3921 Transaction
                </h4>
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width extra-padding">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Transaction ID</mat-label>
                            <input matInput tabindex="1" formControlName="Transaction_Id" required cdkFocusInitial>
                            <mat-error *ngIf="Form3921add.controls['Transaction_Id'].errors?.required"> This field is
                                required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="65" class="right-control full-width"></div>
                </div>



                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control extra-padding full-width">

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 1 Date option granted</mat-label>
                            <input matInput [matDatepicker]="box1datepicker" tabindex="2">
                            <mat-datepicker-toggle matSuffix [for]="box1datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #box1datepicker></mat-datepicker>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" class="right-control extra-padding full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 2 Date option exercised</mat-label>
                            <input matInput [matDatepicker]="box2datepicker" tabindex="3">
                            <mat-datepicker-toggle matSuffix [for]="box2datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #box2datepicker></mat-datepicker>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control extra-padding full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 3 Exercise price per share</mat-label>
                            <input matInput tabindex="9">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="left-control extra-padding full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 4 Fair Market value per share on exercise date</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>
                    </div>
                </div>
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control extra-padding full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 5 No. of shares transferred</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="left-control extra-padding full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 6 Address</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>
                    </div>
                </div>
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control extra-padding full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 6 Address</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="left-control extra-padding full-width">

                    </div>
                </div>
                <div fxLayout="row wrap" class="full-width">
                    <div fxFlex="35">
                        <mat-form-field appearance="outline" class="full-width Left-controls">
                            <mat-label>City</mat-label>
                            <input matInput tabindex="6">
                        </mat-form-field>
                    </div>
                    <div fxFlex="30">
                        <mat-form-field appearance="outline" class="full-width middle-controls">
                            <mat-label>State</mat-label>
                            <mat-select placeholder="Select" tabindex="7">
                                <mat-option value="option">State 1</mat-option>
                                <mat-option value="option">State 2</mat-option>
                                <mat-option value="option">State 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="35">
                        <mat-form-field appearance="outline" class="full-width right-controls">
                            <mat-label>Zip</mat-label>
                            <input matInput tabindex="8">
                        </mat-form-field>
                    </div>
                </div>
                <div class="btn_actions">
                    <button mat-stroked-button class="btn_primary">Add Transaction</button>
                    <button mat-stroked-button class="btn_secondary" (click)="Backto3921()">Cancel</button>

                </div>
            </mat-card>
        </form>
    </div>
</mat-dialog-content> -->