<div class="App-body">
    <div class="App-content">
      <mat-card>
        <h4>
       View FileDetails
        </h4>
      </mat-card>
      <div class="btn_actions">
        <button mat-stroked-button id="btnPrimay" class="btn_primary" (click)="Addnew()" >
          Add New
        </button>
      </div>
      <mat-card>
        
        <div style="overflow: auto">
  
          <!-- Angular 8 pagination -->
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
            <ng-container matColumnDef="FileType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> File Type </th>
              <td mat-cell *matCellDef="let element"> {{element.filetype}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="download">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Download </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button color="accent" (click)="download(element.fileupload)">
                        <mat-icon aria-label="Delete">download</mat-icon>
                    </button>   
                </td>
              </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>
  
          </table>
  
        </div>
  
  
      </mat-card>
  
  
  
  
    </div>
  </div>