<div class="App-body">
    <div class="App-content">

        <mat-card>
            <h4>
                Delete Site Search
            </h4>

            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>Search Site name</mat-label>
                <input matInput type="search">
            </mat-form-field>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
            <table mat-table [dataSource]="TemplatedataSource" style="width:100%">
                <ng-container matColumnDef="form_type">
                    <th mat-header-cell *matHeaderCellDef> Form Type</th>
                    <td mat-cell *matCellDef="let element"> {{element.form_type}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="file_link">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element"> 
                        
                        <button mat-icon-button color="accent">
                            <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                            <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selectedRow = selectedRow === row ? null : row"
                    [ngClass]="{ 'selected': row === selectedRow }"></tr>
            </table>
        </mat-card>
    </div>
</div>