<form [formGroup]="createSiteForm">
<mat-dialog-content class="mat-typography" *ngIf="formMethod == 'list'">
        
            
            <div class="table-content m-b-24">
                <table mat-table [dataSource]="dataSourceData" matSort class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="Transaction_Date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.Transaction_Date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Campus_Code">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Campus Code</th>
                        <td mat-cell *matCellDef="let element"> {{element.Campus_Code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Program_Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Program Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.Program_Name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Student_LastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.Student_LastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Financial_Type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.Financial_Type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Academic_Term">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Term </th>
                        <td mat-cell *matCellDef="let element"> {{element.Academic_Term}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Academic_Year">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.Academic_Year}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="Financial_Description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.Financial_Description}} </td>
                    </ng-container> -->

                    <ng-container matColumnDef="Amount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element; let i = index" class="action-link">
                            <button mat-icon-button color="accent" (click)="onClickEdit(i)">
                                <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>

                            <button mat-icon-button color="accent" (click)="onClickDelete(i)">
                                <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                                <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="exporter">
                        <td mat-header-cell *matHeaderCellDef colspan="2" class="mat-table-toolbar">
                           <!--  <div class="btn_actions">
                                <button mat-stroked-button id="table3922" class="btn_secondary" tabindex="32">
                                    Add Transaction
                                </button>
                            </div> -->
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="paginator">
                        <td mat-header-cell *matHeaderCellDef colspan="7" class="mat-table-toolbar">
                            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['exporter', 'paginator']"></tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selectedRow = selectedRow === row ? null : row"
                        [ngClass]="{ 'selected': row === selectedRow }"></tr>


                </table>
            </div>
            <!-- <div class="btn_actions">
                <button mat-stroked-button class="btn_primary">Submit</button>
                <button mat-stroked-button class="btn_secondary">Cancel</button>

            </div> -->
        
    </mat-dialog-content>

    <mat-dialog-actions align="end" style="margin-bottom: 0px; padding: 8px 16px;" *ngIf="formMethod == 'list'">
        <button mat-button class="btn_primary" (click)="changePopUpMode('action', 'add')">Create</button>
        <button mat-button class="btn_primary" [mat-dialog-close]="mainSubmit()">Submit</button>
        <button mat-button mat-dialog-close class="btn_primary" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>

    <mat-dialog-content class="mat-typography" style="overflow: hidden;" *ngIf="formMethod == 'action'">
        <div class="controls-max-width" style="max-width: 100%;">
            <mat-card>
                <h3>
                    Add Transaction
                </h3>

                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width extra-padding">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Transaction Date</mat-label>
                            <input matInput #tdate formControlName="tdate" [matDatepicker]="StStableStartdatepicker" cdkFocusInitial>
                            <mat-datepicker-toggle matSuffix [for]="StStableStartdatepicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #StStableStartdatepicker></mat-datepicker>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                            <mat-error *ngIf="trrowErrors.tdate.errors && trrowErrors.tdate.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="65" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Program Name</mat-label>
                            <mat-select placeholder="Select" #pname formControlName="pname">
                                <mat-option *ngFor='let code of programcode' value="{{ code.VALUE }}">{{ code.DISPLAY_NAME }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="trrowErrors.pname.errors && trrowErrors.pname.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Campus Code</mat-label>
                            <input matInput #ccode formControlName="ccode" type="text" value="" required>
                            <mat-error *ngIf="trrowErrors.ccode.errors && trrowErrors.ccode.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="65" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Student Last Name</mat-label>
                            <input matInput  #sname formControlName="sname" type="text" value="" required>
                            <mat-error *ngIf="trrowErrors.sname.errors && trrowErrors.sname.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Financial Type</mat-label>
                            
                            <mat-select placeholder="Select" #financialtype formControlName="financialtype" (selectionChange)="selectedType($event)">
                                <mat-option *ngFor='let Fcode of Financialcode' [value]="Fcode">{{ Fcode.DISPLAY_NAME }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="trrowErrors.financialtype.errors && trrowErrors.financialtype.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="65" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Financial Description</mat-label>
                            <input matInput  #financialdesp formControlName="financialdesp" type="text" value="" [readonly]="true" required>
                    <mat-error *ngIf="trrowErrors.financialdesp.errors && trrowErrors.financialdesp.errors.required"> This field is required </mat-error>
                            
                        </mat-form-field>
                    </div>
                </div>


                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Academic Year</mat-label>
                            
                            <mat-select placeholder="Select" #academic formControlName="academic">
                                <mat-option *ngFor='let acyr of accYear' value="{{acyr.ACADEMIC_YEAR}}">{{ acyr.ACADEMIC_YEAR}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="trrowErrors.academic.errors && trrowErrors.academic.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="30" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Academic Term</mat-label>
                            
                            <mat-select placeholder="Select" #academicterm formControlName="academicterm">
                                <mat-option *ngFor='let acte of accTerm' value="{{acte.ACADEMIC_TERM}}">{{ acte.ACADEMIC_TERM_DESCRIPTION }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="trrowErrors.academicterm.errors && trrowErrors.academicterm.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="35" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Amount</mat-label>
                            <input matInput #amount formControlName="amount" type="number" value="" (blur)="onBlurFloat($event)" required>
                            <mat-error *ngIf="trrowErrors.amount.errors && trrowErrors.amount.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>

                </div>
            </mat-card>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" style="margin-bottom: 0px; padding: 8px 16px;" *ngIf="formMethod == 'action'">
        <button mat-button class="btn_primary" (click)="actionSubmit()">{{formSubMethod == 'add' ? 'Add' : 'Update'}}</button>
        <button mat-button class="btn_primary" (click)="changePopUpMode('list', '')">Cancel</button>
    </mat-dialog-actions>
    

<!-- <h2 mat-dialog-title>Install Angular</h2>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->
</form>