.table-content {
    overflow: scroll;
    max-height: 70vh;
}


.mat-column-Month {    
     
    /* width: 10% !important; */
    align-items: left;   
    
}


.mat-column-action {    
     
    /* width: 10% !important; */
    align-items: left;   
    
}