<div class="App-body">
    <div class="App-content">
        <form [formGroup]="createForm" (ngSubmit)="AddFiler()">
        <mat-card>
            <h4>Create 1099-R</h4>
            <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>
                <div fxFlex="25" fxFlex.xs="55">
                    <section class="mat-checkbox-section">
                        <mat-checkbox class="mat-checkbox-item" tabindex="1" #corrected formControlName="corrected">Corrected</mat-checkbox>
                    </section>
                </div></div>
            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="40" class="content p-8 border-LRB border-Top" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Payer's name</mat-label>
                            <input matInput tabindex="2" [readonly]=true formControlName="payersname" required>
                            <mat-error *ngIf="trrowErrors.payersname.errors && trrowErrors.payersname.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address1</mat-label>
                            <input matInput tabindex="3" [readonly]=true formControlName="address1" required>
                            <mat-error *ngIf="trrowErrors.address1.errors && trrowErrors.address1.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address2</mat-label>
                            <input matInput tabindex="4" [readonly]=true formControlName="address2" required>
                            <mat-error *ngIf="trrowErrors.address2.errors && trrowErrors.address2.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address3</mat-label>
                            <input matInput tabindex="5" [readonly]=true formControlName="address3">
                            <mat-error *ngIf="trrowErrors.address3.errors && trrowErrors.address3.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                       
                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6" [readonly]=true formControlName="city" required>
                                    <mat-error *ngIf="trrowErrors.city.errors && trrowErrors.city.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" [disabled]="true" formControlName="state" required>
                                        <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="trrowErrors.state.errors && trrowErrors.state.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8" [readonly]=true formControlName="zip" required>
                                    <mat-error *ngIf="trrowErrors.zip.errors && trrowErrors.zip.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Telephone no.</mat-label>
                            <input matInput tabindex="9" [readonly]=true formControlName="phone1" required>
                            <mat-error *ngIf="trrowErrors.phone1.errors && trrowErrors.phone1.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Telephone no. 2</mat-label>
                            <input matInput tabindex="10" [readonly]=true formControlName="phone2" >
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="20" class="content border-RB border-Top">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                        <div fxFlex="30" class="full-width p-8 border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>1. Gross distribution</mat-label>
                                    <input matInput tabindex="25" matTooltip="1. Gross distribution" type="number" formControlName="grossdistribution" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                            </div>
                            

                        </div>
                        <div fxFlex="30" class="full-width p-8 border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>2a. Taxable amount</mat-label>
                                    <input matInput tabindex="26" matTooltip="2a. Taxable amount" type="number" formControlName="taxableamount">
                                </mat-form-field>
                            </div>


                        </div>
                        <div fxFlex="40" class="full-width p-8">
                            <div class="full-width">
                                <div class="full-width content-hint">
                                    <mat-hint>2b. Taxable amount not determined</mat-hint>
                                </div>
                                <div>
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="27" formControlName="taxamt_notdetermined"></mat-checkbox>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="20" class="content border-RB border-Top" fxFlex.xs="15" fxLayoutAlign="center start">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                        <div fxFlex="60" class="full-width center-align p-8 border-B">
                            <h4 style="font-size: 15px;">OMB No. 1545-0119</h4>
                            <h2>{{taxyear}}</h2>
                            <h2 style="font-size: 20px;">Form <strong>1099-R</strong></h2>
                        </div>

                        <div fxFlex="40" class="full-width p-8">
                            <div>
                                <section class="mat-checkbox-section">
                                    <mat-checkbox class="mat-checkbox-item" tabindex="28" formControlName="totaldistribution">Total distribution
                                    </mat-checkbox>
                                </section>
                            </div>
                        </div>
                    </div>

                </div>

                <div fxFlex="20" class="content p-8 border-RB border-Top" fxFlex.xs="15" fxLayoutAlign="end start">
                    <div fxLayout="column" fxFlexFill>

                        <div fxFlex="60" fxLayoutAlign="end start">
                            <p style="font-size: 15px;">
                            Distributions
                                From
                                Pensions,
                                Annuities,
                                Retirement
                                or Profit-
                                Sharing
                                Plans,
                                IRA's,
                                Insurance
                                Contracts,
                                etc.
                                </p>
                        </div>


                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="40" class="content p-8 border-LRB" fxFlex.xs="55">
                    <div fxLayout="row wrap" class="full-width" fxFlexFill>
                        <div  fxFlex="50" >
                            <mat-form-field appearance="outline" class="full-width Left-controls">
                                <mat-label>Payer's Federal identification
                                    number</mat-label>
                                <input matInput tabindex="11" formControlName="payers_federalno">
               
                            </mat-form-field>
                        </div>
                        <div  fxFlex="50" >
                            <mat-form-field appearance="outline" class="full-width right-controls">
                                <mat-label>Recipient's identification number</mat-label>
                                <input matInput tabindex="12" [readonly]=true formControlName="recipientno" required>
                                <mat-error *ngIf="trrowErrors.recipientno.errors && trrowErrors.recipientno.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxFlex="20" class="content p-8 border-RB">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>3. Capital gain (included in box 2a)</mat-label>
                            <input matInput tabindex="29" type="number" matTooltip="3. Capital gain (included in box 2a)" formControlName="capitalgain"  (blur)="onBlurFloat($event)">

                        </mat-form-field>
                    </div>
                   
                </div>
                <div fxFlex="20" class="content p-8 border-RB">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>4. Federal income tax withheld</mat-label>
                            <input matInput tabindex="30" type="number" matTooltip="4. Federal income tax withheld" formControlName="federaltax" (blur)="onBlurFloat($event)">
                        </mat-form-field>
                    </div>
                    
                </div>
                <div fxFlex="20" class="content p-8 border-RB">
                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="40" class="content p-8 border-LRB">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Recipient's Name</mat-label>
                            <input matInput tabindex="13" formControlName="recipient_name" required>
                            <mat-error *ngIf="trrowErrors.recipient_name.errors && trrowErrors.recipient_name.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Recipient's Name 2</mat-label>
                            <input matInput tabindex="14">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address1</mat-label>
                            <input matInput tabindex="15" formControlName="streetaddress1" required>
                            <mat-error *ngIf="trrowErrors.streetaddress1.errors && trrowErrors.streetaddress1.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address2</mat-label>
                            <input matInput tabindex="16" formControlName="streetaddress2" required>
                            <mat-error *ngIf="trrowErrors.streetaddress2.errors && trrowErrors.streetaddress2.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address3</mat-label>
                            <input matInput tabindex="17" formControlName="streetaddress3">
                        </mat-form-field>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="18" formControlName="recipientcity" required>
                                    <mat-error *ngIf="trrowErrors.recipientcity.errors && trrowErrors.recipientcity.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="19" formControlName="recipientstate" [disabled]="createForm.value.forignCountry">
                                        <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="trrowErrors.recipientstate.errors && trrowErrors.recipientstate.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="20" formControlName="recipientzip" required>
                                    <mat-error *ngIf="trrowErrors.recipientzip.errors && trrowErrors.recipientzip.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="full-width line-controls_country">
                            <div  fxFlex="50"  *ngIf="taxyear > 2018"> 
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21" formControlName="forignCountry">Foreign Country</mat-checkbox>
                                </section>
                            </div>

                            <div  fxFlex="50" *ngIf="taxyear > 2018" > 
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="22" formControlName="Country"   [disabled]="!createForm.value.forignCountry">
                                        <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{ country.DISPLAY_NAME}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>
                <div fxFlex="20" class="content border-RB">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                        <div fxFlex="30" class="full-width p-8 border-B">
                            <div class="full-width">

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>5. Employee contributions or insurance premiums</mat-label>
                                    <input matInput tabindex="31" type="number" matTooltip="5. Employee contributions or insurance premiums" 
                                    formControlName="insuranceperemiums" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                            </div>
                        
                        </div>

                        <div fxFlex="30" class="full-width">

                            <div fxLayout="row wrap" class="full-width line-controls-50 border-B" fxFlexFill>
                                <div class="full-width p-8 ">
                                    <div>
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>7. Distribution codes(s)</mat-label>
                                            <input matInput tabindex="33" formControlName="distributioncode" required>
                                            <mat-error *ngIf="trrowErrors.distributioncode.errors && trrowErrors.distributioncode.errors.required"> This field is required </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <span class="custom-tooltip"
                                        matTooltip="7. Distribution codes(s)" (blur)="onBlurFloat($event)">
                                    </span>

                                </div>
                                <div class="full-width  p-8 ">
                                    <div>
                                        <section class="mat-checkbox-section">
                                            <mat-checkbox class="mat-checkbox-item" tabindex="34" formControlName="ra_sep_simple">RA/ SEP/ SIMPLE
                                            </mat-checkbox>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div fxFlex="40" class="full-width p-8">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>9a. Your percentage of total distribution</mat-label>
                                    <input matInput tabindex="37" formControlName="per_totodistribution" 
                                    matTooltip="9a. Your percentage of total distribution">
                                </mat-form-field>
                            </div>
                            
                        </div>

                    </div>
                </div>
                <div fxFlex="20" class="content border-RB">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                        <div fxFlex="30" class="full-width p-8 border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>6. Net unrealized appreciation in employer's securities</mat-label>
                                    <input matInput tabindex="32" type="number" matTooltip="6. Net unrealized appreciation in employer's securities" 
                                    formControlName="employersecurities" (blur)="onBlurFloat($event)">

                                </mat-form-field>
                            </div>
                        </div>


                        <div fxFlex="30" class="full-width p-8 border-B">
                            <div fxLayout="row wrap" class="full-width" fxFlexFill>
                                <div fxFlex="50" class="full-width">
                                    <div>
                                        <mat-form-field appearance="outline" class="full-width Left-controls">
                                            <mat-label>8. Other</mat-label>
                                            <input matInput tabindex="35" type="number" matTooltip="8. Other" 
                                            formControlName="other" (blur)="onBlurFloat($event)">
                                        </mat-form-field>
                                    </div>
                                    

                                </div>


                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>%</mat-label>
                                        <input matInput tabindex="36" formControlName="percentage">

                                    </mat-form-field>
                                </div>


                            </div>
                        </div>

                        <div fxFlex="40" class="full-width p-8">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>9b. Total employee contributions</mat-label>
                                    <input matInput tabindex="38" type="number" matTooltip="9b. Total employee contributions" 
                                    formControlName="totalcontributions" (blur)="onBlurFloat($event)">

                                </mat-form-field>
                            </div>
                    
                        </div>
                    </div>
                </div>
                <div fxFlex="20" class="content border-RB">
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="40" class="content border-LRB">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                        <div fxFlex="50" class="full-width  p-8 border-B" >
                            <div *ngIf="this.taxyear != 2010">
                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>10. Amount allocable to IRR within 5 years</mat-label>
                                    <input matInput tabindex="39" type="number" matTooltip="10. Amount allocable to IRR within 5 years" 
                                    formControlName="amountallocable" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                            </div>
                    
                        </div>

                        <div fxFlex="50" class="full-width">
                            <div fxLayout="row wrap" class="full-width line-controls-50" fxFlexFill>
                                <div class="full-width p-8 ">
                                    <div>
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>11. 1st year desig. Roth contrib.</mat-label>
                                            <input matInput tabindex="40" type="text" matTooltip="11. 1st year desig. Roth contrib" formControlName="rothcontrib">
                                        </mat-form-field>
                                    </div>
                                   
                                </div>
                                <div class="full-width p-8" *ngIf="taxyear > 2015 || taxyear == 2005" >
                                    <div class="full-width content-hint">
                                        <mat-hint>12. FATCA filing requirement</mat-hint>
                                    </div>

                                    <div>
                                        <section>
                                            <mat-checkbox class="mat-checkbox-item" tabindex="41" formControlName="FATCA"></mat-checkbox>
                                        </section>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div fxFlex="20" class="content border-RB">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                        <div fxFlex="50" class="full-width p-8 border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>14. State tax withheld
                                    </mat-label>
                                    <input matInput tabindex="43" type="number" matTooltip="14. State tax withheld" 
                                    formControlName="statetax" (blur)="onBlurFloat($event)">

                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>14. State tax withheld
                                    </mat-label>
                                    <input matInput tabindex="43" type="number" matTooltip="14. State tax withheld" 
                                    formControlName="statetax" (blur)="onBlurFloat($event)">

                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>
                <div fxFlex="20" class="content border-RB" fxFlex.xs="15">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                        <div fxFlex="50" class="full-width  p-8  border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>15. State/Payer’s state no.
                                    </mat-label>
                                    <input matInput tabindex="45" type="text" matTooltip="15. State/Payer’s state no." 
                                    formControlName="stateno">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>15. State/Payer’s state no.
                                    </mat-label>
                                    <input matInput tabindex="46" type="text" matTooltip="15. State/Payer’s state no." 
                                    formControlName="stateno">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="20" class="content border-RB" fxFlex.xs="15">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                        <div fxFlex="50" class="full-width p-8  border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>16. State distribution
                                    </mat-label>
                                    <input matInput tabindex="47" type="number" matTooltip=">16. State distribution"
                                     formControlName="statedistribution" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>16. State distribution
                                    </mat-label>
                                    <input matInput tabindex="48" type="number" matTooltip=">16. State distribution"
                                    formControlName="statedistribution" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="40" class="content border-LRB">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                        <div fxFlex="50" class="full-width p-8 border-B">
                            <div class="full-width">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Account number (see instructions)</mat-label>
                                    <input matInput tabindex="23" formControlName="acctno">

                                </mat-form-field>

                            </div>
                        </div>

                        <div fxFlex="50" class="full-width p-8">
                            <div class="full-width">
                                <div  *ngIf="this.taxyear > 2018 || this.taxyear == 2005">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13. Date of payment</mat-label>
                                        <input matInput tabindex="42" matTooltip="13. Date of payment" 
                                        formControlName="dateofpayment">
                                    </mat-form-field>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="20" class="content border-RB">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                        <div fxFlex="50" class="full-width  p-8 border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>17. Local tax withheld
                                    </mat-label>
                                    <input matInput tabindex="49" type="number" matTooltip="17. Local tax withheld"
                                     formControlName="localtax" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>17. Local tax withheld
                                    </mat-label>
                                    <input matInput tabindex="50"  type="number" matTooltip="17. Local tax withheld"
                                    formControlName="localtax" (blur)="onBlurFloat($event)">

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="20" class="content border-RB" fxFlex.xs="15">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                        <div fxFlex="50" class="full-width  p-8 border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>18. Name of locality
                                    </mat-label>
                                    <input matInput tabindex="51"  matTooltip="18. Name of locality"
                                    formControlName="locality">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>18. Name of locality
                                    </mat-label>
                                    <input matInput tabindex="52" matTooltip="18. Name of locality"
                                    formControlName="locality">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="20" class="content border-RB" fxFlex.xs="15">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                        <div fxFlex="50" class="full-width  p-8 border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>19. Local distribution
                                    </mat-label>
                                    <input matInput tabindex="53"  type="number" matTooltip="19. Local distribution" 
                                    formControlName="localdistribution" (blur)="onBlurFloat($event)">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>19. Local distribution
                                    </mat-label>
                                    <input matInput tabindex="54" type="number" matTooltip="19. Local distribution" 
                                    formControlName="localdistribution" (blur)="onBlurFloat($event)"> 
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Form <strong>1099-R</strong></p>
                    </div>
                </div>
                <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                    </div>
                </div>
            </div>

            <div class="btn_actions">
                <button mat-stroked-button id="login" class="btn_primary" tabindex="55">
                    Submit
                </button>
            </div>

        </mat-card>
        </form>
    </div>
</div>