<div class="App-body">
    <div class="App-content">

        <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="50" class="left-control full-width">
                <mat-card>
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>

                            <button mat-icon-button disabled></button>
                            <mat-checkbox class="checklist-leaf-node"
                                [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                                    'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                                    'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                                [checked]="checklistSelection.isSelected(node)"
                                (change)="checklistSelection.toggle(node);" draggable="true"
                                (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);"
                                (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">{{node.item}}
                            </mat-checkbox>
                        </mat-tree-node>

                        <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
                            <button mat-icon-button disabled></button>
                            <mat-form-field>
                                <input matInput #itemValue placeholder="New item...">
                            </mat-form-field>
                            <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
                        </mat-tree-node>

                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>

                            <mat-checkbox
                                [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                                    'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                                    'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                                draggable="true" (dragstart)="handleDragStart($event, node);"
                                (dragover)="handleDragOver($event, node);" (drop)="handleDrop($event, node);"
                                (dragend)="handleDragEnd($event);" [checked]="descendantsAllSelected(node)"
                                [indeterminate]="descendantsPartiallySelected(node)"
                                (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>

                        </mat-tree-node>
                    </mat-tree>

                    <span #emptyItem></span>

                </mat-card>
            </div>
            <div fxFlex="50" class="right-control full-width">
                <mat-card>
                    <mat-tree [dataSource]="dataSource2" [treeControl]="treeControl2">
                        <mat-tree-node *matTreeNodeDef="let node" 
                        matTreeNodeToggle matTreeNodePadding>

                            <button mat-icon-button disabled></button>
                            <mat-checkbox class="checklist-leaf-node"
                                [ngClass]="{'drop-above': dragNodeExpandOverArea2 === 'above' && dragNodeExpandOverNode2 === node,
                                    'drop-below': dragNodeExpandOverArea2 === 'below' && dragNodeExpandOverNode2 === node,
                                    'drop-center': dragNodeExpandOverArea2 === 'center' && dragNodeExpandOverNode2 === node}"
                                [checked]="checklistSelection2.isSelected(node)"
                                (change)="checklistSelection2.toggle(node);" draggable="true"
                                (dragstart)="handleDragStart($event, node);" (dragover)="handleDragOver($event, node);"
                                (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">{{node.item}}
                            </mat-checkbox>
                        </mat-tree-node>
                      

                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl2.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>

                            <mat-checkbox
                                [ngClass]="{'drop-above': dragNodeExpandOverArea2 === 'above' && dragNodeExpandOverNode2 === node,
                                    'drop-below': dragNodeExpandOverArea2 === 'below' && dragNodeExpandOverNode2 === node,
                                    'drop-center': dragNodeExpandOverArea2 === 'center' && dragNodeExpandOverNode2 === node}"
                                draggable="true" (dragstart)="handleDragStart($event, node);"
                                (dragover)="handleDragOver($event, node);" (drop)="handleDrop($event, node);"
                                (dragend)="handleDragEnd($event);" [checked]="descendantsAllSelected2(node)"
                                [indeterminate]="descendantsPartiallySelected2(node)"
                                (change)="todoItemSelectionToggle2(node)">{{node.item}}</mat-checkbox>

                        </mat-tree-node>
                    </mat-tree>

                    <span #emptyItem></span>

                </mat-card>
            </div>

        </div>

    </div>
</div>