<div class="App-body">
    <div class="App-content">
        <form [formGroup]="createAppForm">
            <mat-card>
                <h4>View History 3922</h4>


                <div class="Tax-form-content-header" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">

                        <div class="full-width">
                            <div class="btn_actions">
                                <button mat-stroked-button id="Previous" class="btn_primary" tabindex="1">
                                    Previous
                                </button>
                                <button mat-stroked-button id="Next" class="btn_primary" tabindex="2">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="30" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="data_version">
                                <span class="totalPage"> Version 1 / 1
                                </span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="35" class="content p-8 border-LRB" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                        <div class="full-width" fxLayoutAlign="flex-end start">
                            <div class="btn_actions">
                                <button mat-stroked-button id="login" class="btn_primary m-r-8" tabindex="4">
                                    Back to Current Version
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified By: Bob Lambert</h5>
                        </div>
                    </div>
                    <div fxFlex="30" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified Date: 08-20-2020 </h5>
                        </div>
                    </div>
                    <div fxFlex="35" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>IP Address: 192.16.1.1</h5>
                        </div>
                    </div>


                </div>


                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8  border-LRB">
                        <div class="full-width">
                            <mat-form-field appearance="outline"  class="full-width">
                                <mat-label>Corporation's name</mat-label>
                                <input matInput tabindex="2" #corporationName formControlName="corporationName" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="3" #corporationAddress1 formControlName="corporationAddress1" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="3" #corporationAddress2 formControlName="corporationAddress2" [readonly]="true">
                            </mat-form-field>


                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="3" #corporationAddress3 formControlName="corporationAddress3" [readonly]="true">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="6" #corporationCity formControlName="corporationCity" [readonly]="true">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" #corporationState formControlName="corporationState" [disabled]="true">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="8" #corporationZip formControlName="corporationZip" [readonly]="true">
                                    </mat-form-field>
                                </div>
                            </div>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no.</mat-label>
                                <input matInput tabindex="9" #corporationTelephoneNo formControlName="corporationTelephoneNo" [readonly]="true">
                            </mat-form-field>



                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no. 2</mat-label>
                                <input matInput tabindex="9" #corporationTelephoneNo1 formControlName="corporationTelephoneNo1" [readonly]="true">
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="50" class="content border-RB">

                        <div fxLayout="column" class="full-width" fxLayoutAlign="space-evenly center" fxFlexFill>

                            <div fxFlex="30" fxLayout="row" class="full-width border-B">
                                <div fxFlex="60" class="full-width center-align p-8">
                                    <h4 style="font-size: 15px;">OMB No. 1545-2129</h4>
                                    <h2>{{taxyear}}</h2>
                                    <h2 style="font-size: 20px;">Form <strong>3922</strong></h2>
                                </div>
                                <div fxFlex="40" class="full-width center-align p-8 border-B">
                                <p style="font-size: 15px;">
                                        Transfer of Stock
                                        Acquired Through
                                        an Employee
                                        Stock Purchase
                                        Plan Under
                                        Section 423(c)
                                        
                                    </p>
                                </div>
                                <!-- <div fxFlex="40" fxLayoutAlign="end start" class="p-8">
                                    <h4>Transfer of Stock
                                        Acquired Through
                                        an Employee
                                        Stock Purchase
                                        Plan Under
                                        Section 423(c)</h4>
                                </div> -->
                            </div>

                            <div fxFlex="70" class="full-width content p-8">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Employee's Name</mat-label>
                                        <input matInput tabindex="2" #employeeName formControlName="employeeName" [readonly]="true">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Street Address1</mat-label>
                                        <input matInput tabindex="3" #employeeAddress1 formControlName="employeeAddress1" [readonly]="true">
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Street Address2</mat-label>
                                        <input matInput tabindex="3" #employeeAddress2 formControlName="employeeAddress2" [readonly]="true">
                                    </mat-form-field>


                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Street Address3</mat-label>
                                        <input matInput tabindex="3" #employeeAddress3 formControlName="employeeAddress3" [readonly]="true">
                                    </mat-form-field>


                                    <div fxLayout="row wrap" class="full-width">
                                        <div fxFlex="35">
                                            <mat-form-field appearance="outline" class="full-width Left-controls">
                                                <mat-label>City</mat-label>
                                                <input matInput tabindex="6" #employeeCity formControlName="employeeCity" [readonly]="true">
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="30">
                                            <mat-form-field appearance="outline" class="full-width middle-controls">
                                                <mat-label>State</mat-label>
                                                <mat-select placeholder="Select" tabindex="7" #employeeState formControlName="employeeState" [disabled]="true">
                                                    <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="35">
                                            <mat-form-field appearance="outline" class="full-width right-controls">
                                                <mat-label>Zip</mat-label>
                                                <input matInput tabindex="8" #employeeZip formControlName="employeeZip" [readonly]="true">
                                            </mat-form-field>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8  border-LRB">
                        <div class="full-width">                       
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Corporation's Federal identification number</mat-label>
                                <mat-select placeholder="Select" tabindex="7" #corporationFederalIdentificationNumber formControlName="corporationFederalIdentificationNumber" [disabled]="true">
                                    <mat-option value="">-- Select --</mat-option>
                                    <mat-option value="aaaa">aaa</mat-option>
                                </mat-select>

                            </mat-form-field>
                        </div>


                    </div>
                    <div fxFlex="50" class="content p-8  border-RB">
                        <div class="full-width">
                        
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Employee's identification number</mat-label>
                                <input matInput tabindex="12" maxlength="11" #employeeIdentificationNumber formControlName="employeeIdentificationNumber" [readonly]="true">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline"  class="full-width">
                                <mat-label>Form Release Date</mat-label>
                                <input matInput #releaseDate formControlName="releaseDate" readonly="true">
                                <mat-hint>MM-DD-YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="50" class="content p-8 border-RB" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline"  class="full-width">
                                <mat-label>E-Consent Date</mat-label>
                                <input matInput #EContentDate formControlName="EContentDate" readonly="true">
                                <mat-hint>MM-DD-YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="100" class="content p-8 border-full" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="full-width content-hint">
                                <mat-hint>Memo</mat-hint>
                            </div>
                            <mat-form-field appearance="outline" class="full-width">
    
                                <input matInput type="textarea" #memo formControlName="memo" [readonly]="true">
    
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="100" class="content p-8 p-8" fxFlex.xs="55">
                        <table mat-table [dataSource]="dataSource" matSort class="full-width mat-elevation-z8">

                            <ng-container matColumnDef="transID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Trans ID </th>
                                <td mat-cell *matCellDef="let element"> {{element.transID}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="box1">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Grant (Subscription) Date">Box 1</th>
                                <td mat-cell *matCellDef="let element"> {{element.box1}} </td>
    
                            </ng-container>
    
                            <ng-container matColumnDef="box2">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Exercise (Purchase) Date">Box 2</th>
                                <td mat-cell *matCellDef="let element"> {{element.box2}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="box3">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Grant (Subscription) Value">Box 3</th>
                                <td mat-cell *matCellDef="let element"> {{element.box3}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="box4">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Exercise (Ending) Value">Box 4</th>
                                <td mat-cell *matCellDef="let element"> {{element.box4}} </td>
                            </ng-container>
    
    
                            <ng-container matColumnDef="box5">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Exercise (Purchase) Value">Box 5</th>
                                <td mat-cell *matCellDef="let element"> {{element.box5}} </td>
                            </ng-container>
                            <ng-container matColumnDef="box6">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Number of shares">Box 6</th>
                                <td mat-cell *matCellDef="let element"> {{element.box6}} </td>
                            </ng-container>
                            <ng-container matColumnDef="box7">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Date of transfer">Box 7</th>
                                <td mat-cell *matCellDef="let element"> {{element.box7}} </td>
                            </ng-container>
                            <ng-container matColumnDef="box8">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Discount on subscription Date">Box 8</th>
                                <td mat-cell *matCellDef="let element"> {{element.box8}} </td>
                            </ng-container>
    
                            
                            <ng-container matColumnDef="paginator">
                                <td mat-header-cell *matHeaderCellDef colspan="10" class="mat-table-toolbar">
                                    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
                                </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="['paginator']"></tr>
    
    
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                            (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>
    
    
                        </table>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="content p-8 p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Form <strong>3922</strong></p>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8 p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                        </div>
                    </div>
                </div>

            </mat-card>
        </form>
    </div>
</div>