.table-content {
    overflow: scroll;
}

.mat-column-transID {
    width:10%;
}

.mat-column-box1 {
    width:10%;
}


.mat-column-box2 {
    width:10%;
}

.mat-column-box3 {
    width:10%;
}

.mat-column-box4 {
    width:10%;
}

.mat-column-box5 {
    width:10%;
}

.mat-column-box6 {
    width:10%;
}

.mat-column-box7 {
    width:10%;
}


.mat-column-box8 {
    width:10%;
}


.mat-column-action {
    width:10%;
}