<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>

                <h3>Email Support Request</h3>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <form class="basic-form" [formGroup]="emailsupport" (ngSubmit)="onSubmit()">


                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="50" class="left-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Contact Name</mat-label>
                                <input matInput formControlName="contactname">
                                <mat-error *ngIf="Errors.contactname.errors && Errors.contactname.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" class="right-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Contact Email</mat-label>
                                <input matInput type="email"  formControlName="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                                <mat-error *ngIf="Errors.email.errors && Errors.email.errors.required"> This field is required </mat-error>
                                <mat-error *ngIf="Errors.email.errors && Errors.email.errors.email">Please enter a valid email address</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="50" class="left-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Contact Phone</mat-label>
                                <input matInput type="phone" formControlName='contactphone' [mask]="'[000]-[000]-[0000]'">
                                <mat-error *ngIf="Errors.contactphone.errors && Errors.contactphone.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" class="right-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Form Type</mat-label>
                                <mat-select placeholder="Select"  formControlName='type'>
                                    <mat-option value="1098-T">1098-T</mat-option>
                                </mat-select>
                                <mat-error *ngIf="Errors.type.errors && Errors.type.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Type of Issue</mat-label>
                        <mat-select placeholder="Select" formControlName='issue'>
                            <mat-option *ngFor="let issue of typeofissue" [value]="issue.value">
                                {{issue.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="Errors.issue.errors && Errors.issue.errors.required"> This field is required </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Description of Support Needed</mat-label>
                        <textarea matInput rows='5' formControlName="description"></textarea>
                        <mat-error *ngIf="Errors.description.errors && Errors.description.errors.required"> This field is required </mat-error>
                    </mat-form-field>

                    <div class="btn_actions">
                        <button mat-stroked-button id="btnPrimay" class="btn_primary">
                            Submit
                        </button>
                    </div>


                </form>
            </mat-card>
        </div>
    </div>
</div>