.table-content {
    overflow: auto;
}

.mat-column-tax_year {    
     
    width: 10% !important;
    align-items: left;   
    
}


.mat-column-site_type {    
     
    width: 25% !important;
    align-items: left;   
    
}


.mat-column-postal_status {    
     
    width: 20% !important;
    align-items: left;   
    
}


.mat-column-tcrs_settings {    
     
    width: 20% !important;
    align-items: left;   
    
}


.mat-column-tcrs_merge {    
     
    width: 20% !important;
    align-items: left;   
    
}

/* Chrome, Safari, Edge, Opera */
input {
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.file-input {
	display: none;
}



