.table-content {
    overflow: scroll;
}

/*
   
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    */

.mat-column-seq {    
     
    min-width:20px;
    align-items: left;
    
    
}

.mat-column-first_name {
    min-width:100px;    
    width: 10% !important;
}

.mat-column-last_name {
    min-width:100px;    
    width: 10% !important;
}

.mat-column-ssn {
    min-width:100px;         
    width: 10% !important;
}

.mat-column-school_student_id {     
    min-width:150px;    
    width: 10% !important;
}

.mat-column-transferred_box5 {
    min-width:100px;    
    width: 10% !important;
}

.mat-column-EIN {    
    min-width:100px;     
    width: 10% !important;
}

.mat-column-Name {
    min-width:100px;        
    width: 10% !important;
}

.mat-column-citystatezip {
    min-width:100px;       
    width: 10% !important;
}

.mat-column-Address {
    min-width:100px;     
    width: 10% !important;
}

.mat-column-action {
    min-width:110px;  
    width: 10% !important;
}
