<div class="App-body">
    <div class="App-content">
        <form [formGroup]="createForm">
        <mat-card>
            <h4>1042S View History</h4>

            <div class="Tax-form-content-header" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">

                    <div class="full-width">
                        <div class="btn_actions">
                            <button mat-stroked-button id="Previous" class="btn_primary" tabindex="1">
                                Previous
                            </button>
                            <button mat-stroked-button id="Next" class="btn_primary" tabindex="2">
                                Next
                            </button>
                        </div>
                    </div>
                </div>

                <div fxFlex="30" class="content p-8 border-LRB" fxFlex.xs="55">
                    <div class="full-width">
                        <div class="data_version">
                            <span class="totalPage"> Version 1 / 1
                            </span>
                        </div>
                    </div>
                </div>

                <div fxFlex="35" class="content p-8 border-LRB" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                    <div class="full-width" fxLayoutAlign="flex-end start">
                        <div class="btn_actions">
                            <button mat-stroked-button id="login" class="btn_primary m-r-8" tabindex="4">
                                Back to Current Version
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Tax-form-content" fxLayout="row" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">
                    <div class="full-width">
                        <h5>Modified By: Bob Lambert</h5>
                    </div>
                </div>
                <div fxFlex="30" class="content p-8 border-RB" fxLayoutAlign="start center">
                    <div class="full-width">
                        <h5>Modified Date: 08-20-2020 </h5>
                    </div>
                </div>
                <div fxFlex="35" class="content p-8 border-RB" fxLayoutAlign="start center">
                    <div class="full-width">
                        <h5>IP Address: 192.16.1.1</h5>
                    </div>
                </div>


            </div>


            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="25" class="content p-8 border-LRB" fxFlex.xs="55">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                        <div fxFlex="60" class="center-align ">
                            <h2>Form <strong>1042-S</strong></h2>
                            <h6>Department of the Treasury
                                Internal Revenue Service</h6>
                        </div>
                    </div>
                </div>

                <div fxFlex="50" class="content border-RB">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                        <div fxFlex="70" class="center-align p-8">
                            <h4>Foreign Person’s U.S. Source Income Subject to Withholding</h4>
                            <h1>2020</h1>

                        </div>
                        <div fxFlex="30" class="full-width p-8">
                            <h5>
                                <mat-icon>arrow_right</mat-icon>Information about Form 1042-S and its separate
                                instructions is at www.irs.gov/form1042s.
                            </h5>
                        </div>

                         
                    </div>
                </div>
                <div fxFlex="25" class="content p-8 border-RB" fxFlex.xs="15" fxLayoutAlign="center start">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                        <div fxFlex="60" class="center-align">
                            <h4>OMB No. 1545-0096</h4>
                            <h4><strong>Copy A </strong> for </h4>
                            <h4>Internal Revenue Service
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content">
                <div fxLayout="row" fxLayoutAlign="start center" class="border-LRB">
                    <div fxFlex="40" class="content-header p-8 border-R">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Unique Form Identifier</mat-label>
                            <input matInput tabindex="11" formControlName="formidentifier" readonly="true">
                        </mat-form-field>

                    </div>
                    <div fxFlex="35" class="full-width border-R">
                        <section class="mat-checkbox-section p-8">
                            <mat-checkbox class="mat-checkbox-item" tabindex="21" 
                            formControlName="amended" [disabled]="true" >Amended</mat-checkbox>
                        </section>
                    </div>

                    <div fxFlex="25" class="full-width content-header p-8">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Amendment No.</mat-label>
                            <input matInput tabindex="11" formControlName="amendmentno" maxlength="2" 
                            (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">     
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content full-width">
                <div class="border-LRB" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" fxLayout="column" fxFlexFill class="content">

                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="25" fxLayout="column" class="content border-RB">
                                <div fxFlex="50" class="full-width p-8">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>1. Income Code</mat-label>
                                        <input matInput tabindex="11"   formControlName="incomecode" maxlength="2" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="50" class="full-width p-8  border-Top">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>3a. Exemption code</mat-label>
                                        <input matInput tabindex="11"  formControlName="exemptioncode"maxlength="2" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxFlex="25" fxLayout="column" class="content border-RB">
                                <div fxFlex="50" class="full-width p-8 ">

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>2. Gross Income</mat-label>
                                        <input matInput tabindex="11"   formControlName="grossIncome"  maxlength="2" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>

                                </div>

                                <div fxFlex="50" class="full-width p-8  border-Top">

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>4a. Exemption code</mat-label>
                                        <input matInput tabindex="11"   formControlName="Exemptioncode" maxlength="2" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>

                                </div>

                            </div>

                            <div fxFlex="50" fxLayout="column" class="content border-RB">

                                <div fxFlex="50" class="full-width  p-8  border-B">

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>3. Chapter indicator. Enter “3” or “4”</mat-label>
                                        <input matInput tabindex="12"   formControlName="indicator" maxlength="1" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>
                                </div>

                                <div fxFlex="50" class="full-width" fxLayout="row">

                                    <div fxFlex="50" class="full-width p-8 border-R">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>3b. Tax Rate</mat-label>
                                            <input matInput tabindex="11" formControlName="taxRate3B" readonly="true">
                                        </mat-form-field>

                                    </div>
                                    <div fxFlex="50" class="full-width p-8">
                                        <mat-form-field appearance="outline" class="full-width">
                                            <mat-label>4b. Tax Rate</mat-label>
                                            <input matInput tabindex="11" formControlName="taxRate4B" readonly="true">
                                        </mat-form-field>

                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="full-width p-8  border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>5. Withholding allowance</mat-label>
                                <input matInput tabindex="44" formControlName="withholdallowance" readonly="true">
                            </mat-form-field>
                        </div>

                        <div class="full-width p-8 border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>6. Net income</mat-label>
                                <input matInput tabindex="44" formControlName="NetIncome" readonly="true">
                            </mat-form-field>
                        </div>
                        <div class="full-width p-8 border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>7a. Federal tax withheld</mat-label>
                                <input matInput tabindex="44" formControlName="federaltax" readonly="true">
                            </mat-form-field>
                        </div>
                        <div class="full-width p-8 border-RB">
                            <div class="full-width clear content-hint">
                                <mat-hint>7b.Check if federal tax withheld was not deposited with the IRS because escrow procedures were applied (see instructions)
                                </mat-hint>
                            </div>
                            <section>
                                <mat-checkbox class="mat-checkbox-item" tabindex="1" formControlName="federaltaxwithheld" [disabled]="true"></mat-checkbox>
                            </section>
                        </div>
                        <div class="full-width p-8 border-RB">
                            <div class="full-width clear content-hint">
                                <mat-hint>7c. Check if withholding occurred in subsequent year with respect to a partnership interest
                                </mat-hint>
                            </div>
                            <section>
                                <mat-checkbox class="mat-checkbox-item" tabindex="1" formControlName="withholding" [disabled]="true"></mat-checkbox>
                            </section>
                        </div>
                        <div class="full-width p-8 border-RB">

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>8. Tax withheld by other agents</mat-label>
                                <input matInput tabindex="44" formControlName="otheragents" readonly="true">
                            </mat-form-field>
                        </div>

                        <div class="full-width p-8 border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>9. Tax paid by withholding agent</mat-label>
                                <input matInput tabindex="44" formControlName="taxpaid" readonly="true">
                            </mat-form-field>
                        </div>

                        <div class="full-width p-8 border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>10. Total withholding credit</mat-label>
                                <input matInput tabindex="44" formControlName="totalcredit" readonly="true">
                                </mat-form-field>
                        </div>


                        <div class="full-width p-8 border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>11. Amount repaid to recipient</mat-label>
                                <input matInput tabindex="44" formControlName="amountrepaid" readonly="true">
                            </mat-form-field>
                        </div>


                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="40" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>12a. Withholding agent's EIN</mat-label>
                                        <input matInput tabindex="11" formControlName="EIN" readonly='true'>
                                    </mat-form-field>
                                  
                                </div>
                            </div>


                            <div fxFlex="30" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>12b. Ch. 3 status code</mat-label>
                                        <input matInput tabindex="11"  formControlName="statuscode12B" readonly="true"> 
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="30" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>12c. Ch. 4 status code</mat-label>
                                        <input matInput tabindex="11"  formControlName="statuscode12C" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                        <div class="full-width p-8 border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>12d. Withholding agent's name</mat-label>
                                <input matInput tabindex="44" formControlName="agentName" readonly="true">
                            </mat-form-field>
                         
                        </div>
                        <div class="full-width p-8 border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>12e. Withholding agent's Global Intermediary Identification Number (GIIN)
                                </mat-label>
                                <input matInput tabindex="44" formControlName="GIIN" readonly="true">
                            </mat-form-field>
                        </div>


                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="30" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>12f. Country code</mat-label>
                                        <input matInput tabindex="11" formControlName="countrycode" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div fxFlex="70" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>12g. Foreign taxpayer identification number, if any</mat-label>
                                        <input matInput tabindex="11" formControlName="identificationNumber" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                         <div fxLayout="row" fxFlexFill class="content">
                            <div class="full-width p-8 border-RB">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>12hAddress (number and street)
                                    </mat-label>
                                    <input matInput tabindex="44" formControlName="Address12H" readonly="true">
                                </mat-form-field>
                               
                            </div>
                         </div>
                        <div fxLayout="row wrap" class="full-width border-RB">
                            <div class="p-8">
                                <div class="full-width content-hint">
                                    <mat-hint>12i City or town, state or province, country, ZIP or foreign postal code
                                    </mat-hint>
                                </div>
                            </div>

                            <div fxFlex="40">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6" formControlName="City" readonly="true">
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="20" #studentState formControlName="state" [disabled]="true">
                                        <mat-option>State</mat-option>
                                        <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8" formControlName="Zip" readonly="true">
                                </mat-form-field>
                                
                            </div>
                        </div>
                        <div fxLayout="row wrap" class="full-width border-RB">
                            <div fxFlex="30" class="full-width p-8">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21" formControlName="foreigncontry"
                                    [disabled]="true">Foreign Country</mat-checkbox>
                                </section>
                            </div>

                            <div fxFlex="40">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="22" formControlName="country" [disabled]="true">
                                        <mat-option value="--Option--">--Option--</mat-option>
                                        <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{ country.DISPLAY_NAME}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="30" class="full-width p-8">

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Province code</mat-label>
                                    <input matInput tabindex="11" formControlName="provincecode" [readonly]="true">
                                </mat-form-field>

                            </div>

                        </div>

                        <div fxLayout="row wrap" class="full-width">


                            <div fxFlex="50" class="full-width p-8 border-RB">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>13a. Recipient's name</mat-label>
                                    <input matInput tabindex="11" formControlName="Recipientname" readonly="true"> 

                                </mat-form-field>
                               

                            </div>

                            <div fxFlex="50" class="full-width p-8 border-RB">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>13b. Recipient's country code</mat-label>
                                    <input matInput tabindex="11" formControlName="RecipientCountrycode" readonly="true">
                                </mat-form-field>

                            </div>

                        </div>

                        <div class="full-width p-8 border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>13c. Address (number and street)</mat-label>
                                <input matInput tabindex="44" formControlName="RecipientAddress" readonly="true">
                               
                            </mat-form-field>
                           
                        </div>



                        <div fxLayout="row wrap" class="full-width border-RB">
                            <div class="p-8">
                                <div class="full-width content-hint">
                                    <mat-hint>13d City or town, state or province, country, ZIP or foreign postal code
                                    </mat-hint>
                                </div>
                            </div>

                            <div fxFlex="40">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6" formControlName="RecipientCity" readonly="true">

                                </mat-form-field>
                               
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" formControlName="RecipientState" [disabled]="true">
                                        <mat-option>State</mat-option>
                                        <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8" formControlName="RecipientZip" readonly="true">
                                </mat-form-field>
                               
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="full-width border-R">
                            <div fxFlex="30" class="full-width p-8">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21" formControlName="RecipientForeignCountry" [disabled]="true">Foreign Country</mat-checkbox>
                                </section>
                            </div>

                            <div fxFlex="40">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="22" formControlName="RecipientCountry" [disabled]="true">
                                        <mat-option value="--Option--">--Option--</mat-option>
                                        <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{ country.DISPLAY_NAME}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="30" class="full-width p-8">

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Province code</mat-label>
                                    <input matInput tabindex="11" formControlName="RecipientprovinceCode"  [readonly]="true">
                                </mat-form-field>

                            </div>

                        </div>


                    </div>

                    <div fxFlex="50" fxLayout="column" fxFlexFill class="content">

                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="50" class="content p-8 border-RB">
                                <div class="full-width">

                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13e. Recipient's U.S. TIN, if any</mat-label>
                                        <input matInput tabindex="11" type=number formControlName="RecipientTIN" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div fxFlex="50" class="content">

                                <div class="full-width p-8 border-B">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13f. Ch. 3 status code</mat-label>
                                        <input matInput tabindex="12" formControlName="statusCode13F" maxlength="2" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>
                                </div>

                                <div class="full-width p-8 border-B">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13g. Ch. 4 status code</mat-label>
                                        <input matInput tabindex="12" formControlName="statuscode13G" maxlength="2" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>
                                </div>


                            </div>
                        </div>

                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="30" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13h. Recipient's GIIN</mat-label>
                                        <input matInput tabindex="11" formControlName="RecipentGIIN" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div fxFlex="40" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13i. Recipient's foreign tax identification number, if any
                                        </mat-label>
                                        <input matInput tabindex="11" formControlName="RecipientforeignTax" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="30" class="content p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13j. LOB Code</mat-label>
                                        <input matInput tabindex="11" formControlName="LOBcode" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="50" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13k. Recipient's account number</mat-label>
                                        <input matInput tabindex="11" formControlName="RecipientAccountNumber" readonly="true">
                                    </mat-form-field>
                                   
                                </div>
                            </div>


                            <div fxFlex="50" class="content p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>13l. Recipient's date of birth</mat-label>
                                        <input matInput tabindex="11" formControlName="RecipientDOB" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                        <div class="full-width p-8 border-B">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>14a. Primary Withholding Agent's Name (if applicable)</mat-label>
                                <input matInput tabindex="44" formControlName="primarywithholding" readonly="true">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="50" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>14b. Primary Withholding Agent's EIN</mat-label>
                                        <input matInput tabindex="11"formControlName="primarywithholdingEIN" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div fxFlex="50" class="content p-8 border-B">
                                <div class="full-width">
                                    <div class="full-width content-hint">
                                        <mat-hint>15 Check if pro-rata basis reporting</mat-hint>
                                    </div>
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="1" formControlName="proratebasis" [disabled]="true"></mat-checkbox>
                                    </section>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="50" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>15a. Intermediary or flow-through entity's EIN, if any</mat-label>
                                        <input matInput tabindex="11" formControlName="Intermediary" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div fxFlex="25" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>15b. Ch. 3 status code</mat-label>
                                        <input matInput tabindex="11" typr=number formControlName="statuscode15B" maxlength="2" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="25" class="content p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>15c. Ch. 4 status code</mat-label>
                                        <input matInput tabindex="11" type="number" formControlName="statuscode15C" maxlength="2" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                        <div class="full-width p-8 border-B">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>15d. Intermediary or flow-through entity's name</mat-label>
                                <input matInput tabindex="44" formControlName="intermediary15D" readonly="true">
                            </mat-form-field>
                        </div>
                        <div class="full-width p-8 border-B">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>15e. Intermediary or flow-through entity's GIIN</mat-label>
                                <input matInput tabindex="44" formControlName="Intermediary15E" readonly="true">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="40" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>15f. Country code</mat-label>
                                        <input matInput tabindex="11" formControlName="CountryCode15F" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxFlex="60" class="content p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>15g. Foreign tax identification number, if any</mat-label>
                                        <input matInput tabindex="11" formControlName="ForeignidentificationNo15G" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>


                        </div>

                        <div class="full-width p-8 border-B">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>15h. Address (number and street)</mat-label>
                                <input matInput tabindex="44" formControlName="Address15H" readonly="true">
                            </mat-form-field>
                        </div>



                        <div fxLayout="row wrap" class="full-width">
                            <div class="p-8">
                                <div class="full-width content-hint">
                                    <mat-hint>15i City or town, state or province, country, ZIP or foreign postal code
                                    </mat-hint>
                                </div>
                            </div>

                            <div fxFlex="40">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6" formControlName="City15I" readonly="true">
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" formControlName="state15I" [disabled]="true">
                                        <mat-option>State</mat-option>
                                        <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8" formControlName="Zip15I" readonly="true">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="full-width border-B">
                            <div fxFlex="30" class="full-width p-8">
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="21" formControlName="ForeignCountry15I" [disabled]="true">Foreign Country</mat-checkbox>
                                </section>
                            </div>

                            <div fxFlex="40">
                                <mat-form-field appearance="outline" class="full-width p-8">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="22" formControlName="Country15I" [disabled]="true">
                                        <mat-option value="--Option--">--Option--</mat-option>
                                        <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{ country.DISPLAY_NAME}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="30" class="full-width p-8">

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Province code</mat-label>
                                    <input matInput tabindex="11" formControlName="ProvinceCode15I" [readonly]="true">
                                </mat-form-field>

                            </div>

                        </div>


                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="50" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>16a. Payer's name</mat-label>
                                        <input matInput tabindex="11" formControlName="payersName" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div fxFlex="50" class="content p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>16b. Payer's TIN</mat-label>
                                        <input matInput tabindex="11" formControlName="payersTIN" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="50" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>16c. Payer's GIIN</mat-label>
                                        <input matInput tabindex="11" formControlName="PayersGIIN" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div fxFlex="25" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>16d. Ch. 3 status code</mat-label>
                                        <input matInput tabindex="11"  formControlName="statuscode16D" maxlength="2" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="25" class="content p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>16e. Ch. 4 status code</mat-label>
                                        <input matInput tabindex="11" formControlName="Statuscode16E" maxlength="2" 
                                        (keypress)="($event.charCode >= 48 && $event.charCode < 58)" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div fxLayout="row" fxFlexFill class="content">
                            <div fxFlex="25" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>17a. State income tax withheld</mat-label>
                                        <input matInput tabindex="11" formControlName="Taxwithheld17A" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="25" class="content p-8 border-RB">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>17b. Payer's state tax no.</mat-label>
                                        <input matInput tabindex="11" formControlName="payersTaxno" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxFlex="50" class="content p-8 border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>17c. Name of state</mat-label>
                                        <input matInput tabindex="11" formControlName="State17C" readonly="true">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Form <strong>1042-S</strong></p>
                    </div>
                </div>
                <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                    </div>
                </div>
            </div><div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Form Release Date</mat-label>
                            <input matInput [readonly]=true formControlName="releasedate" readonly="true">
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>E-Consent Date</mat-label>
                            <input matInput  [readonly]=true formControlName="consentdate" readonly="true">
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="100" class="content p-8 border-full" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Memo</mat-label>
                            <input matInput formControlName="memo" readonly="true">

                        </mat-form-field>
                    </div>
                </div>
                <br>
            </div>
        </mat-card>
        </form>
    </div>
</div>