<div class="App-body">
    <div class="App-content">
        <mat-card>
            <h4>
                Watched Folder Management
            </h4>


            <div>

                <!-- Angular 8 pagination -->
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Processing / Pending">
                        <div>

                            <!-- Angular 8 pagination -->
                            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                            <table mat-table [dataSource]="dataSource_Pending" matSort class="mat-elevation-z8"
                                style="width:100%">
                                <ng-container matColumnDef="first_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Site ID </th>
                                    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="last_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Site Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="login_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.login_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="SSN">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded On </th>
                                    <td mat-cell *matCellDef="let element"> {{element.SSN}} </td>
                                </ng-container>
                                <ng-container matColumnDef="TaxFormType">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tax Form Type </th>
                                    <td mat-cell *matCellDef="let element"> {{element.TaxFormType}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ElapsedTime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Elapsed Time </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ElapsedTime}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    (click)="selectedRow = selectedRow === row ? null : row"
                                    [ngClass]="{ 'selected': row === selectedRow }"></tr>
                            </table>

                        </div>
                    </mat-tab>

                    <mat-tab label="File Processed">
                        <div>

                            <!-- Angular 8 pagination -->
                            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
                                style="width:100%">
                                <ng-container matColumnDef="first_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Site ID </th>
                                    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="last_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Site Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="login_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.login_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="SSN">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded On </th>
                                    <td mat-cell *matCellDef="let element"> {{element.SSN}} </td>
                                </ng-container>
                                <ng-container matColumnDef="TaxFormType">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tax Form Type </th>
                                    <td mat-cell *matCellDef="let element"> {{element.TaxFormType}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ElapsedTime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Elapsed Time </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ElapsedTime}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="FPselectedRow = FPselectedRow === row ? null : row"
                                [ngClass]="{ 'selected': row === FPselectedRow }"></tr>

                            </table>

                        </div>
                    </mat-tab>

                    <mat-tab label="Failed">
                        <div>

                            <!-- Angular 8 pagination -->
                            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                            <table mat-table [dataSource]="dataSource_Failed" matSort class="mat-elevation-z8"
                                style="width:100%">
                                <ng-container matColumnDef="first_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Site ID </th>
                                    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="last_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Site Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="login_name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.login_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="SSN">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded On </th>
                                    <td mat-cell *matCellDef="let element"> {{element.SSN}} </td>
                                </ng-container>
                                <ng-container matColumnDef="TaxFormType">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tax Form Type </th>
                                    <td mat-cell *matCellDef="let element"> {{element.TaxFormType}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ElapsedTime">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Elapsed Time </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ElapsedTime}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="FDselectedRow = FDselectedRow === row ? null : row"
                                [ngClass]="{ 'selected': row === FDselectedRow }"></tr>
                                
                            </table>

                        </div>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </mat-card>
    </div>
</div>