<div class="App-body">
    <div class="App-content">
        <form [formGroup]="createAppForm">
            <mat-card>

                <h4>View History 1099-MISC</h4>
                <div class="Tax-form-content-header" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">

                        <div class="full-width">
                            <div class="btn_actions">
                                <button mat-stroked-button id="Previous" class="btn_primary" tabindex="1">
                                    Previous
                                </button>
                                <button mat-stroked-button id="Next" class="btn_primary" tabindex="2">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="30" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="data_version">
                                <span class="totalPage"> Version 1 / 1
                                </span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="35" class="content p-8 border-LRB" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                        <div class="full-width" fxLayoutAlign="flex-end start">
                            <div class="btn_actions">
                                <button mat-stroked-button id="login" class="btn_primary m-r-8" tabindex="4">
                                    Back to Current Version
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified By: Bob Lambert</h5>
                        </div>
                    </div>
                    <div fxFlex="30" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified Date: 08-20-2020 </h5>
                        </div>
                    </div>
                    <div fxFlex="35" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>IP Address: 192.16.1.1</h5>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>
                    <div fxFlex="25" fxFlex.xs="55">
                        <section class="mat-checkbox-section">
                            <mat-checkbox class="mat-checkbox-item" tabindex="1" [disabled]="true" #corrected
                                formControlName="corrected">Corrected</mat-checkbox>
                        </section>
                    </div>
                    <div fxFlex="50" fxFlex.xs="55" fxLayoutAlign="start center">

                    </div>

                    <div fxFlex="25" fxFlex.xs="55" fxLayoutAlign="flex-end center">

                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB border-Top">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Payer's name</mat-label>
                                <input matInput tabindex="2" #payerName formControlName="payerName" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="3" #payerAddress1 formControlName="payerAddress1"
                                    [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="3" #payerAddress2 formControlName="payerAddress2"
                                    [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="3" #payerAddress3 formControlName="payerAddress3"
                                    [readonly]="true">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="6" #payerCity formControlName="payerCity"
                                            [readonly]="true">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" #payerState
                                            formControlName="payerState" [disabled]="true">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="8" #payerZip formControlName="payerZip"
                                            [readonly]="true">
                                    </mat-form-field>
                                </div>
                            </div>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no.</mat-label>
                                <input matInput tabindex="9" #payerTelephoneNo1 formControlName="payerTelephoneNo1"
                                    [readonly]="true">
                            </mat-form-field>
                            <!-- <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no. 2</mat-label>
                                <input matInput tabindex="10">
                            </mat-form-field> -->
                        </div>
                    </div>

                    <div fxFlex="25" class="content border-RB border-Top">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                            <div fxFlex="30" class="full-width p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>1. Rents</mat-label>
                                        <input matInput tabindex="25" #rent formControlName="rent" matTooltip="1. Rents"
                                            type="number" [readonly]="true">

                                    </mat-form-field>
                                </div>

                            </div>
                            <div fxFlex="30" class="full-width p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>2. Royalties</mat-label>
                                        <input matInput tabindex="26" #rolyalties formControlName="rolyalties"
                                            matTooltip="2. Royalties" type="number" [readonly]="true">

                                    </mat-form-field>
                                </div>


                            </div>
                            <div fxFlex="40" class="full-width p-8">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>3. Other income</mat-label>
                                        <input matInput tabindex="27" #otherIncome formControlName="otherIncome"
                                            matTooltip="3. Other income" type="number" [readonly]="true">

                                    </mat-form-field>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div fxFlex="25" class="full-width  content border-RB border-Top">
                        <div fxLayout="column" fxFlexFill>

                            <div fxFlex="40" class="full-width center-align p-8">
                                <h4 style="font-size: 15px;">OMB No. 1545-0115</h4>
                                <div *ngIf="taxyear > 2014 || taxyear <= 2005">
                                    <h2>{{taxyear}}</h2>
                                </div>
                                <h2 style="font-size: 20px;">Form <strong>1099-MISC</strong></h2>
                            </div>
                            <div fxFlex="20" class="full-width center-align p-8 border-B">
                                <!-- <div class="center-align full-width">
                                    <h4 style="font-size: 20px;">Miscellaneous Income</h4>
                                </div> -->
                                <p style="font-size: 15px;">
                                    Miscellaneous Income
                                </p>
                            </div>

                            <div fxFlex="40" class="full-width p-8">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>4. Federal income tax withheld</mat-label>
                                        <input matInput tabindex="28" #federalIncomeTaxWithheld
                                            formControlName="federalIncomeTaxWithheld"
                                            matTooltip="4. Federal income tax withheld" type="number" [readonly]="true">

                                    </mat-form-field>
                                </div>


                            </div>

                        </div>
                    </div>


                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div fxLayout="row wrap" class="full-width" fxFlexFill>
                            <div fxFlex="50">

                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>Payer's Federal identification
                                        number</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" #payerFederalIdentificationNumber
                                        formControlName="payerFederalIdentificationNumber" [disabled]="true">
                                        <mat-option value="">-- Select --</mat-option>
                                        <mat-option value="aaaa">aaa</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50">

                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Recipient's identification number</mat-label>
                                    <input matInput tabindex="12" type="number" [readonly]="true" maxlength="11"
                                        #receiptIdentificationNumber formControlName="receiptIdentificationNumber">

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="25" class="content p-8 border-RB">
                        <div>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>5. Fishing boat proceeds</mat-label>
                                <input matInput tabindex="29" #fishingBoatProceeds formControlName="fishingBoatProceeds"
                                    matTooltip="5. Fishing boat proceeds" type="number" [readonly]="true">

                            </mat-form-field>
                        </div>


                    </div>
                    <div fxFlex="25" class="content p-8 border-RB">
                        <div>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>6. Medical and health care payments</mat-label>
                                <input matInput tabindex="30" #medicalAndHealthCarePayments
                                    formControlName="medicalAndHealthCarePayments"
                                    matTooltip="6. Medical and health care payments" type="number" [readonly]="true">
                            </mat-form-field>
                        </div>

                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Recipient's Name</mat-label>
                                <input matInput tabindex="13" [readonly]="true" #receiptName1
                                    formControlName="receiptName1">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Recipient's Name 2</mat-label>
                                <input matInput tabindex="14" [readonly]="true" #receiptName2
                                    formControlName="receiptName2">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="15" [readonly]="true" #receiptAddress1
                                    formControlName="receiptAddress1">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="16" [readonly]="true" #receiptAddress2
                                    formControlName="receiptAddress2">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="17" [readonly]="true" #receiptAddress3
                                    formControlName="receiptAddress3">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="18" [readonly]="true" #receiptCity
                                            formControlName="receiptCity">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="19" #receiptState
                                            formControlName="receiptState" [disabled]="true">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="20" #receiptZip formControlName="receiptZip"
                                            [readonly]="true">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" class="full-width line-controls_country">
                                <div fxFlex="50">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21" [disabled]="true"
                                            #forignCountry formControlName="forignCountry">Foreign Country
                                        </mat-checkbox>
                                    </section>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Country</mat-label>
                                        <mat-select placeholder="Select" tabindex="22" #receiptCountry
                                            formControlName="receiptCountry" [disabled]="true">
                                            <mat-option value="--Option--">--Option--</mat-option>
                                            <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{
                                                country.DISPLAY_NAME}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="25" class="content  border-RB">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                            <div fxFlex="30" class="full-width p-8 border-B">
                                <div class="full-width content-hint">
                                    <mat-hint>7. Payer made direct sales of
                                        $5,000 or more of consumer
                                        products to a buyer
                                        (recipient) for resale</mat-hint>
                                </div>
                                <mat-checkbox class="mat-checkbox-item" tabindex="31" [disabled]="true"
                                    #payerMadeDirectSales formControlName="payerMadeDirectSales"></mat-checkbox>
                            </div>
                            <div fxFlex="30" class="full-width p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>9. Crop insurance proceeds</mat-label>
                                        <input matInput tabindex="33" #cropInsuranceProceeds
                                            formControlName="cropInsuranceProceeds"
                                            matTooltip="9. Crop insurance proceeds" type="number" [readonly]="true">
                                    </mat-form-field>
                                </div>

                            </div>
                            <div fxFlex="40" class="full-width p-8 reserved_bacground">
                                <div class="full-width content-hint">
                                    <mat-hint>11.</mat-hint>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div fxFlex="25" class="content border-RB">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                            <div fxFlex="30" class="full-width p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>8. Substitute payments in lieu of dividends or interest</mat-label>
                                        <input matInput tabindex="32" #substituePaymentsInLieuOfDividendsOrInterest
                                            formControlName="substituePaymentsInLieuOfDividendsOrInterest"
                                            matTooltip="8. Substitute payments in lieu of dividends or interest"
                                            type="number" [readonly]="true">
                                    </mat-form-field>
                                </div>


                            </div>
                            <div fxFlex="30" class="full-width p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>10. Gross proceeds paid to an
                                            attorney</mat-label>
                                        <input matInput tabindex="34" #grossProceedsPaidToAnAttorney
                                            formControlName="grossProceedsPaidToAnAttorney"
                                            matTooltip="10. Gross proceeds paid to an attorney" type="number"
                                            [readonly]="true">

                                    </mat-form-field>
                                </div>

                            </div>
                            <div fxFlex="40" class="full-width p-8">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>12. Section 409A deferrals</mat-label>
                                        <input matInput tabindex="35" #section409ADeferrals
                                            formControlName="section409ADeferrals"
                                            matTooltip="12. Section 409A deferrals" type="number" [readonly]="true">

                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="25" class="content p-8 border-LRB">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Account number (see instructions)</mat-label>
                                <input matInput tabindex="23" #accountNumber [readonly]="true"
                                    formControlName="accountNumber">
                            </mat-form-field>
                        </div>

                    </div>
                    <div fxFlex="25" class="content p-8 border-RB">
                        <div>
                            <section class="mat-checkbox-section">
                                <mat-checkbox class="mat-checkbox-item" tabindex="24" #fatca formControlName="fatca"
                                    [disabled]="true">FATCA filing requirement
                                </mat-checkbox>
                            </section>
                        </div>


                    </div>
                    <div fxFlex="25" class="content p-8 border-RB">
                        <div class="full-width">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>13. Excess golden parachute payments </mat-label>
                                    <input matInput tabindex="36" #excessGoldenParachutePayments
                                        formControlName="excessGoldenParachutePayments"
                                        matTooltip="13. Excess golden parachute payments" type="number"
                                        [readonly]="true">
                                </mat-form-field>
                            </div>

                        </div>


                    </div>
                    <div fxFlex="25" class="content p-8 border-RB" fxFlex.xs="15">
                        <div class="full-width">
                            <!-- 10. Reimbursement or refunds of qualified tuition and related expenses from an insurance contract -->
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>14. Nonqualified deferred compensation</mat-label>
                                    <input matInput tabindex="37" #nonqualifiedDeferredCompensation
                                        formControlName="nonqualifiedDeferredCompensation"
                                        matTooltip="14. Nonqualified deferred compensation" type="number"
                                        [readonly]="true">

                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="33" class="content border-LRB">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                            <div class="full-width p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>15. State tax withheld1</mat-label>
                                        <input matInput tabindex="38" #stateTaxWithheld1
                                            formControlName="stateTaxWithheld1" matTooltip="15. State tax withheld"
                                            type="number" [readonly]="true">

                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>15. State tax withheld</mat-label>
                                        <input matInput tabindex="39" #stateTaxWithheld2
                                            formControlName="stateTaxWithheld2" matTooltip="15. State tax withheld"
                                            type="number" [readonly]="true">
                                    </mat-form-field>
                                </div>


                            </div>

                        </div>
                    </div>


                    <div fxFlex="33" class="content border-RB" fxFlex.xs="15">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                            <div class="full-width  p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>16. State/Payer’s state no.</mat-label>
                                        <input matInput tabindex="40" #statePayersStateNo1
                                            formControlName="statePayersStateNo1"
                                            matTooltip="16. State/Payer’s state no." type="number" [readonly]="true">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>16. State/Payer’s state no.</mat-label>
                                        <input matInput tabindex="41" #statePayersStateNo2
                                            formControlName="statePayersStateNo2"
                                            matTooltip="16. State/Payer’s state no." type="number" [readonly]="true">
                                    </mat-form-field>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div fxFlex="34" class="content border-RB" fxFlex.xs="15">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                            <div class="full-width  p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>17. State income</mat-label>
                                        <input matInput tabindex="42" #stateIncome1 formControlName="stateIncome1"
                                            matTooltip="17. State income" type="number" [readonly]="true">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>17. State income</mat-label>
                                        <input matInput tabindex="43" #stateIncome2 formControlName="stateIncome2"
                                            matTooltip="17. State income" type="number" [readonly]="true">
                                    </mat-form-field>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Form <strong>1099-MISC</strong></p>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                        </div>
                    </div>
                </div>


                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Form Release Date</mat-label>
                                <input matInput #releaseDate formControlName="releaseDate" readonly="true">
                                <mat-hint>MM-DD-YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxFlex="50" class="content p-8 border-RB border-Top" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>E-Consent Date</mat-label>
                                <input matInput #eConsentDate formControlName="eConsentDate" readonly="true">
                                <mat-hint>MM-DD-YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
           
                <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="100" class="content p-8 border-full" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="full-width content-hint">
                                <mat-hint>Memo</mat-hint>
                            </div>
                            <mat-form-field appearance="outline" class="full-width">
                                <input matInput type="textarea" #memo formControlName="memo">
                            </mat-form-field>
                        </div>
                    </div>
                </div>             
            </mat-card>
        </form>
    </div>
</div>