<!-- <a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
[ngClass]="{'active': item.Menu_Group ? router.isActive(item.Menu_Group, true): false, 'expanded': expanded}"
class="menu-list-item">
{{item.Menu_Comments}}
<span fxFlex *ngIf="item.MenuItems && item.MenuItems.length">
 <span fxFlex></span>
 <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
   expand_more
 </mat-icon>
</span>
</a>
<div *ngIf="expanded">
<app-menu-list-item *ngFor="let child of item.MenuItems" [item]="child" [depth]="depth+1">
</app-menu-list-item>
</div> -->

<mat-list-item 
  [ngStyle]="{'padding-left': (depth * 8) + 'px'}" 
  (click)="onItemSelected(item)"
  [ngClass]="{'selected': item.Menu_Group ? router.isActive(item.Menu_Group, true): false, 'expanded': expanded}"
   class="menu-list-item"
>
  <a class="">
    <span>{{item.Menu_Comments}}</span>  
    <span fxFlex *ngIf="item.MenuItems && item.MenuItems.length">
      <span fxFlex></span>
      <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
        expand_more
      </mat-icon>
    </span>
  </a>
</mat-list-item>
<div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.MenuItems" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>


















<!-- <mat-list-item [ngStyle]="{'padding-left': (depth * 8) + 'px'}" (click)="onItemSelected(item)" 
   [ngClass]="{'selected': item.state ? router.isActive(item.state, true): false, 'expanded': expanded}"
   class="menu-list-item">
   <a class="" [routerLink]="['/', item.state]" *ngIf="item.type === 'link'">
    <span>{{ item.name }}</span>  
  
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
</mat-list-item>
<div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div> -->

<!-- <mat-list-item  
[ngClass]="{'selected': router.url.indexOf(item.Menu_Group.toLocaleLowerCase()) > 0 ? true : false}"
   class="menu-list-item">
  <a class="" [routerLink]="['/', item.Menu_Group | lowercase]" >
    <span>{{ item.Menu_Comments }}</span>  

    <span fxFlex *ngIf="item.MenuItems && item.MenuItems.length">
      <span fxFlex></span>
      <mat-icon [@indicatorRotate]="router.url.indexOf(item.Menu_Group.toLocaleLowerCase()) > 0 ? 'expanded': 'collapsed'">
        expand_more
      </mat-icon>
    </span>
  </a>
</mat-list-item>

<div *ngIf="router.url.indexOf(item.Menu_Group.toLocaleLowerCase()) > 0">
  <div *ngFor="let child of item.MenuItems">
    <mat-list-item
    [ngClass]="{'selected': router.url.indexOf(child.menu_function.toLocaleLowerCase()) > 0 ? true : false}"
    class="menu-list-item">
      <a class="" [routerLink]="['/', item.Menu_Group | lowercase, child.menu_function | lowercase]">
        <span>{{ child.menu_description }}</span>  
      </a>
    </mat-list-item>
  </div>
</div> -->

<!---checking for menus-->

<!-- <div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.MenuItems" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div> -->

<!-- working components -->
<!-- <mat-list-item [ngStyle]="{'padding-left': (depth * 8) + 'px'}" (click)="onItemSelected(item)" 
   [ngClass]="{'selected': item.Menu_Group ? router.isActive(item.Menu_Group, true): false, 'expanded': 'expanded'}"
   class="menu-list-item">
      <a class="" [routerLink]="['/', item.Menu_Group | lowercase]">
        <span>{{ item.Menu_Group }}</span>  

        <span fxFlex *ngIf="item.MenuItems && item.MenuItems.length">
          <span fxFlex></span>
          <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
            expand_more
          </mat-icon>
        </span>
      </a>
   </mat-list-item>

   <div *ngIf="expanded">
    <div *ngFor="let child of item.MenuItems" [depth]="depth+1">

      <mat-list-item [ngStyle]="{'padding-left': (depth * 8) + 'px'}" (click)="onItemSelected(child)" 
   [ngClass]="{'selected': item.Menu_Group.toLocaleLowerCase() + '/' + child.menu_function.toLocaleLowerCase() ? router.isActive(item.Menu_Group.toLocaleLowerCase() + '/' + child.menu_function.toLocaleLowerCase(), true): false, 'expanded': expanded}"
   class="menu-list-item">
      <a class="" [routerLink]="['/', item.Menu_Group | lowercase, child.menu_function | lowercase]">
        <span>{{ child.menu_description }}</span>  

        <span fxFlex *ngIf="child.MenuItems && child.MenuItems.length">
          <span fxFlex></span>
          <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
            expand_more
          </mat-icon>
        </span>
      </a>
   </mat-list-item>

     </div>
  </div>  -->
  


