<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <form [formGroup]="loginForm">
                <mat-card>

                    <h4>
                        Change Password
                    </h4>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Current Password</mat-label>
                        <input matInput #currentpassword [type]="currentpasswordhide ? 'password' : 'text'"
                            formControlName="currentpassword" required>
                        <mat-icon matSuffix (click)="currentpasswordhide = !currentpasswordhide">
                            {{currentpasswordhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <!-- <mat-hint>Enter your current password.</mat-hint> -->
                        <mat-error *ngIf="loginForm.controls['currentpassword'].errors?.required"> This field
                            is
                            required </mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>New Password</mat-label>
                        <input matInput #newpassword (keyup)="onChangePassword(newpassword.value)"  [type]="newpasswordhide ? 'password' : 'text'"
                            formControlName="newpassword" required>
                        <mat-icon matSuffix (click)="newpasswordhide = !newpasswordhide">
                            {{newpasswordhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <!-- <mat-hint>Enter your new password.</mat-hint> -->

                        <mat-error *ngIf="loginForm.controls['newpassword'].errors?.required"> This field is
                            required </mat-error>


                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Confirm Password</mat-label>

                        <input matInput #confirmpassword [type]="confirmpasswordhide ? 'password' : 'text'"
                            formControlName="confirmpassword" required>
                        <mat-icon matSuffix (click)="confirmpasswordhide = !confirmpasswordhide">
                            {{confirmpasswordhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <!-- <mat-hint>Re-enter your new password to confirm.</mat-hint> -->

                        <mat-error *ngIf="loginForm.controls['confirmpassword'].errors?.required"> This field
                            is
                            required</mat-error>



                    </mat-form-field>

                   
        <div class="PasswordStrength _medium">
            <div class="PasswordStrength-bar">
              <div class="PasswordStrength-bar-inner" [style.width]="bar"></div>
            </div>
            <p class="PasswordStrength-text">
              Password strength: {{ barLabel }}
            </p>
          </div>

                    <button mat-stroked-button id="btnSubmit" class="btn_primary" (click)="onSubmit()">
                        Submit
                    </button>
                </mat-card>

            </form>
        </div>
    </div>
</div>