<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">

            <mat-card>
                <h4>
                    Broadcast Message
                </h4>
                <form class="basic-form " [formGroup]="broadcastForm" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput #description formControlName="description"></textarea>
                        <!-- <mat-error *ngIf="trrowErrors.description.errors && trrowErrors.description.errors.required"> This field is required </mat-error> -->
                    </mat-form-field>

                    <div class="btn_actions">
                        <button mat-stroked-button id="btnPrimay" class="btn_primary">
                            Submit
                        </button>
                    </div>

                </form>
            </mat-card>
        </div>
    </div>
</div>