<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>
                <div class="breadcrumbs">

                    <span>Client Retrieval</span>
                    <mat-icon>arrow_right_alt</mat-icon>
                    <span>Add Files</span>

                </div>

                <h4>
                    Add Files
                </h4>

                <div fxLayout="row">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Site Name</mat-label>
                        <mat-select placeholder="Select">
                            <mat-option value="option">AA</mat-option>
                            <mat-option value="option">AB</mat-option>
                            <mat-option value="option">AE</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="full-width">

                    <ngx-file-drag-drop [formControl]="fileControl" activeBorderColor="#3F51B5" multiple
                        (valueChanged)="onValueChange($event)" class="ngx-file-drag-drop"></ngx-file-drag-drop>

                </div>

                <div class="full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Notes</mat-label>
                        <input matInput type="textarea" tabindex="35">

                    </mat-form-field>
                </div>
                <div class="btn_actions">
                    <button mat-stroked-button class="btn_primary">Upload File</button>
                    <button mat-stroked-button class="btn_secondary">Cancel</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>