<div class="App-body">
    <div class="App-content">

        <mat-card>
            <h4>
                Manage Sites
            </h4>

            <div class="btn_actions">
                <button mat-stroked-button id="btnPrimay" class="btn_primary" [routerLink]="['/managesites/createsite']">
                  Create Site
                </button>
              </div>
            </mat-card>

        <mat-card>
            <h4>
                Manage Site Search Results
            </h4>

            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>Search Company Name or Site Id</mat-label>
                <input matInput (keyup)="searchData($event.target.value)" type="search">
            </mat-form-field>
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
            <table mat-table [dataSource]="dataSource" style="width:100%">
                <ng-container matColumnDef="SITE_ID">
                    <th mat-header-cell *matHeaderCellDef>Site Id</th>
                    <td mat-cell *matCellDef="let element"> {{element.SITE_ID}} </td>
                </ng-container>

                <ng-container matColumnDef="COMPANY_NAME">
                    <th mat-header-cell *matHeaderCellDef>Company Name</th>
                    <td mat-cell *matCellDef="let element"> 
                        <!-- <a routerLink="/managesites/edit-site/{{ element.SITE_ID }}">{{element.COMPANY_NAME}} </a> -->
                        {{element.COMPANY_NAME}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element"> 
                        <button mat-icon-button color="accent" [routerLink]="['/managesites/edit-site/', element.SITE_ID]">
                            <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>


                        <button mat-icon-button color="accent" (click)="deleteAction(element.SITE_ID)">
                            <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                            <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                        </button>
                        <!-- <a routerLink="/managesites/edit-site/{{ element.SITE_ID }}">{{element.COMPANY_NAME}} </a> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selectedRow = selectedRow === row ? null : row"
                    [ngClass]="{ 'selected': row === selectedRow }"></tr>
            </table>
        </mat-card>
    </div>
</div>