<div class="App-body">
    <div class="App-content">

        <h3>Home</h3>

        <mat-card>
            <h4>TIN Check File</h4>
            <h5>[client input file name]</h5>



            <div class="ProgressStep ">
                <div class="ProgressStep-bar">
                    <div class="ProgressStep-bar-inner-medium"></div>
                    <div class="ProgressStep-bar-inner-medium"></div>
                    <div class="ProgressStep-bar-inner-strong"></div>
                    <div class="ProgressStep-bar-inner-strong"></div>
                </div>

            </div>


            <mat-horizontal-stepper #stepper>

                <mat-step label="Uploaded">
                    <p>Upload a file for us to proof.</p>
                </mat-step>
                <mat-step label="Approve Form">
                    <p>Approved </p>
                </mat-step>
                <mat-step label="Mailing">
                    <p>Make your forms are fully
                        update by Deadline:</p>
                    <p>XX/XX/XXX</p>
                </mat-step>
                <mat-step label="Prepare of E-file">
                    <p>Make your forms are fully
                        update by Deadline:</p>
                    <p>XX/XX/XXX</p>
                </mat-step>

            </mat-horizontal-stepper>

            <h5 class="m-t-24">[client input file name]</h5>
            <div class="ProgressStep ">
                <div class="ProgressStep-bar">
                    <div class="ProgressStep-bar-inner-medium"></div>
                    <div class="ProgressStep-bar-inner-strong"></div>
                    <div class="ProgressStep-bar-inner-strong"></div>
                    <div class="ProgressStep-bar-inner-strong"></div>
                </div>

            </div>
            <mat-horizontal-stepper>
                <mat-step label="Uploaded">
                    <p>Upload a file for us to proof.</p>
                </mat-step>
                <mat-step label="Approve Form">
                    <p>approval Pending! </p>
                </mat-step>
                <mat-step label="Mailing">
                    <p>Make your forms are fully
                        update by Deadline:</p>
                    <p>XX/XX/XXX</p>

                </mat-step>
                <mat-step label="Prepare of E-file">
                    <p>Make your forms are fully
                        update by Deadline:</p>
                    <p>XX/XX/XXX</p>
                </mat-step>

            </mat-horizontal-stepper>


        </mat-card>

        <mat-card>
            <h4>1099-Misc</h4>
            <h5>[client input file name]</h5>
            <div class="ProgressStep ">
                <div class="ProgressStep-bar">
                    <div class="ProgressStep-bar-inner-medium"></div>
                    <div class="ProgressStep-bar-inner-strong"></div>
                    <div class="ProgressStep-bar-inner-strong"></div>
                    <div class="ProgressStep-bar-inner-strong"></div>
                </div>

            </div>
            <mat-horizontal-stepper>
                <mat-step label="Uploaded">
                    <p>Upload a file for us to proof.</p>
                </mat-step>
                <mat-step label="Approve Form">
                    <p>APPROVAL PENDING! </p>
                </mat-step>
                <mat-step label="Mailing">
                    <p>Make your forms are fully
                        update by Deadline:</p>
                    <p>XX/XX/XXX</p>

                </mat-step>
                <mat-step label="Prepare of E-file">
                    <p>Make your forms are fully
                        update by Deadline:</p>
                    <p>XX/XX/XXX</p>
                </mat-step>

            </mat-horizontal-stepper>

        </mat-card>

    </div>
</div>