/*******************
 Topbar
*******************/
mat-toolbar {
    // box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
    &.topbar {
        //padding: 0px 15px;
        padding: 0px;
    }
    .navbar-header {
        text-align: left;
        color: $text-light;
        padding-top: 4px;
        padding-left: 24px;
        .navbar-brand {
            display: flex;
            line-height: 18px;
            align-items: center;
            .dark-logo {
                display: none;
            }
            b {
                margin-right: 5px;
            }
        }
    }

    .mat-button-profile {
        color: $text-light;
        padding: 0px;
        //width:64px !important;
    }

    .mat-icon-button {
        padding-left: 8px;
        color: $text-light;        
    }
    .profile-pic {
        height: 48px;
        border-radius: 100%;
    }
}
/*******************
 Topbar
*******************/
.topbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}
