
/*============================================================== 
 For all pages 
 ============================================================== */



  
/*******************
 Main container
*******************/

.main-container {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 98%;
} 

.mat-drawer-container{
		background: $background-1;
}

html .page-wrapper{
		height:calc(115vh - 112px);
		.page-content{
				padding: 10px;
		}
}

.align-items-center{
		align-items: center;
}

/*******************
Chartistt chart css
******************/
.barchrt{
		.ct-series-a .ct-bar{
				stroke:$success-1;
		}
		.ct-series-b .ct-bar{
				stroke:$success-2;
		}
}

.piechart{
		.ct-series-a .ct-slice-donut{
				stroke:$success-2;
		}
		.ct-series-b .ct-slice-donut{
				stroke:$success-1
		}
		.ct-series-c .ct-slice-donut{
				stroke:$purple
		}
		.ct-series-d .ct-slice-donut{
				stroke:$stroke-light
		}
		.ct-series-e .ct-slice-donut{
				stroke:$error-2
		}
}

/*******************/
/*social-profile-first*/
/*******************/
.little-profile{
	.pro-img, .pro-img:first-child {
		margin-top: -110px;
		margin-bottom: 20px;
	img {
		width: 128px;
		height: 128px;
		-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		border-radius: 100%;
			}
 }
}        

.button-row button{
	margin-bottom: 5px;
    	margin-right: 5px;
}

.pl-5 {
	padding-left: 5px;
}
.pr-5 {
	padding-right: 5px;
}

.mat-dialog-container
{
    background-color: color(background-1);
    padding: 0px !important;
    margin: 0px !important;
}
.mat-dialog-content
{
    max-height:70vh !important;
    padding: 0px !important;
    margin: 0px !important;
}