
/*******************
Main sidebar
******************/

mat-sidenav {
  width: 280px;
  padding-top: 0px;
}


.navbar-spacer {
    flex: 1 1 auto;
  }

  app-header{
    margin-right: 70px;
    }
    
.mat-drawer
{
    background-color: $background-3;
} 

#appDrawer{
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    .mat-list-item {
        height: auto;
        &:hover{
            background-color:  $secondary-accent-1;
        }
        
        .mat-list-item-content{
            display: block;
            padding: 0px;
            &:hover{
                background-color:  $secondary-accent-1;
                > a{
                  color:$text-light;
                }
            }
        }
        
        a{
             
            padding: 16px;
            letter-spacing: 0.75px;
            align-items: center;
            display: block;
            font-size: 15px;
            font-weight: 500;
            white-space: pre-wrap;
            color:$text-light;
            border-left: 8px solid transparent;
            mat-icon:not(.dd-icon){
                margin-right: 8px;
            }
            mat-icon{
                color:$sidebar-icons;
            }
            .dd-icon{
                font-size: 16px;
                width: 16px;
                transition: 0.2s ease-in;
                margin: 5px 0 5px 5px;
                height: 16px;
            }
        }
        &.selected > .mat-list-item-content > a{
            background: $secondary-accent-2;
            // border-radius: $radius;
            color:$text-dark;
            border-left: 8px solid $secondary-accent-1;
            
            mat-icon{
                color:$text-light;
            }
            .dd-icon{
                -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
            }
            
        }
        &.selected .sub-item .mat-list-item-content a.selected{
            background: transparent;
            color:$secondary-accent-2;
            font-weight: 500;               
        }
    }
}

.mat-divider {
    display: block;
    margin: 0;    
    border-top: 1px solid rgba(255, 255, 255, 0.36);
  }

  
/*******************
use profile section
******************/

.user-profile {  
    position: relative;
    background-size:cover;
    
    .profile-img {
        width: 50px;
        margin-left: 30px;
        padding: 31px 0;
        border-radius: 100%;
        &::before {
            -webkit-animation: 2.5s blow 0s linear infinite;
            animation: 2.5s blow 0s linear infinite;
            position: absolute;
            content: '';
            width: 50px;
            height: 50px;
            top: 31px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 0;
        }
        @-webkit-keyframes blow {
            0% {
                box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
            50% {
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
            100% {
                box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
                opacity: 0;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
        }
        @keyframes blow {
            0% {
                box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
            50% {
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
                opacity: 1;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
            100% {
                box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
                opacity: 0;
                -webkit-transform: scale3d(1, 1, 0.5);
                transform: scale3d(1, 1, 0.5);
            }
        }
        img {
            width: 100%;
            border-radius: 100%;
        }
    }
    .profile-text {
        padding: 5px 0px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        > a {
            color: $white!important;
            width: 100%;
            padding: 6px 30px;
            background: rgba(0, 0, 0, 0.5);
            display: block;
            white-space: nowrap;
            &:after{
                position: absolute;
                right: 20px;
                top:20px;
            }
        }
    }
    
}


.sidebar-closed #appDrawer{
    &.mat-sidenav ~ .mat-drawer-content {
          margin-left: 0px!important;
        }
}