<form [formGroup]="Form3922add">
    <mat-dialog-content class="mat-typography">
        <mat-card>

            <h4>
                Add 3922 Transaction
            </h4>
            <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="65" class="left-control full-width extra-padding">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Transaction ID</mat-label>
                        <input matInput tabindex="1" formControlName="Transaction_Id" required cdkFocusInitial>
                        <mat-error *ngIf="trrowErrors.Transaction_Id.errors && trrowErrors.Transaction_Id.errors.required">This field is required </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="65" class="right-control full-width"></div>
            </div>


            <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="50" class="left-control extra-padding full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Box 1 Grant (Subscription) Date</mat-label>
                        <input matInput [matDatepicker]="box1datepicker"tabindex="2"
                        formControlName="box1datepicker" required>
                    <mat-error *ngIf="trrowErrors.box1datepicker.errors && trrowErrors.box1datepicker.errors.required">This field is required </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="box1datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #box1datepicker></mat-datepicker>
                        <mat-hint>MM-DD-YYYY</mat-hint>
                    </mat-form-field>
                </div>

                <div fxFlex="50" class="right-control extra-padding full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Box 1 Excercise (Purchase) Date</mat-label>
                        <input matInput [matDatepicker]="box2datepicker" tabindex="3" formControlName="box2datepicker" required>
                        <mat-error *ngIf="trrowErrors.box2datepicker.errors && trrowErrors.box2datepicker.errors.required">This field is required </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="box2datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #box2datepicker></mat-datepicker>
                        <mat-hint>MM-DD-YYYY</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="50" class="left-control full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Box 3- Grant (Subscription) Value</mat-label>
                        <input matInput tabindex="4" formControlName="Box3" required>
                        <mat-error *ngIf="trrowErrors.Box3.errors && trrowErrors.Box3.errors.required"> This field is required </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="right-control full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Box 4 Exercise (Ending) Value </mat-label>
                        <input matInput tabindex="5" formControlName="Box4" required>
                        <mat-error *ngIf="trrowErrors.Box4.errors && trrowErrors.Box4.errors.required"> This field is required </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="50" class="left-control full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Box 5 Exercise (Purchase) Value</mat-label>
                        <input matInput tabindex="6" formControlName="Box5" required>
                        <mat-error *ngIf="trrowErrors.Box5.errors && trrowErrors.Box5.errors.required"> This field is required </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="right-control full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Box 6 Number of shares</mat-label>
                        <input matInput tabindex="7" formControlName="Box6" required>
                        <mat-error *ngIf="trrowErrors.Box6.errors && trrowErrors.Box6.errors.required"> This field is required </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="50" class="left-control extra-padding full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Box 7 Date of transfer</mat-label>
                        <input matInput [matDatepicker]="box7datepicker" tabindex="8" formControlName="box7datepicker" required>
                        <mat-error *ngIf="trrowErrors.box7datepicker.errors && trrowErrors.box7datepicker.errors.required">This field is required </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="box7datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #box7datepicker></mat-datepicker>
                        <mat-hint>MM-DD-YYYY</mat-hint>
                    </mat-form-field>
                </div>
                <div fxFlex="50" class="right-control  extra-padding full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Box 8 Discount on subscription Date</mat-label>
                        <input matInput [matDatepicker]="box8datepicker" tabindex="9" formControlName="box8datepicker" required>
                        <mat-error *ngIf="trrowErrors.box8datepicker.errors && trrowErrors.box8datepicker.errors.required">This field is required </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="box8datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #box8datepicker></mat-datepicker>
                        <mat-hint>MM-DD-YYYY</mat-hint>
                    </mat-form-field>
                </div>
            </div>

        </mat-card>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0px; padding: 8px 16px;">
        <button mat-button class="btn_primary" (click)="AddTransaction()">Add Transaction</button>
        <button mat-button class="btn_secondary" (click)=" Backto3922()">Cancel</button>
    </mat-dialog-actions>
</form>

<!-- <div class="App-body">
    <div class="App-content">
        <form [formGroup]="Form3922add" class="controls-max-width">
            <mat-card>
                <div class="breadcrumbs">
                   
                        <span>Create 3922</span>
                        <mat-icon>arrow_right_alt</mat-icon>
                        <span>Add 3922 Transaction</span>                         
                   
                </div>

                <h4>
                    Add 3922 Transaction
                </h4>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Transaction ID</mat-label>
                    <input matInput tabindex="1" formControlName="Transaction_Id" required cdkFocusInitial>
                    <mat-error *ngIf="Form3922add.controls['Transaction_Id'].errors?.required"> This field is
                        required
                    </mat-error>
                </mat-form-field>

            
                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control extra-padding full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 1 Grant (Subscription) Date</mat-label>
                            <input matInput [matDatepicker]="box1datepicker"  tabindex="2">
                            <mat-datepicker-toggle matSuffix [for]="box1datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #box1datepicker></mat-datepicker>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50" class="right-control extra-padding full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 1 Excercise (Purchase) Date</mat-label>
                            <input matInput [matDatepicker]="box2datepicker"  tabindex="3">
                            <mat-datepicker-toggle matSuffix [for]="box2datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #box2datepicker></mat-datepicker>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
 

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Box 3- Grant (Subscription) Value</mat-label>
                    <input matInput tabindex="4">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Box 4 Exercise (Ending) Value </mat-label>
                    <input matInput tabindex="5">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Box 5 Exercise (Purchase) Value</mat-label>
                    <input matInput tabindex="6">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Box 6 Number of shares</mat-label>
                    <input matInput tabindex="7">
                </mat-form-field>

                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control extra-padding full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 7 Date of transfer</mat-label>
                            <input matInput [matDatepicker]="box7datepicker"  tabindex="8">
                            <mat-datepicker-toggle matSuffix [for]="box7datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #box7datepicker></mat-datepicker>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="right-control  extra-padding full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Box 8 Discount on subscription Date</mat-label>
                            <input matInput [matDatepicker]="box8datepicker"  tabindex="9">
                            <mat-datepicker-toggle matSuffix [for]="box8datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #box8datepicker></mat-datepicker>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

  
                <div class="btn_actions">
                    <button mat-stroked-button class="btn_primary">Add Transaction</button>
                    <button mat-stroked-button class="btn_secondary" (click)="Backto3922()">Cancel</button>
                </div>
            </mat-card>
        </form>
    </div>
</div> -->