<div class="App">

    <div class="Broadcast">
        <div class="Broadcast-inner">
            <span class="Broadcast-icon">
                <i class="material-icons size-large">info</i>
            </span>
            <span class="Broadcast-text">
                Here is an example of a broadcast message. This only appears if the
                client admin has created one.
            </span>
        </div>
    </div>
    <div class="App-north">
        <mat-toolbar class="topbar telative bg-color-primary-accent-1">
            <div class="navbar-header">
                <!-- Logo text -->
                <img src="./assets/images/logo-white.svg" alt="TAB SERVICE COMPANY" class="logo-blue">
            </div>
        </mat-toolbar>
    </div>

    <div class="App-content">
        <form>
            <mat-card>
                <div fxLayout="row">
                    <div fxFlex="75">
                        <h1>
                            <img src="./assets/images/ulc-logo.jpg" alt="logo" class="logo-blue">
                        </h1>
                    </div>

                    <div  fxFlex="25">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Tax Year</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">2020</mat-option>
                                <mat-option value="option">2021</mat-option>
                                <mat-option value="option">2022</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <h3>Access your 1098-T form</h3>
                <h6>Make sure you are using Adobe Acrobat Reader to view and download your form</h6>

                
                <div class="btn_actions" *ngIf="show">
                    <button mat-stroked-button id="login" class="btn_primary">
                        View Form
                    </button>

                    <button mat-stroked-button id="login" class="btn_primary">
                        Email Form
                    </button>

                </div>

                <div>
                    <div *ngIf="showlbl">
                        <mat-label>Select an Item</mat-label>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
                    </mat-paginator>

                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                        <ng-container matColumnDef="function">
                            <th mat-header-cell *matHeaderCellDef> <mat-icon class="remove_circle" *ngIf="showcirclebtn" (click)="click_circle()">remove_circle</mat-icon>  </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-radio-button #button value="{{element.school_student_id}}"  [checked]="element.selected"  (change)="radioChange(button,element)"></mat-radio-button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="seq">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Seq </th>
                            <td mat-cell *matCellDef="let element"> {{element.seq}} </td>
                        </ng-container>

                        <ng-container matColumnDef="first_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>

                        </ng-container>

                        <ng-container matColumnDef="last_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ssn">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> SSN </th>
                            <td mat-cell *matCellDef="let element"> {{element.ssn}} </td>
                        </ng-container>

                        <ng-container matColumnDef="school_student_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> School Student Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.school_student_id}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selectedRow = selectedRow === row ? null : row"
                        [ngClass]="{ 'selected': row === selectedRow }"></tr>
                    </table>
                </div>
            </mat-card>
        </form>
    </div>
</div>