<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>
                <h4>
                    Add Year
                </h4>


                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Enter Year</mat-label>
                    <input matInput type="search">
                </mat-form-field>


                <div class="btn_actions">
                    <button mat-stroked-button id="btnPrimay" class="btn_primary">
                        Add Year
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>