<div class="App-body">
    <div class="App-content">

        <form [formGroup]="studentForm" class="controls-max-width" (ngSubmit)="EditStudent()">
            <mat-card>

                <h4>Edit Student User</h4>

                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="first_name" #first_name required>
                            <mat-error *ngIf="trrowErrors.first_name.errors && trrowErrors.first_name.errors.required"> This field is required </mat-error>
                            
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="last_name" #last_name required>
                            <mat-error *ngIf="trrowErrors.last_name.errors && trrowErrors.last_name.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Social Security #</mat-label>
                            <input matInput formControlName="social_security" #social_security [mask]="'[000]-[00]-[0000]'" required>
                            <mat-error *ngIf="trrowErrors.social_security.errors && trrowErrors.social_security.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>School Student ID (optional)</mat-label>
                            <input matInput formControlName="school_student_id" #school_student_id>
                        </mat-form-field>
                    </div>
                </div>

                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>User Name</mat-label>
                            <input matInput formControlName="user_name" #user_name required>
                            <mat-error *ngIf="trrowErrors.user_name.errors && trrowErrors.user_name.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Student E-Mail</mat-label>
                            <input matInput #email formControlName="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                            <mat-error *ngIf="trrowErrors.email.errors && trrowErrors.email.errors.required"> This field is required </mat-error>
                            <mat-error *ngIf="studentForm.get('email').hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>



                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Address1</mat-label>
                    <input matInput #address1 formControlName="address1" required>
                    <mat-error *ngIf="trrowErrors.address1.errors && trrowErrors.address1.errors.required"> This field is required </mat-error>

                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Address2</mat-label>
                    <input matInput #address2 formControlName="address2">

                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Address3</mat-label>
                    <input matInput #address3 formControlName="address3">
                </mat-form-field>



                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>City</mat-label>
                            <input matInput value="" #city formControlName="city" required>
                            <mat-error *ngIf="trrowErrors.city.errors && trrowErrors.city.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="30" class="middle-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>State</mat-label>
                            <mat-select placeholder="Select" #state formControlName="state" required>
                                <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="trrowErrors.state.errors && trrowErrors.state.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="35" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Zip</mat-label>
                            <input matInput value="" #zip formControlName="zip" required>
                            <mat-error *ngIf="trrowErrors.zip.errors && trrowErrors.zip.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Contact Phone</mat-label>
                            <input matInput value="" placeholder="e.g. 000-000-0000" #phone formControlName="phone">
                            <mat-error *ngIf="trrowErrors.phoneerrors && trrowErrors.phone.errors.pattern">  Invalid Format </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Ext</mat-label>
                            <input matInput value="" #ext formControlName="ext">
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Student consent date</mat-label>
                    <input matInput type="date" #student_const_date formControlName="student_const_date">
                </mat-form-field>


                <section>
                    <mat-checkbox class="mat-checkbox-item" tabindex="1" #printSuppression formControlName="printSuppression"  [checked]="true" [disabled]="true">Print Suppression</mat-checkbox>
                </section>


                <div fxLayout="row">
                    <section class="mat-checkbox-section">
                        <mat-checkbox class="mat-checkbox-item" tabindex="1" #eFileSuppression formControlName="eFileSuppression"  [checked]="true" [disabled]="true">Efile Suppression</mat-checkbox>
                    </section>
                </div>

                <div class="btn_actions">
                    <button mat-stroked-button id="login" class="btn_primary">
                        Update Student
                    </button>

                    <button mat-stroked-button id="login" class="btn_secondary" (click)="onCancelButton()">
                        Cancel
                    </button>
                </div>

            </mat-card>

        </form>

    </div>
</div>