
<div class="App-body">
  <div class="App-content">

    <mat-card>
      <h4>
        Manage Student
      </h4>



      <button mat-stroked-button id="login" class="btn_primary"   (click)="submit()">
        Add Student
      </button>

    </mat-card>

    <mat-card>
      
      <mat-form-field appearance="outline"  class="full-width">
        <mat-label>Search first name, last name, social security or student id</mat-label>
        <input matInput type="search" (keyup)="searchEntityData($event.target.value)" >
      </mat-form-field>


      <div style="overflow: auto">

        <!-- Angular 8 pagination -->
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
          <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.FIRST_NAME}} </td>
          </ng-container>

          <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.LAST_NAME}} </td>
          </ng-container>

          <ng-container matColumnDef="login_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Login Name </th>
            <td mat-cell *matCellDef="let element"> {{element.LOGIN_NAME}} </td>
          </ng-container>

          <ng-container matColumnDef="SSN">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Social Security # </th>
            <td mat-cell *matCellDef="let element"> {{element.STUDENT_SSN}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="accent" [routerLink]="['/editstudent', element.STUDENT_ID]">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent" (click)="deleteStudent(element.STUDENT_ID)">
                <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selectedRow = selectedRow === row ? null : row"
          [ngClass]="{ 'selected': row === selectedRow }"></tr>
        </table>

      </div>


    </mat-card>



  </div>
</div>
