<div class="App-body">
    <div class="App-content">

      
       
          <div fxLayout="row">
            <div fxFlex="75"></div>
            <div fxFlex="25" >
              <form [formGroup]='templateTaxYear' style="float: right;">
                <mat-form-field appearance="outline">
                    <mat-label>Tax Year</mat-label>
                    <mat-select placeholder="Select" #formYear formControlName="formYear"
                        (selectionChange)="gettaxyear($event.value)">
                        <mat-option *ngFor='let year of yearList' value="{{ year.value }}">{{ year.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="errors.formYear.errors && errors.formYear.errors.required"> This field is
                        required </mat-error>
                </mat-form-field>
              </form>
            </div>
          </div>
       

        <mat-card>
            <h4>
                Standard Data Templates
            </h4>
            <div>
              <mat-paginator #templatePaginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
              <table mat-table [dataSource]="TemplatedataSource" style="width:100%">
                <ng-container matColumnDef="form_type">
                  <th mat-header-cell *matHeaderCellDef > Form Type</th>
                  <td mat-cell *matCellDef="let element"> {{element.FORM_TYPE}} </td>
                </ng-container>
      
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let element"> {{element.DESCRIPTION}} </td>
                </ng-container>
      
                <ng-container matColumnDef="file_link">
                  <th mat-header-cell *matHeaderCellDef> Download </th>
                  <td mat-cell *matCellDef="let element"> 
                    <!-- <a routerLink=".">bbb </a> -->
                    <!-- [routerLink]="['/', element.UPLOAD_FILE_ID]" -->
                    <button mat-icon-button color="accent" (click)="onClickDownloadFile(element.TEMPLATE_ID)" *ngIf="element.FILE_PATH">
                      <mat-icon aria-label="Download">save_alt</mat-icon>
                    </button>
                    <span *ngIf="!element.FILE_PATH">File Not Found</span>
                  </td>
                </ng-container>
       
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>
    
                
              </table>
            </div>




        </mat-card>

        <mat-card>
            <h4>
                User Guides
            </h4>

            <div>
              <mat-paginator #userGuidePaginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
              <table mat-table [dataSource]="ManualdataSource" style="width:100%">
                <ng-container matColumnDef="form_type">
                  <th mat-header-cell *matHeaderCellDef > Form Type</th>
                  <td mat-cell *matCellDef="let element"> {{element.FORM_TYPE}} </td>
                </ng-container>
      
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let element"> {{element.DESCRIPTION}} </td>
                </ng-container>
      
                <ng-container matColumnDef="file_link">
                  <th mat-header-cell *matHeaderCellDef> Download </th>
                  <td mat-cell *matCellDef="let element"> 
                    <!-- <a routerLink=".">bbb </a> -->
                    <!-- [routerLink]="['/', element.UPLOAD_FILE_ID]" -->
                    <button mat-icon-button color="accent" (click)="onClickDownloadFile(element.TEMPLATE_ID)">
                      <mat-icon aria-label="Download">save_alt</mat-icon>
                    </button>
                  </td>
                </ng-container>
       
                <tr mat-header-row *matHeaderRowDef="manualdisplayedColumns"></tr>
                
                <tr mat-row *matRowDef="let row; columns: manualdisplayedColumns;"
                  (click)="TemplateselectedRow = TemplateselectedRow === row ? null : row" [ngClass]="{ 'selected': row === TemplateselectedRow }"></tr>


              </table>
            </div>
            
    

        </mat-card>



    </div>
</div>