<div class="App-body">
    <div class="App-content">

        <mat-card>

            <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>
               
                <div fxFlex="75" fxFlex.xs="55" fxLayoutAlign="start center">

                </div>

                <div fxFlex="25" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                    <a class="clear btn_Forgot" routerLink="#" tabindex="1" (click)="btn_history()"> View History</a>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="40" class="content p-8 border-LRB" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Payer Name</mat-label>
                            <input matInput tabindex="2">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Street Address1</mat-label>
                            <input matInput tabindex="3">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Street Address2</mat-label>
                            <input matInput tabindex="4">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Street Address3</mat-label>
                            <input matInput tabindex="5">
                        </mat-form-field>
                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6">
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7">
                                        <mat-option value="option">State 1</mat-option>
                                        <mat-option value="option">State 2</mat-option>
                                        <mat-option value="option">State 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8">
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Telephone no.</mat-label>
                            <input matInput tabindex="9">
                        </mat-form-field>

                    </div>
                </div>

                <div fxFlex="60" fxLayout="column" class="content p-8 border-RB" fxLayoutAlign="center start">
                    <div fxFlex="40" class="full-width center-align">
                        <h4>Year Année</h4>
                        <h1>2020</h1>
                    </div>
                    <div fxFlex="20" class="full-width center-align">
                        
                    </div>

                    <div fxFlex="40" class="full-width center-align">
                        <h3>T4A</h3>
                        <h4 class="">Statement of Pension, Retirement, Annuity, and Other Income.</h4>
                        <h4 class="">État du revenu de pension, de retraite, de rente ou d'autres sources</h4>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="40" class="content p-8 border-LRB">
                    <div class="full-width">
                        <div class="full-width content-hint">
                            <mat-hint>Payer's account number/Numéro de compte du payeur</mat-hint>
                        </div>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Payer's account number / Numéro de compte du payeur</mat-label>
                            <mat-select placeholder="Select" tabindex="7">
                                <mat-option value="option">AS</mat-option>
                                <mat-option value="option">AB</mat-option>
                                <mat-option value="option">AD</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                </div>
                <div fxFlex="30" class="content p-8 border-RB">

                    <div class="full-width">
                        <div class="full-width content-hint">
                            <mat-hint>Pension or superannuation – line 115</mat-hint>
                            <mat-hint>Prestations de retraite ou autres pensions – ligne 115</mat-hint>
                        </div>


                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Pension or superannuation</mat-label>
                            <input matInput tabindex="12">

                        </mat-form-field>

                    </div>

                </div>

                <div fxFlex="30" class="content p-8 border-RB">
                    <div class="full-width">
                        <div class="full-width content-hint">
                            <mat-hint>Income tax deducted – line 437</mat-hint>
                            <mat-hint>Impôt sur le revenu retenu – ligne 437</mat-hint>
                        </div>
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Income tax deducted</mat-label>
                            <input matInput tabindex="12">

                        </mat-form-field>
                    </div>
                </div>



            </div>



            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="25" class="full-width content p-8 border-LRB">
                    <div class="full-width content-hint">
                        <mat-hint>Social insurance number</mat-hint>
                        <mat-hint> Numéro d'assurance sociale</mat-hint>
                    </div>

                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Social insurance number</mat-label>
                        <input matInput tabindex="11">

                    </mat-form-field>
                </div>
                <div fxFlex="25" class="full-width content p-8 border-LRB">
                    <div class="full-width content-hint">
                        <mat-hint>Recipient's account number</mat-hint>
                        <mat-hint>Numéro de compte du
                            bénéficiaire</mat-hint>
                    </div>
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Recipient's account number</mat-label>
                        <input matInput tabindex="11">

                    </mat-form-field>
                </div>


                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width">
                        <div class="full-width content-hint">
                            <mat-hint>Lump-sum payments – line 130</mat-hint>
                            <mat-hint>Paiements forfaitaires – ligne 130</mat-hint>
                        </div>
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Lump-sum payments – line 130</mat-label>
                            <input matInput tabindex="29">

                        </mat-form-field>
                    </div>

                </div>
                <div fxFlex="25" class="content p-8 border-RB">
                    <div class="full-width">
                        <div class="full-width content-hint">
                            <mat-hint>Self-employed commissions</mat-hint>
                            <mat-hint>Commissions d'un travail indépendant</mat-hint>
                        </div>
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Self-employed commissions</mat-label>
                            <input matInput tabindex="30">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="full-width content p-8 border-RB" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Last name (print) – Nom de famille (en lettres moulées)</mat-label>
                            <input matInput tabindex="14">
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>First name - Prénom</mat-label>
                            <input matInput tabindex="15">
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Initials - Initiales</mat-label>
                            <input matInput tabindex="15">
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Street Address1</mat-label>
                            <input matInput tabindex="16">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Street Address2</mat-label>
                            <input matInput tabindex="17">
                        </mat-form-field>

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Street Address3</mat-label>
                            <input matInput tabindex="18">
                        </mat-form-field>
                         <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6">
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7">
                                        <mat-option value="option">State 1</mat-option>
                                        <mat-option value="option">State 2</mat-option>
                                        <mat-option value="option">State 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="50">
                                
                                <section>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="22">Foreign Country</mat-checkbox>                                   
                                </section>
                            </div>

                            <div fxFlex="50">
                                <mat-form-field appearance="outline"  class="full-width right-controls">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" tabindex="23">
                                        <mat-option value="option">Country 1</mat-option>
                                        <mat-option value="option">Country 2</mat-option>
                                        <mat-option value="option">Country 3</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <mat-form-field appearance="outline"  class="full-width">
                                <mat-label>PROVINCE CODE</mat-label>
                                <input matInput tabindex="21">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxFlex="50" fxLayout="column" class="full-width content border-RB">
                    <div fxFlex="30" fxLayout="row" class="full-width" fxFlexFill>
                        <div fxFlex="50" class="full-width p-8 border-RB">
                             

                            <mat-form-field appearance="outline"  class="full-width">
                                <mat-label>Annuities
                                    Rentes</mat-label>
                                <input matInput tabindex="26">

                            </mat-form-field>
                        </div>

                        <div fxFlex="50" class="full-width p-8 border-B">
                            
                            <mat-form-field appearance="outline"  class="full-width">
                                <mat-label>Fees for services
                                    Honoraires ou autres sommes
                                    pour services rendus</mat-label>
                                <input matInput tabindex="27">

                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="20" fxLayout="row" class="full-width border-B" fxFlexFill>
                        <div class="full-width p-8 center-align">
                            <h4>Other information (see over)</h4>
                            <h4>Autres renseignements (voir au verso)</h4>
                        </div>
                    </div>

                    <div fxFlex="25" fxLayout="row" class="full-width" fxFlexFill>

                        <div fxFlex="50" fxLayout="row" class="content p-8 border-RB">
                            <div fxFlex="40" class="full-width Left-controls">
                               
                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Box–Case</mat-label>
                                    <input matInput tabindex="29">

                                </mat-form-field>
                            </div>
                            <div fxFlex="60" class="full-width right-controls">
                               

                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Amount–Montant</mat-label>
                                    <input matInput tabindex="30">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxFlex="50" class="content p-8 border-B">
                            <div fxFlex="40" class="full-width Left-controls">
                                
                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Box–Case</mat-label>
                                    <input matInput tabindex="29">

                                </mat-form-field>
                            </div>
                            <div fxFlex="60" class="full-width right-controls">
                                

                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Amount–Montant</mat-label>
                                    <input matInput tabindex="30">
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div fxFlex="25" fxLayout="row" class="full-width" fxFlexFill>

                        <div fxFlex="50" fxLayout="row" class="content p-8 border-R">
                            <div fxFlex="40" class="full-width Left-controls">
                               
                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Box–Case</mat-label>
                                    <input matInput tabindex="29">

                                </mat-form-field>
                            </div>
                            <div fxFlex="60" class="full-width right-controls">
                             

                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Amount–Montant</mat-label>
                                    <input matInput tabindex="30">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxFlex="50" class="content p-8">
                            <div fxFlex="40" class="full-width Left-controls">
                                
                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Box–Case</mat-label>
                                    <input matInput tabindex="29">

                                </mat-form-field>
                            </div>
                            <div fxFlex="60" class="full-width right-controls">
                                

                                <mat-form-field appearance="outline"  class="full-width">
                                    <mat-label>Amount–Montant</mat-label>
                                    <input matInput tabindex="30">
                                </mat-form-field>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="25" fxLayout="row" class="content p-8 border-LRB">
                    <div fxFlex="40" class="full-width Left-controls">
                       
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Box–Case</mat-label>
                            <input matInput tabindex="29">

                        </mat-form-field>
                    </div>
                    <div fxFlex="60" class="full-width right-controls">
                        

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Amount–Montant</mat-label>
                            <input matInput tabindex="30">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="25" fxLayout="row" class="content p-8 border-RB">
                    <div fxFlex="40" class="full-width Left-controls">
                        
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Box–Case</mat-label>
                            <input matInput tabindex="29">

                        </mat-form-field>
                    </div>
                    <div fxFlex="60" class="full-width right-controls">
                      

                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Amount–Montant</mat-label>
                            <input matInput tabindex="30">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="25" fxLayout="row" class="content p-8 border-RB">
                    <div fxFlex="40" class="full-width Left-controls">
                        
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Box–Case</mat-label>
                            <input matInput tabindex="29">

                        </mat-form-field>
                    </div>
                    <div fxFlex="60" class="full-width right-controls">
                       
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Amount–Montant</mat-label>
                            <input matInput tabindex="30">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="25" fxLayout="row" class="content p-8 border-RB">
                    <div fxFlex="40" class="full-width Left-controls">
                         
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Box–Case</mat-label>
                            <input matInput tabindex="29">

                        </mat-form-field>
                    </div>
                    <div fxFlex="60" class="full-width right-controls">
                        
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Amount–Montant</mat-label>
                            <input matInput tabindex="30">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="25" fxLayout="row" class="content p-8 border-LRB">
                    <div fxFlex="40" class="full-width Left-controls">
                         
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Box–Case</mat-label>
                            <input matInput tabindex="29">

                        </mat-form-field>
                    </div>
                    <div fxFlex="60" class="full-width right-controls">
                        
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Amount–Montant</mat-label>
                            <input matInput tabindex="30">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="25" fxLayout="row" class="content p-8 border-RB">
                    <div fxFlex="40" class="full-width Left-controls">
                      
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Box–Case</mat-label>
                            <input matInput tabindex="29">

                        </mat-form-field>
                    </div>
                    <div fxFlex="60" class="full-width right-controls">
                     
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Amount–Montant</mat-label>
                            <input matInput tabindex="30">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="25" fxLayout="row" class="content p-8 border-RB">
                    <div fxFlex="40" class="full-width Left-controls">
                       
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Box–Case</mat-label>
                            <input matInput tabindex="29">

                        </mat-form-field>
                    </div>
                    <div fxFlex="60" class="full-width right-controls">
                        
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Amount–Montant</mat-label>
                            <input matInput tabindex="30">
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="25" fxLayout="row" class="content p-8 border-RB">
                    <div fxFlex="40" class="full-width Left-controls">
                       
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Box–Case</mat-label>
                            <input matInput tabindex="29">

                        </mat-form-field>
                    </div>
                    <div fxFlex="60" class="full-width right-controls">
                        
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Amount–Montant</mat-label>
                            <input matInput tabindex="30">
                        </mat-form-field>
                    </div>
                </div>
            </div>


            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 p-8" fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Form <strong>T4A</strong></p>
                    </div>
                </div>
                <div fxFlex="50" class="content p-8 p-8" fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                    </div>
                </div>
            </div>


            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8  border-full" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Form Release Date</mat-label>
                            <input matInput>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="50" class="content p-8  border-full" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>E-Consent Date</mat-label>
                            <input matInput>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8  border-LRB" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline"  class="full-width">
                            <mat-label>Memo</mat-label>
                            <input matInput type="textarea" tabindex="35">

                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="50" class="content p-8  border-RB" fxFlex.xs="55">
                    <div class="full-width">

                    </div>
                </div>
            </div>

            
            <div class="btn_actions">
                <button mat-stroked-button id="login" class="btn_primary" tabindex="35">
                    Submit
                </button>
            </div>

        </mat-card>
    </div>
</div>