<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <form [formGroup]="createSiteForm" (ngSubmit)="onSubmit()">
                <mat-card>
                    <h4>
                        Create Site
                    </h4>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Folder Name</mat-label>
                        <input matInput #folderName formControlName="folderName" value="" type="text" required>
                        <mat-error *ngIf="trrowErrors.folderName.errors && trrowErrors.folderName.errors.required"> This field is required </mat-error>
                        <mat-error *ngIf="trrowErrors.folderName.errors && trrowErrors.folderName.errors.cannotContainSpace"> This field can not contain space </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Company Name</mat-label>
                        <input matInput #companyName formControlName="companyName" value="" type="text" required>
                        <mat-error *ngIf="trrowErrors.companyName.errors && trrowErrors.companyName.errors.required"> This field is required </mat-error>                         
                    </mat-form-field>

                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="{{fakeImagePath ? 70 : 100}}" class="left-control full-width">
                            <ngx-file-drag-drop activeBorderColor="#3F51B5" 
                            (valueChanged)="onValueChange($event)" class="ngx-file-drag-drop"
                            emptyPlaceholder="Drop file or click to select logo file"
                            >
                            
                            </ngx-file-drag-drop>
                        </div>
                        <div fxFlex="30" class="right-control full-width" *ngIf="fakeImagePath">
                            <img [src]='fakeImagePath' style="width: 140px;">
                        </div>
                    </div>

                    <!-- <br>
                    
                    <strong>Company Logo</strong>

                    <input type="file" class="file-input"
                        (change)="onFileSelected($event)" #fileUpload>

                    <div class="file-upload">

                    {{fileName || "No file uploaded yet."}}

                        <button type="button" mat-mini-fab color="primary" class="upload-btn"
                        (click)="fileUpload.click()">
                            <mat-icon>attach_file</mat-icon>
                        </button>
                    </div>
                    <br> -->

                    <div class="btn_actions">
                        <h5>Site Type</h5>
                        <mat-radio-group aria-label="Select an option" #siteType formControlName="siteType">
                            <mat-radio-button value="P" [checked]='true'>Production</mat-radio-button>
                            <mat-radio-button value="T">Testing</mat-radio-button>
                        </mat-radio-group>
                        
                    </div>

                    <div class="btn_actions">
                        <h5>Efile Services</h5>
                        <mat-radio-group aria-label="Select an option" #efileService formControlName="efileService">
                            <mat-radio-button value="Y" [checked]='true'>Yes</mat-radio-button>
                            <mat-radio-button value="N">No</mat-radio-button>
                        </mat-radio-group>
                        
                    </div>
                    <br>
                    <div class="btn_actions">
                        <h5>Show Product Logo</h5>
                        <mat-radio-group aria-label="Select an option" #showLogo formControlName="showLogo">
                            <mat-radio-button value="Y">Yes</mat-radio-button>
                            <mat-radio-button value="N" [checked]='true'>No</mat-radio-button>
                        </mat-radio-group>
                        
                    </div>
                    <br>


                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address 1</mat-label>
                        <input matInput #address1 formControlName="address1" value="" >
                        
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address 2</mat-label>
                        <input matInput #address2 formControlName="address2" value="">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address 3</mat-label>
                        <input matInput #address3 formControlName="address3" value="">
                    </mat-form-field>


                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="35" class="left-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>City</mat-label>
                                <input matInput #city formControlName="city" value="">
                                <mat-error *ngIf="trrowErrors.city.errors && trrowErrors.city.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" class="middle-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>State</mat-label>
                                <mat-select placeholder="Select" formControlName="state">
                                    <mat-option *ngFor='let state of stateList' value="{{ state.value }}">{{ state.name }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="trrowErrors.state.errors && trrowErrors.state.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="35" class="right-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Zip</mat-label>
                                <input matInput #zip formControlName="zip" value="" >
                                <mat-error *ngIf="trrowErrors.zip.errors && trrowErrors.zip.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Contact Name</mat-label>
                        <input matInput #contactName formControlName="contactName" value="" >
                        
                    </mat-form-field>

                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="35" class="left-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Contact Phone</mat-label>
                                <input matInput #contactPhone formControlName="contactPhone" value="" placeholder="e.g. 000-000-0000">
                                <mat-error *ngIf="trrowErrors.contactPhone.errors && trrowErrors.contactPhone.errors.pattern"> Invalid format </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" class="middle-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Ext</mat-label>
                                <input matInput #ext formControlName="ext" value="">
                            </mat-form-field>
                        </div>
                        <div fxFlex="35" class="right-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Contact Fax</mat-label>
                                <input matInput #contactFax formControlName="contactFax" value="" placeholder="e.g. 000-000-0000" >
                                <mat-error *ngIf="trrowErrors.contactFax.errors && trrowErrors.contactFax.errors.pattern"> Invalid format </mat-error>
                            </mat-form-field>
                        </div>

                    </div>

                    <div fxLayout="row">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Contact Email</mat-label>
                            <input matInput #contactEmail formControlName="contactEmail" type="email" value="" required>
                            <mat-error *ngIf="trrowErrors.contactEmail.errors && trrowErrors.contactEmail.errors.required"> This field is required </mat-error>
                            <mat-error *ngIf="trrowErrors.contactEmail.errors && trrowErrors.contactEmail.errors.email"> This field accept only email format </mat-error>
                            <mat-error *ngIf="trrowErrors.contactEmail.errors && trrowErrors.contactEmail.errors.cannotContainSpace"> This field can not contain space </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="35" class="left-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Initial File# </mat-label>
                                <input matInput #initialFile formControlName="initialFile" type="number" value="">
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" class="middle-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Initial Job#</mat-label>
                                <input matInput #initialJob formControlName="initialJob" type="number" value="">
                            </mat-form-field>
                        </div>
                        <div fxFlex="35" class="right-control full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Initial Recipient#</mat-label>
                                <input matInput #initialReceipt formControlName="initialReceipt" type="number" value="">
                            </mat-form-field>
                        </div>

                    </div>
    

                    <div class="btn_actions p-b-24">
                        <h5> Create Directories (if don't exist)</h5>

                        <section class="mat-checkbox-section" *ngFor='let directories of directoriesList'>
                            <mat-checkbox class="mat-checkbox-item" (change)="onCheckDirectory($event)" [value]="directories.value">{{ directories.name }}
                            </mat-checkbox>
                        </section>

                    </div>

                    <div class="btn_actions p-b-24">
                        <h5> Mask SSN</h5>

                        <section class="mat-checkbox-section" *ngFor='let maskSSN of maskSSNList'>
                            <mat-checkbox class="mat-checkbox-item" (change)="onCheckSSN($event)" [value]="maskSSN.value">{{ maskSSN.name }}</mat-checkbox>
                        </section>
                        
                    </div>


                    <div fxLayout="row">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Enable Individual Access </mat-label>
                            <mat-select placeholder="Select" tabindex="7" #enableIndividualAccess formControlName="enableIndividualAccess">
                                <mat-option value="STUDENT">STUDENT</mat-option>
                                <mat-option value="RECIPIENT">RECIPIENT</mat-option>
                                <mat-option value="T4A_RECIPIENT">T4A_RECIPIENT</mat-option>
                                <mat-option value="POLICYHOLDER">POLICYHOLDER</mat-option>
                            </mat-select>
                            
                        </mat-form-field>
                    </div>
                    <!-- <div fxLayout="row">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Site Group</mat-label>
                            <mat-select placeholder="Select" tabindex="7" #siteGroup formControlName="siteGroup">
                                <mat-option value="1-Group-1">1-Group-1</mat-option>
                            </mat-select>
                            
                        </mat-form-field>
                    </div> -->
                    <div fxLayout="row">
                        <section class="p-b-24">
                            <mat-checkbox class="mat-checkbox-item" #createSupportRequest formControlName="createSupportRequest" tabindex="1">Create support request</mat-checkbox>
                            
                        </section>
                        
                    </div>
                    <div class="btn_actions">
                        <button mat-stroked-button id="btnPrimay" class="btn_primary">
                            Add Site
                        </button>
                    </div>
                </mat-card>
            </form>
        </div>
    </div>
</div>