<div class="App-body">
    <div class="App-content">
        <form [formGroup]="createAppForm">
            <mat-card>
                <h4>View History 1098-T</h4>

                <div class="Tax-form-content-header" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">

                        <div class="full-width">
                            <div class="btn_actions">
                                <button mat-stroked-button id="Previous" class="btn_primary" tabindex="1" (click)="onClickPrev()" [disabled]="selectedVersion == 0 ? true : false">
                                    Previous
                                </button>
                                <button mat-stroked-button id="Next" class="btn_primary" tabindex="2" (click)="onClickNext()" [disabled]="selectedVersion == taxVersions.length - 1 ? true : false">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="30" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="data_version">
                                <span class="totalPage"> Version {{ taxVersions.length > 0 ? taxVersions[selectedVersion].DISPLAY_NAME : '' }} / {{ taxVersions.length > 0 ? taxVersions[taxVersions.length - 1].DISPLAY_NAME : '' }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="35" class="content p-8 border-LRB" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                        <div class="full-width" fxLayoutAlign="flex-end start">
                            <div class="btn_actions">
                                <button mat-stroked-button id="login" class="btn_primary m-r-8" tabindex="4" (click)="onClickBacktoCurrent()">
                                    Back to Current Version
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified By: {{ createAppForm.value.modify_by }}</h5>
                        </div>
                    </div>
                    <div fxFlex="30" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified Date: {{ createAppForm.value.modify_date }} </h5>
                        </div>
                    </div>
                    <div fxFlex="35" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>IP Address: {{ createAppForm.value.ip_address }}</h5>
                        </div>
                    </div>

                </div>

                <div class="Tax-form-content-header" fxLayout="row" fxFlexFill fxLayoutAlign="start center">

                    <div fxFlex.xs="55" fxLayoutAlign="start center">
                        <section class="mat-checkbox-section">
                            <mat-checkbox class="mat-checkbox-item" tabindex="1" #corrected formControlName="corrected" [disabled]="true">Corrected</mat-checkbox>
                        </section>
                    </div>
                </div>


                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Filer's name</mat-label>
                                <input matInput tabindex="2" #filerName formControlName="filerName" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="3" #filerAddress1 formControlName="filerAddress1" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="4" #filerAddress2 formControlName="filerAddress2" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="5" #filerAddress3 formControlName="filerAddress3" [readonly]="true">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="6" #filerCity formControlName="filerCity" [readonly]="true">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" #filerState formControlName="filerState" [disabled]="true">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.value }}">{{ state.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="8" #filerZip formControlName="filerZip" [readonly]="true">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no.</mat-label>
                                <input matInput tabindex="9" #filerTelephoneNo1 formControlName="filerTelephoneNo1" [readonly]="true">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no. 2</mat-label>
                                <input matInput tabindex="10" #filerTelephoneNo2 formControlName="filerTelephoneNo2" [readonly]="true">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="25" class="content border-RB">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                            <div fxFlex="40" class="full-width  p-8  border-B">
                                <div class="full-width">
                                    <mat-form-field appearance="outline"
                                        class="full-width">
                                        <mat-label>1. Payments received for qualified tuition and related expenses
                                        </mat-label>

                                        <input matInput tabindex="25" type="number" (blur)="onBlurFloat($event)" #tutionAndRelatedExpenses formControlName="tutionAndRelatedExpenses"
                                        matTooltip="1. Payments received for qualified tuition and related expenses" [readonly]="true"
                                        >
                                        <!-- <mat-icon matSuffix><span>$&nbsp;</span></mat-icon> -->
                                        <!-- <span matPrefix>$&nbsp;</span> -->
                                    </mat-form-field>
                                    <div *ngIf="taxyear >= 2017">
                                        <!-- <a mat-icon-button color="primary"
                                            class="add_trasaction"
                                            aria-label="Add Trasaction Records" (click)="openDialog()">
                                            <mat-icon>view_list</mat-icon>
                                            <mat-label>Show Transaction Details</mat-label>
                                        </a> -->
                                    </div>
                                </div>


                            </div>




                            <div fxFlex="60" class="full-width  p-8 reserved_bacground">
                                <div class="full-width" *ngIf="taxyear < 2017">
                                    <mat-form-field appearance="outline"
                                        class="full-width">
                                        <mat-label>2. Amounts billed for qualified tuition and related expenses
                                        </mat-label>

                                        <input matInput tabindex="25" type="number" (blur)="onBlurFloat($event)" #amountsBuildForQualified formControlName="amountsBuildForQualified"
                                        matTooltip="2. Amounts billed for qualified tuition and related expenses" [readonly]="true"
                                        >
                                        <!-- <mat-icon matSuffix><span>$&nbsp;</span></mat-icon> -->
                                        <!-- <span matPrefix>$&nbsp;</span> -->
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div fxFlex="25" class="content  border-RB" fxFlex.xs="15" fxLayoutAlign="center start">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                            <div fxFlex="40" class="center-align full-width p-8 border-B">
                                <h4 style="font-size: 15px;">OMB No. 1545-1574</h4>
                                <h2>{{ taxyear }}</h2>
                                <h2 style="font-size: 20px;">Form <strong>1098-T</strong></h2>
                            </div>
                            <div fxFlex="60" class="p-8 ">
                                <div class="center-align full-width">
                                    <h4 style="font-size: 20px;">Copy B For Student</h4>
                                </div>

                                <p style="font-size: 15px;">
                                    This is important
                                    tax information
                                    and is being
                                    furnished to the
                                    IRS. This form
                                    must be used to
                                    complete Form 8863
                                    to claim education
                                    credits. Give it to the
                                    tax preparer or use it to
                                    prepare the tax return.
                                </p>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content border-LRB" fxFlexFill>
                        <div fxLayout="row wrap" class="full-width" fxFlexFill>

                            <div fxFlex="100" class="p-8  border-R">

                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>Filer's Federal identification number</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" #filerFederalIdentificationNumber formControlName="filerFederalIdentificationNumber" [disabled]="true">
                                        <mat-option value="">-- Select --</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div fxFlex="50" class="p-8  border-R">

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Student's social security number</mat-label>
                                    <input matInput tabindex="12" #studentSocialSecurityNumber formControlName="studentSocialSecurityNumber" [mask]="'[000]-[00]-[0000]'" [readonly]="true">
                                </mat-form-field>
                            </div>

                            <div fxFlex="50" class="full-width p-8" fxLayoutAlign="center start">
                                <div *ngIf="solicited">
                                    <section class="mat-checkbox-section">
                                        <mat-checkbox class="mat-checkbox-item" tabindex="13" #ssnSocialized formControlName="ssnSocialized" [disabled]="true">SSN Solicited</mat-checkbox>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="50" class="content p-8 border-RB reserved_bacground" fxFlex.xs="55">
                        <div class="full-width content-hint" *ngIf="taxyear < 2018">
                            <mat-hint>3. If this box is checked, your educational institution has changed its reporting method for {{taxyear}}
                            </mat-hint>
                            <section class="mat-checkbox-section">
                                <mat-checkbox class="mat-checkbox-item" tabindex="13" #educationalInstitution formControlName="educationalInstitution" [disabled]="true">
                                </mat-checkbox>
                            </section>
                        </div>
                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Student's First Name</mat-label>
                                <input matInput tabindex="14" #studentFirstName formControlName="studentFirstName" [readonly]="true">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Student's Last Name</mat-label>
                                <input matInput tabindex="15" #studentLastName formControlName="studentLastName" [readonly]="true">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="25" class="content p-8 border-RB">
                        <div class="full-width">
                            <mat-form-field appearance="outline"
                                class="full-width">
                                <mat-label>4. Adjustments made for a prior year</mat-label>
                                <input matInput tabindex="26" type="number" (blur)="onBlurFloat($event)" #adjustmentMade formControlName="adjustmentMade"
                                matTooltip="4. Adjustments made for a prior year" [readonly]="true"
                                >
                                <!-- <span matPrefix>$&nbsp;</span> -->
                            </mat-form-field>
                            <div *ngIf="taxyear >= 2017">
                                <!-- <a mat-icon-button color="primary"
                                    class="add_trasaction"
                                    aria-label="Add Trasaction Records" (click)="openDialog()">
                                    <mat-icon>view_list</mat-icon>
                                    <mat-label>Show Transaction Details</mat-label>
                                </a> -->
                            </div>
                        </div>
                        

                    </div>
                    <div fxFlex="25" class="content p-8 border-RB" fxFlex.xs="15">
                        <div class="full-width">

                            <mat-form-field appearance="outline" 
                                class="full-width">
                                <mat-label>5. Scholarships or grants</mat-label>
                                <input matInput tabindex="27" type="number" (blur)="onBlurFloat($event)" #scholarshipsOrGrants formControlName="scholarshipsOrGrants"
                                matTooltip="5. Scholarships or grants" [readonly]="true"
                                >
                                <!-- <span matPrefix>$&nbsp;</span> -->
                            </mat-form-field>
                            <div *ngIf="taxyear >= 2017">
                                <!-- <a mat-icon-button color="primary"
                                    class="add_trasaction"
                                    aria-label="Add Trasaction Records" (click)="openDialog()">
                                    <mat-icon>view_list</mat-icon>
                                    <mat-label>Show Transaction Details</mat-label>
                                </a> -->
                            </div>
                        </div>

                       
                    </div>

                </div>


                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="16" #studentAddress1 formControlName="studentAddress1" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="17" #studentAddress2 formControlName="studentAddress2" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="18" #studentAddress3 formControlName="studentAddress3" [readonly]="true">
                            </mat-form-field>

                        

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="19" #studentCity formControlName="studentCity" [readonly]="true">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="20" #studentState formControlName="studentState" [disabled]="true">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.value }}">{{ state.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="21" #studentZip formControlName="studentZip" [readonly]="true">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="50">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21" #forignCountry formControlName="forignCountry" [disabled]="true">Foreign Country</mat-checkbox>
                                    </section>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Country</mat-label>
                                        <mat-select placeholder="Select" tabindex="23" #studentCountry formControlName="studentCountry" [disabled]="true">
                                            <mat-option value="option">Country 1</mat-option>
                                            <mat-option value="option">Country 2</mat-option>
                                            <mat-option value="option">Country 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div fxFlex="25" class="content p-8 border-RB">
                        <div class="full-width">
                            <mat-form-field appearance="outline" 
                                class="full-width">
                                <mat-label>6. Adjustments to scholarships or grants for a prior year</mat-label>
                                <input matInput tabindex="28" type="number" (blur)="onBlurFloat($event)" #adjustmentScholarshipsOrGrants formControlName="adjustmentScholarshipsOrGrants"
                                matTooltip="6. Adjustments to scholarships or grants for a prior year" [readonly]="true"
                                >
                                <!-- <span matPrefix>$&nbsp;</span> -->

                            </mat-form-field>
                            <div *ngIf="taxyear >= 2017">
                                <!-- <a mat-icon-button color="primary"
                                    class="add_trasaction"
                                    aria-label="Add Trasaction Records" (click)="openDialog()">
                                    <mat-icon>view_list</mat-icon>
                                    <mat-label>Show Transaction Details</mat-label>
                                </a> -->
                            </div>
                        </div>



                    </div>
                    <div fxFlex="25" class="content p-8 border-RB" fxFlex.xs="15">
                        <div>
                            <div class="full-width content-hint">
                                <mat-hint>7. Checked if the amount in box 1
                                    or 2 includes amounts for an
                                    academic period beginning
                                    January - March {{onYearAdd(taxyear)}}
                                    (checked)
                                </mat-hint>
                            </div>
                            <section>
                                <mat-checkbox class="mat-checkbox-item" tabindex="29" #acadamicPeriodsBegin formControlName="acadamicPeriodsBegin" [disabled]="true"></mat-checkbox>
                            </section>
                        </div>
                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="25" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Service Provider/Acct. No. (see
                                    instructions)</mat-label>
                                <input matInput tabindex="24" #serviceProviderAccNumber formControlName="serviceProviderAccNumber" [readonly]="true">
                            </mat-form-field>

                        </div>
                    </div>
                    <div fxFlex="25" class="content p-8 border-RB" fxFlex.xs="55">
                        <div class="full-width">
                            <!-- 8. Checked if at least half-time student-->
                            <div class="full-width clear content-hint">
                                <mat-hint>8. Checked if at least half-time student
                                </mat-hint>
                            </div>
                            <section>
                                <mat-checkbox class="mat-checkbox-item" tabindex="30" #leastHalfTimeStudent formControlName="leastHalfTimeStudent" [disabled]="true"></mat-checkbox>
                            </section>

                        </div>
                    </div>
                    <div fxFlex="25" class="content p-8 border-RB">
                        <div class="full-width">
                            <div class="full-width clear content-hint">
                                <mat-hint>9. Checked if graduate student
                                </mat-hint>
                            </div>
                            <!-- 9. Checked if graduate student -->
                            <section>
                                <mat-checkbox class="mat-checkbox-item" tabindex="31" #graduateStudent formControlName="graduateStudent" [disabled]="true"></mat-checkbox>
                            </section>
                        </div>

                    </div>
                    <div fxFlex="25" class="content p-8 border-RB" fxFlex.xs="15">
                        <div class="full-width">
                            <!-- 10. Reimbursement or refunds of qualified tuition and related expenses from an insurance contract -->


                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>10. Reimbursement or refunds of qualified tuition and related expenses from an
                                    insurance contract</mat-label>
                                <input matInput tabindex="32" type="number" (blur)="onBlurFloat($event)" #reimbursementOrRefunds formControlName="reimbursementOrRefunds"
                                matTooltip="10. Reimbursement or refunds of qualified tuition and related expenses from an
                                insurance contract" [readonly]="true"
                                >
                                <!-- <span matPrefix>$&nbsp;</span> -->

                            </mat-form-field>
                        </div>


                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>


                    <div fxFlex="50" class="content p-8 p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Form <strong>1098-T</strong></p>
                        </div>
                    </div>

                    <div fxFlex="50" class="content p-8 p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                        </div>
                    </div>
                </div>


                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="full-width content-hint">
                                <mat-hint>Form Release Date</mat-hint>
                            </div>

                            <mat-form-field appearance="outline" class="full-width">

                                <input matInput #releaseDate formControlName="releaseDate" [readonly]="true">
                                <mat-hint>MM-DD-YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8 border-RB border-Top" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="full-width content-hint">
                                <mat-hint>E-Consent Date</mat-hint>
                            </div>

                            <mat-form-field appearance="outline" class="full-width">

                                <input matInput #eContentDate formControlName="eContentDate" [readonly]="true">
                                <mat-hint>MM-DD-YYYY</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div>
                            <section class="mat-checkbox-section">
                                <mat-checkbox class="mat-checkbox-item" tabindex="33" #printSuppession formControlName="printSuppession" [disabled]="true">Print Suppression</mat-checkbox>
                            </section>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8 border-RB" fxFlex.xs="55">

                        <div>
                            <section class="mat-checkbox-section">
                                <mat-checkbox class="mat-checkbox-item" tabindex="34" #eFileSuppession formControlName="eFileSuppession" [disabled]="true">EFile Suppression</mat-checkbox>
                            </section>
                        </div>
                    </div>
                </div>


                <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="full-width content-hint">
                                <mat-hint>Memo</mat-hint>
                            </div>


                            <mat-form-field appearance="outline" class="full-width">

                                <input matInput type="textarea" #memo formControlName="memo" [readonly]="true">

                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8 border-RB" fxFlex.xs="55">
                        <div class="full-width">

                        </div>
                    </div>
                </div>



            </mat-card>
        </form>
    </div>
</div>