
<mat-dialog-content class="mat-typography" *ngIf="formMethod == 'list'">
        
            
            <div class="table-content m-b-24">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="Transaction_Date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.Transaction_Date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Campus_Code">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Campus Code</th>
                        <td mat-cell *matCellDef="let element"> {{element.Campus_Code}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Program_Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Program Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.Program_Name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Student_LastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Student Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.Student_LastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Financial_Type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.Financial_Type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Academic_Term">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Term </th>
                        <td mat-cell *matCellDef="let element"> {{element.Academic_Term}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Academic_Year">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Year </th>
                        <td mat-cell *matCellDef="let element"> {{element.Academic_Year}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Financial_Description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Financial Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.Financial_Description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-link">
                            <button mat-icon-button color="accent">
                                <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>

                            <button mat-icon-button color="accent">
                                <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                                <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="exporter">
                        <td mat-header-cell *matHeaderCellDef colspan="2" class="mat-table-toolbar">
                           <!--  <div class="btn_actions">
                                <button mat-stroked-button id="table3922" class="btn_secondary" tabindex="32">
                                    Add Transaction
                                </button>
                            </div> -->
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="paginator">
                        <td mat-header-cell *matHeaderCellDef colspan="7" class="mat-table-toolbar">
                            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['exporter', 'paginator']"></tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selectedRow = selectedRow === row ? null : row"
                        [ngClass]="{ 'selected': row === selectedRow }"></tr>


                </table>
            </div>
            <!-- <div class="btn_actions">
                <button mat-stroked-button class="btn_primary">Submit</button>
                <button mat-stroked-button class="btn_secondary">Cancel</button>

            </div> -->
        
    </mat-dialog-content>

    <mat-dialog-actions align="end" style="margin-bottom: 0px; padding: 8px 16px;" *ngIf="formMethod == 'list'">
        <button mat-button class="btn_primary" (click)="changePopUpMode('action')">Create</button>
        <button mat-button class="btn_primary">Submit</button>
        <button mat-button mat-dialog-close class="btn_primary">Cancel</button>
    </mat-dialog-actions>

    <mat-dialog-content class="mat-typography" style="overflow: hidden;" *ngIf="formMethod == 'action'">
        <div class="controls-max-width" style="max-width: 100%;">
            <mat-card>
                <h3>
                    Add Transaction
                </h3>

                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width extra-padding">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Transaction Date</mat-label>
                            <input matInput [matDatepicker]="StStableStartdatepicker" cdkFocusInitial>
                            <mat-datepicker-toggle matSuffix [for]="StStableStartdatepicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #StStableStartdatepicker></mat-datepicker>
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>

                    <div fxFlex="65" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Program Name</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">Main</mat-option>
                                <mat-option value="option">Program</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Campus Code</mat-label>
                            <input matInput value="">
                        </mat-form-field>
                    </div>
                    <div fxFlex="65" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Student Last Name</mat-label>
                            <input matInput value="">
                        </mat-form-field>
                    </div>
                </div>


                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Financial Type</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">N01 - ALL PAYMENTS</mat-option>
                                <mat-option value="option">Q01- QUALIFIED PAYMENT </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="65" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Financial Description</mat-label>
                            <textarea matInput [matTextareaAutosize]></textarea>
                        </mat-form-field>
                    </div>
                </div>


                <div class="twocolumn-layout" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="35" class="left-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Academic Year</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">2020</mat-option>
                                <mat-option value="option">2019</mat-option>
                                <mat-option value="option">2018</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="30" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Academic Term</mat-label>
                            <mat-select placeholder="Select">
                                <mat-option value="option">SPRING</mat-option>
                                <mat-option value="option">SUMMER</mat-option>
                                <mat-option value="option">WINTER</mat-option>
                                <mat-option value="option">FALL</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="35" class="right-control full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Amount</mat-label>
                            <input matInput type="number" value="">
                        </mat-form-field>
                    </div>

                </div>
            </mat-card>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end" style="margin-bottom: 0px; padding: 8px 16px;" *ngIf="formMethod == 'action'">
        <button mat-button class="btn_primary">Update</button>
        <button mat-button class="btn_primary" (click)="changePopUpMode('list')">Cancel</button>
    </mat-dialog-actions>
    

<!-- <h2 mat-dialog-title>Install Angular</h2>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions> -->
