<div class="App-body">
    <div class="App-content">
        <form [formGroup]="createSAForm">
        <mat-card>
            <h4>View History 1099-SA</h4>

            <div class="Tax-form-content-header" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">

                    <div class="full-width">
                        <div class="btn_actions">
                            <button mat-stroked-button id="Previous" class="btn_primary" tabindex="1">
                                Previous
                            </button>
                            <button mat-stroked-button id="Next" class="btn_primary" tabindex="2">
                                Next
                            </button>
                        </div>
                    </div>
                </div>

                <div fxFlex="30" class="content p-8 border-LRB" fxFlex.xs="55">
                    <div class="full-width">
                        <div class="data_version">
                            <span class="totalPage"> Version 1 / 1
                            </span>
                        </div>
                    </div>
                </div>

                <div fxFlex="35" class="content p-8 border-LRB" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                    <div class="full-width" fxLayoutAlign="flex-end start">
                        <div class="btn_actions">
                            <button mat-stroked-button id="login" class="btn_primary m-r-8" tabindex="4">
                                Back to Current Version
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxFlexFill>

                <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">
                    <div class="full-width">
                        <h5>Modified By: Bob Lambert</h5>
                    </div>
                </div>
                <div fxFlex="30" class="content p-8 border-RB" fxLayoutAlign="start center">
                    <div class="full-width">
                        <h5>Modified Date: 08-20-2020 </h5>
                    </div>
                </div>
                <div fxFlex="35" class="content p-8 border-RB" fxLayoutAlign="start center">
                    <div class="full-width">
                        <h5>IP Address: 192.16.1.1</h5>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>
                <div fxFlex="25" fxFlex.xs="55">
                    <section class="mat-checkbox-section">
                        <mat-checkbox class="mat-checkbox-item" tabindex="1" #corrected formControlName="corrected" [disabled]=true>Corrected</mat-checkbox>
                    </section>
                </div>
                <div fxFlex="50" fxFlex.xs="55" fxLayoutAlign="start center">

                </div>

                <div fxFlex="25" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                    
                </div>

            </div>
            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="50" class="content p-8  border-LRB border-Top" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Trustee's / Payer's name</mat-label>
                            <input matInput tabindex="2" #payerName formControlName="payerName" [readonly]="true" required>
                            <mat-error *ngIf="trrowErrors.payerName.errors && trrowErrors.payerName.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address1</mat-label>
                            <input matInput tabindex="3" #payeraddress1 formControlName="payeraddress1" [readonly]="true" required>
                            <mat-error *ngIf="trrowErrors.payeraddress1.errors && trrowErrors.payeraddress1.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address2</mat-label>
                            <input matInput tabindex="4" #payeraddress2 formControlName="payeraddress2" [readonly]="true" required>
                            <mat-error *ngIf="trrowErrors.payeraddress2.errors && trrowErrors.payeraddress2.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address3</mat-label>
                            <input matInput tabindex="5" #payeraddress3 formControlName="payeraddress3" [readonly]="true">
                        </mat-form-field>
                      
                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="6" #payercity formControlName="payercity" [readonly]="true" required>
                                    <mat-error *ngIf="trrowErrors.payercity.errors && trrowErrors.payercity.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" #payerState formControlName="payerState" [disabled]="true">
                                        <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="trrowErrors.payerState.errors && trrowErrors.payerState.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="8" #payerzip formControlName="payerzip" [readonly]="true" required>
                                    <mat-error *ngIf="trrowErrors.payerzip.errors && trrowErrors.payerzip.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                        </div>


                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Telephone no.</mat-label>
                            <input matInput tabindex="9" #payerphone formControlName="payerphone" [readonly]="true" required>
                            <mat-error *ngIf="trrowErrors.payerphone.errors && trrowErrors.payerphone.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Telephone no. 2</mat-label>
                            <input matInput tabindex="10" #payerphone2 formControlName="payerphone2" [readonly]="true">
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="25" class="content border-RB border-Top">
                    <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                        <div fxFlex="30" class="full-width p-8 border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>1. Gross Distribution</mat-label>
                                    <input matInput tabindex="24" formControlName="grossdistribution"
                                    matTooltip="1. Gross Distribution" type="number" [readonly]="true">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxFlex="30" class="full-width p-8 border-B">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>2. Earnings on excess cont.</mat-label>
                                    <input matInput tabindex="25" formControlName="earningsonexcess"
                                    matTooltip="2. Earnings on excess cont." type="number" [readonly]="true"> 
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxFlex="40" class="full-width p-8">
                        </div>

                    </div>
                </div>

                <div fxFlex="25" class="content border-RB border-Top">
                    <div class="center-align p-8 border-B">
                        <h4>OMB No. 1545-1517</h4>
                        <h2>{{taxyear}}</h2>
                        <h2 style="font-size: 20px;">Form <strong>1099-SA</strong></h2>
                    </div>
                    <div class="center-align p-8 border-B">
                        <p style="font-size: 20px;">
                        Distributions From
                            an HSA, Archer
                            MSA, or Medicare
                            Advantage MSA
                            </p>
                    </div>
                    <div class="center-align p-8 border-B">
                        <h4>Copy B for Recipient</h4>
                        <h4>This information is being furnished to the Internal Revenue Service.</h4>
                    </div>
                </div>


            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8  border-LRB" fxFlex.xs="55">
                    <div fxLayout="row wrap" class="full-width" fxFlexFill>
                        <div fxFlex="50">
                            <mat-form-field appearance="outline" class="full-width Left-controls">
                                <mat-label>Payer's Federal identification number</mat-label>
                                <mat-select placeholder="Select" tabindex="7" #payerFederalIdentificationNumber 
                                formControlName="payerFederalIdentificationNumber" [disabled]=true>
                                    <mat-option value="">-- Select --</mat-option>
                                    <mat-option value="aaaa">aaa</mat-option>
                                </mat-select>
                                <mat-error *ngIf="trrowErrors.payerFederalIdentificationNumber.errors && trrowErrors.payerFederalIdentificationNumber.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">
                            <mat-form-field appearance="outline" class="full-width right-controls">
                                <mat-label>Recipient's identification number</mat-label>
                                <input matInput tabindex="12" #recipientno formControlName="recipientno" required [readonly]="true">
                                <mat-error *ngIf="trrowErrors.recipientno.errors && trrowErrors.recipientno.errors.required"> This field is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxFlex="25" class="content p-8  border-RB">
                    <div class="full-width">
                        <div>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>3. Distribution code</mat-label>
                                <input matInput tabindex="27" formControlName="distributioncode"
                                matTooltip="3. Distribution code" type="text" [readonly]="true">
                            </mat-form-field>
                        </div>
                       
                    </div>
                </div>
                <div fxFlex="25" class="content p-8  border-RB">
                    <div class="full-width">
                        <div>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>4. FMV on date of death</mat-label>
                                <input matInput tabindex="27" formControlName="FMW"
                                matTooltip="4. FMV on date of death" type="number" [readonly]="true">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8  border-LRB">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Recipient's Name</mat-label>
                            <input matInput tabindex="13" #recipientname formControlName="recipientname" [readonly]="true" required>
                            <mat-error *ngIf="trrowErrors.recipientname.errors && trrowErrors.recipientname.errors.required"> This field is required </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Recipient's Name 2</mat-label>
                            <input matInput tabindex="14" #recipientname2 formControlName="recipientname2" [readonly]="true">
                        
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address1</mat-label>
                            <input matInput tabindex="15" #recipientaddress1 formControlName="recipientaddress1" [readonly]="true" required>
                            <mat-error *ngIf="trrowErrors.recipientaddress1.errors && trrowErrors.recipientaddress1.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address2</mat-label>
                            <input matInput tabindex="16" #recipientaddress2 formControlName="recipientaddress2" [readonly]="true" required>
                            <mat-error *ngIf="trrowErrors.recipientaddress2.errors && trrowErrors.recipientaddress2.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Street Address3</mat-label>
                            <input matInput tabindex="17" #recipientaddress3 formControlName="recipientaddress3" [readonly]="true">
                        </mat-form-field>

                        <div fxLayout="row wrap" class="full-width">
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>City</mat-label>
                                    <input matInput tabindex="18" #recipientcity formControlName="recipientcity" [readonly]="true" required>
                                    <mat-error *ngIf="trrowErrors.recipientcity.errors && trrowErrors.recipientcity.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field appearance="outline" class="full-width middle-controls">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" tabindex="7" #payerState formControlName="recipientState" [disabled]=true>
                                    <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="trrowErrors.recipientState.errors && trrowErrors.recipientState.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="35">
                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Zip</mat-label>
                                    <input matInput tabindex="20" #recipientzip formControlName="recipientzip" [readonly]="true" required>
                                    <mat-error *ngIf="trrowErrors.recipientzip.errors && trrowErrors.recipientzip.errors.required"> This field is required </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>

                <div fxFlex="50" class="content p-8 border-RB">
                    <div class="full-width">
                        <div class="full-width content-hint">
                            <mat-hint>5. </mat-hint>
                        </div>
                        <section class="mat-checkbox-section">
                            <mat-checkbox class="mat-checkbox-item" tabindex="25" formControlName="HSA" [disabled]=true>HSA</mat-checkbox>
                        </section>
                        <section class="mat-checkbox-section">
                            <mat-checkbox class="mat-checkbox-item" tabindex="25" formControlName="archerMSA" [disabled]=true>Archer MSA</mat-checkbox>
                        </section>
                        <section class="mat-checkbox-section">
                            <mat-checkbox class="mat-checkbox-item" tabindex="25" formControlName="MAMSA" [disabled]=true>MA MSA</mat-checkbox>
                        </section>

                    </div>



                </div>


            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8  border-LRB">

                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Account number (see instructions)</mat-label>
                            <input matInput tabindex="23" #acctno formControlName="acctno"  [readonly]=true  required>
                            <mat-error *ngIf="trrowErrors.acctno.errors && trrowErrors.acctno.errors.required"> This field is required </mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div fxFlex="50" class="content p-8  border-RB">
                </div>
            </div>

            <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                <div fxFlex="50" class="content p-8 " fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Form <strong>1099-SA</strong></p>
                    </div>
                </div>
                <div fxFlex="50" class="content p-8 " fxFlex.xs="55">
                    <div class="full-width">
                        <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Form Release Date</mat-label>
                            <input matInput #releaseDate formControlName="releaseDate" readonly="true">
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="50" class="content p-8 border-RB border-Top" fxFlex.xs="55">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>E-Consent Date</mat-label>
                            <input matInput #eConsentDate formControlName="eConsentDate" readonly="true">
                            <mat-hint>MM-DD-YYYY</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                <div fxFlex="100" class="content p-8 border-full" fxFlex.xs="55">
                    <div class="full-width">
                        <div class="full-width content-hint">
                            <mat-hint>Memo</mat-hint>
                        </div>
                        <mat-form-field appearance="outline" class="full-width">

                            <input matInput type="textarea" #memo formControlName="memo" [readonly]="true">

                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card>
        </form>
    </div>
</div>