<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>
                <h4>
                    Approve Proof
                </h4>
                <h6>Proof Name: 2020 T4A Print and Mail Proof - 1UP 8.5x11</h6>
                <h6>Proof Type: ONLINE_APPROVAL_T4A</h6>
                <h6>Postage Payment Status: Paid </h6>


                <p>
                    I have reviewed the associated Print and Mail Proof and determined that the quality and data content
                    are accurate. By accepting this proof I am granting Tab Service Cpmpany Trust permission to proceed
                    with the laser printing and mailing of the Tax Documents to the name and address of the recipient
                    specified on the tax document.
                </p>
                <div class="btn_actions">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Not Approved</mat-radio-button>
                        <mat-radio-button value="2">Approved</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="btn_actions">
                    <button mat-stroked-button id="btnPrimay" class="btn_primary">Submit</button>
                </div>

            </mat-card>
        </div>
    </div>
</div>