<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div class="main-container"> 

  <div style="position: fixed;z-index: 999;width: 100%;">
    <div class="Broadcast" *ngIf="broadcastMessage">
      <div class="Broadcast-inner">
        <span class="Broadcast-icon">
          <i class="material-icons size-large">info</i>
        </span>
        <span class="Broadcast-text">
          {{ broadcastMessage }}
        </span>
      </div>
    </div> 
    
      <!-- ============================================================== -->
      <!-- Topbar - style you can find in header.scss -->
      <!-- ============================================================== -->
      <mat-toolbar  class="topbar telative bg-color-primary-accent-1">

          <!-- ============================================================== -->
          <!-- sidebar toggle -->
          <!-- ============================================================== -->
          
          <button mat-icon-button (click)="appDrawer.toggle()" value="sidebarclosed">
              <mat-icon>menu</mat-icon>
          </button>
          <!-- <span fxFlex></span> -->

          <!-- ============================================================== -->
          <!-- Logo - style you can find in header.scss -->
          <!-- ============================================================== -->
          <div class="navbar-header">
                          
                  <!-- Logo text -->
                  <img src="./assets/images/logo-white.svg" alt="TAB SERVICE COMPANY" class="logo-blue">
          </div>
        

          <span class="navbar-spacer"></span>
          <!-- ============================================================== -->
          <!-- app header component - style you can find in header.scss / header.component.ts-->
          <!-- ============================================================== -->
          <app-header></app-header>
      </mat-toolbar>
  </div>
    <!-- ============================================================== -->
    <!-- End Topbar - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        <mat-sidenav #appDrawer id="appDrawer" [ngStyle]="{ 'margin-top': broadcastMessage ? '112px' : '64px' }" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches"
        >
            
                <app-sidebar></app-sidebar>
               
            
        </mat-sidenav>
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <mat-sidenav-content class="page-wrapper">
                 
                <div class="page-content" [ngStyle]="{ 'margin-top': broadcastMessage ? '112px' : '64px' }">
                   
                        <router-outlet><app-spinner></app-spinner></router-outlet>
                    
                </div>    
               
        </mat-sidenav-content>
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
    </mat-sidenav-container>
</div>