<div class="App-body">
    <div class="App-content">
        <form [formGroup]="create1095bForm" (ngSubmit)="AddForm()">
            <mat-card>
                <h4>View History 1095-B</h4>
                <div class="Tax-form-content-header" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">

                        <div class="full-width">
                            <div class="btn_actions">
                                <button mat-stroked-button id="Previous" class="btn_primary" tabindex="1">
                                    Previous
                                </button>
                                <button mat-stroked-button id="Next" class="btn_primary" tabindex="2">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="30" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="data_version">
                                <span class="totalPage"> Version 1 / 1
                                </span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="35" class="content p-8 border-LRB" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                        <div class="full-width" fxLayoutAlign="flex-end start">
                            <div class="btn_actions">
                                <button mat-stroked-button id="login" class="btn_primary m-r-8" tabindex="4">
                                    Back to Current Version
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified By: Bob Lambert</h5>
                        </div>
                    </div>
                    <div fxFlex="30" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified Date: 08-20-2020 </h5>
                        </div>
                    </div>
                    <div fxFlex="35" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>IP Address: 192.16.1.1</h5>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="content border-full">
                        <div class="full-width p-8 border-B">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Issuer Name</mat-label>
                                <input matInput tabindex="2" formControlName="IssuerName">
                                <mat-error
                                    *ngIf="trrowErrors.IssuerName.errors && trrowErrors.IssuerName.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Issuer Address1</mat-label>
                                <input matInput tabindex="3" formControlName="issuerAddress1">
                                <mat-error
                                    *ngIf="trrowErrors.issuerAddress1.errors && trrowErrors.issuerAddress1.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Issuer Address2</mat-label>
                                <input matInput tabindex="4" formControlName="issuerAddress2">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="6" formControlName="issuerCity">
                                        <mat-error
                                            *ngIf="trrowErrors.issuerCity.errors && trrowErrors.issuerCity.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" formControlName="issuerState"
                                            [disabled]="create1095bForm.value.ForeignCountry ">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="trrowErrors.issuerState.errors && trrowErrors.issuerState.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="8" formControlName="issuerzip"
                                            [readonly]="create1095bForm.value.ForeignCountry">
                                        <mat-error
                                            *ngIf="trrowErrors.issuerzip.errors && trrowErrors.issuerzip.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="50">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"
                                            formControlName="ForeignCountry">Foreign Country</mat-checkbox>
                                    </section>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Country</mat-label>
                                        <mat-select placeholder="Select" tabindex="22" formControlName="Country"
                                            [disabled]="!create1095bForm.value.ForeignCountry">
                                            <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{
                                                country.DISPLAY_NAME}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>Province code</mat-label>
                                        <input matInput tabindex="4" formControlName="provinceCode"
                                            [readonly]="!create1095bForm.value.ForeignCountry">
                                    </mat-form-field>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Postal Code</mat-label>
                                        <input matInput tabindex="4" formControlName="postalcode"
                                            [readonly]="!create1095bForm.value.ForeignCountry">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                        <div class="content full-width p-8" fxLayout="column">

                            <div class="full-width  content-hint">
                                <mat-hint>Contact Name</mat-hint>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>

                                <div fxFlex="25" class="content Left-controls">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>First Name</mat-label>
                                        <input matInput tabindex="11" formControlName="firstName">
                                        <mat-error
                                            *ngIf="trrowErrors.firstName.errors && trrowErrors.firstName.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="25" class="content middle-controls">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput tabindex="11" formControlName="Middlename">
                                    </mat-form-field>
                                </div>

                                <div fxFlex="25" class="content middle-controls">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput tabindex="11" formControlName="Lastname">
                                        <mat-error
                                            *ngIf="trrowErrors.Lastname.errors && trrowErrors.Lastname.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="25" class="content right-controls">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Suffix</mat-label>
                                        <input matInput tabindex="11" formControlName="suffix">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>


                    </div>


                    <div fxFlex="50" fxLayout="column" class="content border-RB border-Top">

                        <div fxFlex="40" class="full-width p-8 center-align border-B">
                            <h4>Health Coverage</h4>
                            <h6>Do not attach to your tax return. Keep for your records.</h6>
                            <h5>
                                <mat-icon>arrow_right</mat-icon>Go to <a
                                    href="www.irs.gov/form1094b">www.irs.gov/form1094b</a> for instructions and the
                                latest information.
                            </h5>
                        </div>

                        <div fxFlex="40" fxLayout="row" fxLayout.xs="column" fxFlexFill class="full-width p-8">
                            <div fxFlex="50" class="full-width  p-8 border-full">
                                <h2>Form <strong>1095-B 2020</strong></h2>
                                <h5>OMB No. 1545-2252 </h5>
                                <h5>Department of the Treasury
                                    Internal Revenue Service</h5>
                            </div>
                            <div fxFlex="50" class="full-width  p-8 border-full">
                                <section class="mat-checkbox-section">
                                    <mat-checkbox class="mat-checkbox-item" tabindex="1" formControlName="VOID">VOID
                                    </mat-checkbox>
                                </section>
                                <section class="mat-checkbox-section">
                                    <mat-checkbox class="mat-checkbox-item" tabindex="1" formControlName="corrected">
                                        Corrected</mat-checkbox>
                                </section>

                            </div>
                        </div>
                        <div class="full-width p-8 center-align">

                        </div>
                    </div>


                </div>
                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div fxLayout="row wrap" class="full-width" fxFlexFill>
                            <div fxFlex="50">
                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>Federal ID</mat-label>
                                    <input matInput tabindex="11" formControlName="federalID">

                                </mat-form-field>
                            </div>
                            <div fxFlex="50">

                                <mat-form-field appearance="outline" class="full-width right-controls  ">
                                    <mat-label>Telephone</mat-label>
                                    <input matInput tabindex="12" formControlName="telephone">
                                    <mat-error
                                        *ngIf="trrowErrors.telephone.errors && trrowErrors.telephone.errors.required">
                                        This field is required </mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8 border-RB">
                        <h4>Employer Sponsored Coverage (Part II)</h4>
                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content  border-LRB">
                        <div class="full-width p-8 border-B">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Policy ID</mat-label>
                                <input matInput tabindex="4" formControlName="policyID">
                                <mat-error *ngIf="trrowErrors.policyID.errors && trrowErrors.policyID.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="content full-width p-8 border-B" fxLayout="column">

                            <div class="full-width  content-hint">
                                <mat-hint>Policy Holder Name</mat-hint>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxFlexFill>

                                <div fxFlex="25" class="content Left-controls">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>First Name</mat-label>
                                        <input matInput tabindex="11" formControlName="policyfirstname">
                                        <mat-error
                                            *ngIf="trrowErrors.policyfirstname.errors && trrowErrors.policyfirstname.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="25" class="content middle-controls">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput tabindex="11" formControlName="policymiddlename">
                                    </mat-form-field>
                                </div>

                                <div fxFlex="25" class="content middle-controls">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput tabindex="11" formControlName="policylastname">
                                        <mat-error
                                            *ngIf="trrowErrors.policylastname.errors && trrowErrors.policylastname.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="25" class="content right-controls">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Suffix</mat-label>
                                        <input matInput tabindex="11" formControlName="policysuffix">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>

                        <div class="full-width p-8">

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Policy Holder Addresses</mat-label>
                                <input matInput tabindex="4" formControlName="policyaddress">
                                <mat-error
                                    *ngIf="trrowErrors.policyaddress.errors && trrowErrors.policyaddress.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Policy Holder Addresses 2</mat-label>
                                <input matInput tabindex="4" formControlName="policyaddress2">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="6" formControlName="policycity">
                                        <mat-error
                                            *ngIf="trrowErrors.policycity.errors && trrowErrors.policycity.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" formControlName="policystate"
                                            [disabled]="create1095bForm.value.policyForeigncountry">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="trrowErrors.policystate.errors && trrowErrors.policystate.errors.required">
                                            This field is required </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="8" formControlName="policyzip"
                                            [readonly]="create1095bForm.value.policyForeigncountry">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="50">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"
                                            formControlName="policyForeigncountry">
                                            Foreign Country</mat-checkbox>
                                    </section>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Country</mat-label>
                                        <mat-select placeholder="Select" tabindex="22" formControlName="policyCountry"
                                            [disabled]="!create1095bForm.value.policyForeigncountry">
                                            <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{
                                                country.DISPLAY_NAME}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>Province code</mat-label>
                                        <input matInput tabindex="4" formControlName="policyProvinceCode"
                                            [readonly]="!create1095bForm.value.policyForeigncountry">
                                    </mat-form-field>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Postal Code</mat-label>
                                        <input matInput tabindex="4" formControlName="policypostalcode"
                                            [readonly]="!create1095bForm.value.policyForeigncountry">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                    </div>



                    <div fxFlex="50" class="content  border-RB">
                        <div class="full-width p-8">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Employer Name</mat-label>
                                <input matInput tabindex="4" formControlName="EmployerName">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Employer EIN</mat-label>
                                <input matInput tabindex="4" formControlName="employeeEIN">
                                <mat-error
                                    *ngIf="trrowErrors.employeeEIN.errors && trrowErrors.employeeEIN.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address 1</mat-label>
                                <input matInput tabindex="4" formControlName="employeeAddress">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address 2</mat-label>
                                <input matInput tabindex="4" formControlName="employeeeAddress2">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="6" formControlName="employeeCity">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" formControlName="employeestate"
                                            [disabled]="create1095bForm.value.employeeForeignCountry">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{
                                                state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="8" formControlName="employeeZip"
                                            [readonly]="create1095bForm.value.employeeForeignCountry">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="50">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"
                                            formControlName="employeeForeignCountry">Foreign Country</mat-checkbox>
                                    </section>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Country</mat-label>
                                        <mat-select placeholder="Select" tabindex="22" formControlName="employeeCountry"
                                            [disabled]="!create1095bForm.value.employeeForeignCountry">
                                            <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{
                                                country.DISPLAY_NAME}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>Province code</mat-label>
                                        <input matInput tabindex="4" formControlName="employeeProvinceCode"
                                            [readonly]="!create1095bForm.value.employeeForeignCountry">
                                    </mat-form-field>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Postal Code</mat-label>
                                        <input matInput tabindex="4" formControlName="provincePostalCode"
                                            [readonly]="!create1095bForm.value.employeeForeignCountry">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" fxLayout="row" class="full-width content">
                        <div fxFlex="50" class="full-width  p-8  border-LRB">
                            <div class="full-widthcontent-hint">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Reserved</mat-label>
                                    <input matInput tabindex="2" formControlName="Reserved" readonly="true">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxFlex="50" class="full-width p-8  border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Policy Origin Code</mat-label>
                                <input matInput tabindex="2" formControlName="PolicyOriginCode">
                                <mat-error
                                    *ngIf="trrowErrors.PolicyOriginCode.errors && trrowErrors.PolicyOriginCode.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="50" class="content border-RB">
                        <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Form Release Date</mat-label>
                                    <input matInput tabindex="5" [readonly]=true formControlName="releasedate">
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
    
                            <div>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>E-Consent Date</mat-label>
                                    <input matInput tabindex="5" [readonly]=true formControlName="consentdate">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" fxLayout="row" class="full-width content">
                        <div fxFlex="50" class="full-width p-8   border-LRB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>SSN or other TIN(eg:000-00-0000)</mat-label>
                                <input matInput tabindex="2" formControlName="SSN" [mask]="'[000]-[00]-[0000]'">
                                <mat-error *ngIf="trrowErrors.SSN.errors && trrowErrors.SSN.errors.required">
                                    This field is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50" class="full-width p-8  border-RB">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Date of Birth (If SSN or other TIN is not available)</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="DOB" 
                                (dateChange)="dateChangeHandler($event.value)">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="trrowErrors.DOB.errors && trrowErrors.DOB.errors.required">
                                    This field is required </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="50" class="content border-RB">
                        <div fxFlex="100" class="content p-8 border-full" fxFlex.xs="55">
                            <div class="full-width">
                                <div class="full-width content-hint">
                                    <mat-hint>Memo</mat-hint>
                                </div>
                                <mat-form-field appearance="outline" class="full-width">
        
                                    <input matInput type="textarea" #memo formControlName="memo" [readonly]="true">
        
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="Tax-form-content">
                    <div class="content p-8 border-LRB">
                        <h4>Part IV - Covered Individuals (Enter the information for each covered individual(s).)</h4>
                    </div>
                </div>
                <div class="Tax-form-content p-b-24">
                    <div class="table-content border-LRB">
                        <table mat-table [dataSource]="CIdataSource" matSort class="mat-elevation-z8"
                            style="width:100%">
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> (a) Name of Covered Individual
                                    (First
                                    Name, Middle Name and Last Name)</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <input matInput [value]="element.Name">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="SSN">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> (b) SSN or other TIN</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <input matInput [value]="element.SSN" pattern="/^\d{3}-\d{2}-\d{4}$/"
                                            placeholder="000-00-0000">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="DOB">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> (c) DOB (If SSN or other TIN is
                                    not
                                    available)</th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <input matInput [value]="element.DOB" type='date'>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Allmonths">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> (d) Covered all 12 Months</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Jan">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Jan</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Feb">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Feb</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Mar">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mar</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Apr">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Apr</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="May">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>May</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Jun">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Jun</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Jul">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Jul</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Aug">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Aug</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Sep">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sep</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Oct">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Oct</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="Nov">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nov</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Dec">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Dec</th>
                                <td mat-cell *matCellDef="let element">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" tabindex="21"></mat-checkbox>
                                    </section>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                <td mat-cell *matCellDef="let element" class="action-link">

                                    <button mat-icon-button color="accent">
                                        <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                                        <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="CIdisplayedColumns"></tr>

                            <tr mat-row *matRowDef="let row; columns: CIdisplayedColumns;"
                                (click)="CIselectedRow = CIselectedRow === row ? null : row"
                                [ngClass]="{ 'selected': row === CIselectedRow }"></tr>


                        </table>
                    </div>
                </div>


                <div class="btn_actions">
                    <button mat-stroked-button id="login" class="btn_primary" tabindex="32">
                        Submit
                    </button>
                </div>
            </mat-card>
        </form>
    </div>
</div>