<div class="App-body">
    <div class="App-content">
        <form [formGroup]="updateAppForm">
            <mat-card>

                <h4>View History 1099-Nec</h4>
                <div class="Tax-form-content-header" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">

                        <div class="full-width">
                            <div class="btn_actions">
                                <button mat-stroked-button id="Previous" class="btn_primary" tabindex="1">
                                    Previous
                                </button>
                                <button mat-stroked-button id="Next" class="btn_primary" tabindex="2">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="30" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="data_version">
                                <span class="totalPage"> Version 1 / 1
                                </span>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="35" class="content p-8 border-LRB" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                        <div class="full-width" fxLayoutAlign="flex-end start">
                            <div class="btn_actions">
                                <button mat-stroked-button id="login" class="btn_primary m-r-8" tabindex="4">
                                    Back to Current Version
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxFlexFill>

                    <div fxFlex="35" class="content p-8 border-LRB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified By: Bob Lambert</h5>
                        </div>
                    </div>
                    <div fxFlex="30" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>Modified Date: 08-20-2020 </h5>
                        </div>
                    </div>
                    <div fxFlex="35" class="content p-8 border-RB" fxLayoutAlign="start center">
                        <div class="full-width">
                            <h5>IP Address: 192.16.1.1</h5>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>
                    <div fxFlex="25" fxFlex.xs="55">
                        <section class="mat-checkbox-section">
                            <mat-checkbox class="mat-checkbox-item" tabindex="1" #corrected formControlName="corrected" [disabled]="true">Corrected</mat-checkbox>
                        </section>
                    </div>
                    <div fxFlex="50" fxFlex.xs="55" fxLayoutAlign="start center">

                    </div>

                    <div fxFlex="25" fxFlex.xs="55" fxLayoutAlign="flex-end center">
                        
                    </div>

                </div>



                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="50" class="content p-8 border-LRB border-Top">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Payer's name</mat-label>
                                <input matInput tabindex="2" #payerName formControlName="payerName" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="3" #payerAddress1 formControlName="payerAddress1" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="3" #payerAddress2 formControlName="payerAddress2" [readonly]="true">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="3" #payerAddress3 formControlName="payerAddress3" [readonly]="true">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="6" #payerCity formControlName="payerCity" [readonly]="true">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" #payerState formControlName="payerState" [disabled]="true">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="8" #payerZip formControlName="payerZip" [readonly]="true">
                                    </mat-form-field>
                                </div>
                            </div>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Telephone no.</mat-label>
                                <input matInput tabindex="9" #payerTelephoneNo1 formControlName="payerTelephoneNo1" [readonly]="true">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="50" class="full-width  content border-RB border-Top">
                        <div fxLayout="column" fxFlexFill>

                            <div fxFlex="40" class="full-width center-align p-8">
                                <h4 style="font-size: 15px;">OMB No. 1545-0116 </h4>
                                <h2>{{taxyear}}</h2>
                                <h2 style="font-size: 20px;">Form <strong>1099-NEC</strong></h2>
                            </div>
                            <div fxFlex="20" class="full-width center-align p-8 border-B">
                                
                                <p style="font-size: 15px;">
                                    Nonemployee Compensation
                                </p>
                            </div>

                            <div fxFlex="40" class="full-width p-8">
                                <div>
                                    <mat-form-field appearance="outline"
                                         class="full-width">
                                        <mat-label>1. Nonemployee compensation</mat-label>
                                        <input matInput tabindex="28"
                                        matTooltip="1. Nonemployee compensation"
                                        (blur)="onBlurFloat($event)"
                                        type="number"
                                        [readonly]="true"
                                        >

                                    </mat-form-field>
                                </div>
                                

                            </div>

                        </div>
                    </div>
                </div>
                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                        <div fxLayout="row wrap" class="full-width" fxFlexFill>
                            <div fxFlex="50">

                                <mat-form-field appearance="outline" class="full-width Left-controls">
                                    <mat-label>Payer's Federal identification
                                        number</mat-label>
                                        <mat-select placeholder="Select" tabindex="7" [disabled]="true" #payerFederalIdentificationNumber formControlName="payerFederalIdentificationNumber">
                                            <mat-option value="">-- Select --</mat-option>
                                            <mat-option value="aaaa">aaa</mat-option>
                                        </mat-select>

                                </mat-form-field>
                            </div>
                            <div fxFlex="50">

                                <mat-form-field appearance="outline" class="full-width right-controls">
                                    <mat-label>Recipient's identification number</mat-label>
                                    <input matInput tabindex="12" type="number" maxlength="11" [readonly]="true" #receiptIdentificationNumber formControlName="receiptIdentificationNumber">

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8 border-RB reserved_bacground">
                        <div class="full-width content-hint">
                            <mat-hint>2</mat-hint>
                        </div>


                    </div>


                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-LRB">
                        <div class="full-width">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Recipient's Name</mat-label>
                                <input matInput tabindex="13" [readonly]="true" #receiptName1 formControlName="receiptName1">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Recipient's Name 2</mat-label>
                                <input matInput tabindex="14" [readonly]="true" #receiptName2 formControlName="receiptName2">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address1</mat-label>
                                <input matInput tabindex="15" [readonly]="true" #receiptAddress1 formControlName="receiptAddress1">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address2</mat-label>
                                <input matInput tabindex="16" [readonly]="true" #receiptAddress2 formControlName="receiptAddress2">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Street Address3</mat-label>
                                <input matInput tabindex="17" [readonly]="true" #receiptAddress3 formControlName="receiptAddress3">
                            </mat-form-field>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width Left-controls">
                                        <mat-label>City</mat-label>
                                        <input matInput tabindex="18" [readonly]="true" #receiptCity formControlName="receiptCity">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="30">
                                    <mat-form-field appearance="outline" class="full-width middle-controls">
                                        <mat-label>State</mat-label>
                                        <mat-select placeholder="Select" [disabled]="true" tabindex="19" #receiptState formControlName="receiptState">
                                            <mat-option *ngFor='let state of stateList' value="{{ state.VALUE }}">{{ state.DISPLAY_NAME }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="35">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Zip</mat-label>
                                        <input matInput tabindex="20" [readonly]="true" #receiptZip formControlName="receiptZip">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row wrap" class="full-width">
                                <div fxFlex="50">
                                    <section>
                                        <mat-checkbox class="mat-checkbox-item" [disabled]="true" tabindex="21" #forignCountry formControlName="forignCountry">Foreign Country</mat-checkbox>
                                    </section>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field appearance="outline" class="full-width right-controls">
                                        <mat-label>Country</mat-label>
                                        <mat-select placeholder="Select" tabindex="22" #receiptCountry formControlName="receiptCountry" [disabled]="true">
                                            <mat-option value="--Option--">--Option--</mat-option>
                                            <mat-option *ngFor='let country of country' value="{{ country.VALUE}}">{{ country.DISPLAY_NAME}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div fxFlex="50" class="content border-RB">
                        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
                            <div fxFlex="30" class="full-width p-8 border-B reserved_bacground">
                                <div class="full-width content-hint">
                                    <mat-hint>3.</mat-hint>
                                </div>

                            </div>
                            <div fxFlex="30" class="full-width p-8 border-B">
                                <div>
                                    <mat-form-field appearance="outline"
                                         class="full-width">
                                        <mat-label>4. Federal income tax withheld</mat-label>
                                        <input matInput tabindex="34"
                                        matTooltip="4. Federal income tax withheld"
                                        (blur)="onBlurFloat($event)"
                                        type="number"
                                        [readonly]="true"
                                        >

                                    </mat-form-field>
                                </div>

                            </div>
                            <div fxFlex="40" class="full-width p-8">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="25" class="content p-8 border-LRB">
                        <div class="full-width">

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Account number (see instructions)</mat-label>
                                <input matInput tabindex="23" #accountNumber formControlName="accountNumber" [readonly]="true">

                            </mat-form-field>

                        </div>
                    </div>
                    
                    <div fxFlex="25" class="content p-8 border-RB">
                        <div>
                            <section class="mat-checkbox-section">
                                <mat-checkbox class="mat-checkbox-item" [disabled]="true" tabindex="24" #fatca formControlName="fatca">FATCA filing requirement
                                </mat-checkbox>
                            </section>
                        </div>
                    </div>

                    <div fxFlex="50" class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                        <div fxFlex="33" class="content border-RB">
                            <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                                <div class="full-width p-8 border-B">
                                    <div>
                                        <mat-form-field appearance="outline"
                                            class="full-width">
                                            <mat-label>5. State tax withheld</mat-label>
                                            <input matInput tabindex="38" #stateTaxWithheld1 formControlName="stateTaxWithheld1"
                                            matTooltip="5. State tax withheld"
                                            (blur)="onBlurFloat($event)"
                                            type="number"
                                            [readonly]="true"
                                            >

                                        </mat-form-field>
                                    </div>

                                    <div>
                                        <mat-form-field appearance="outline"
                                            class="full-width">
                                            <mat-label>5. State tax withheld</mat-label>
                                            <input matInput tabindex="39" #stateTaxWithheld2 formControlName="stateTaxWithheld2"
                                            matTooltip="5. State tax withheld"
                                            (blur)="onBlurFloat($event)"
                                            type="number"
                                            [readonly]="true"
                                            >

                                        </mat-form-field>
                                    </div>

                                </div>
                               
                            </div>
                        </div>


                        <div fxFlex="33" class="contentborder-RB" fxFlex.xs="15">
                            <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                                <div class="full-width  p-8 border-RB">
                                    <div>
                                        <mat-form-field appearance="outline"
                                            class="full-width">
                                            <mat-label>6. State/Payer’s state no.</mat-label>
                                            <input matInput tabindex="40" #statePayersStateNo1 formControlName="statePayersStateNo1"
                                            matTooltip="6. State/Payer’s state no."
                                            (blur)="onBlurFloat($event)"
                                            type="number"
                                            [readonly]="true"
                                            >

                                        </mat-form-field>
                                    </div>

                                    <div>

                                        <mat-form-field appearance="outline"
                                            class="full-width">
                                            <mat-label>6. State/Payer’s state no.</mat-label>
                                            <input matInput tabindex="41" #statePayersStateNo2 formControlName="statePayersStateNo2"
                                            matTooltip="6. State/Payer’s state no."
                                            (blur)="onBlurFloat($event)"
                                            type="number"
                                            [readonly]="true"
                                            >
                                        </mat-form-field>
                                    </div>

                                </div>
                               
                            </div>
                        </div>
                        <div fxFlex="34" class="content border-RB" fxFlex.xs="15">
                            <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>

                                <div class="full-width  p-8 border-B">
                                    <div>
                                        <mat-form-field appearance="outline"
                                            class="full-width">
                                            <mat-label>7. State income</mat-label>
                                            <input matInput tabindex="42" #stateIncome1 formControlName="stateIncome1"
                                            matTooltip="7. State income"
                                            (blur)="onBlurFloat($event)"
                                            type="number"
                                            [readonly]="true"
                                            >

                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field appearance="outline"
                                            class="full-width">
                                            <mat-label>7. State income</mat-label>
                                            <input matInput tabindex="43" #stateIncome2 formControlName="stateIncome2"
                                            matTooltip="7. State income"
                                            (blur)="onBlurFloat($event)"
                                            type="number"
                                            [readonly]="true"
                                            >
                                        </mat-form-field>
                                    </div>
                                    

                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>

                <div class="Tax-form-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Form <strong>1099-NEC</strong></p>
                        </div>
                    </div>
                    <div fxFlex="50" class="content p-8" fxFlex.xs="55">
                        <div class="full-width">
                            <p class="type-caption">Department of the Treasury - Internal Revenue Service</p>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>

                    <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
                        <div>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Form Release Date</mat-label>
                                <input matInput tabindex="5" [readonly]=true formControlName="releasedate">
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div fxFlex="50" class="content p-8 border-full" fxFlex.xs="55">
    
                        <div>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>E-Consent Date</mat-label>
                                <input matInput tabindex="5" [readonly]=true formControlName="consentdate">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="Tax-form-content p-b-24" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                    <div fxFlex="100" class="content p-8 border-full" fxFlex.xs="55">
                        <div class="full-width">
                            <div class="full-width content-hint">
                                <mat-hint>Memo</mat-hint>
                            </div>
                            <mat-form-field appearance="outline" class="full-width">
    
                                <input matInput type="textarea" #memo formControlName="memo" [readonly]="true">
    
                            </mat-form-field>
                        </div>
                    </div>
                </div>


            </mat-card>
        </form>
    </div>
</div>