<div class="App-login1098">
    <div class="App-content" fxLayout="row" fxLayoutAlign="center center">
      <form fxFlex="40%" fxFlex.sm="60%" fxFlex.xs="90%" [formGroup]="loginForm" >
        <mat-card class="Card">
          <h1>
            <img src="./assets/images/logo-blue.svg" alt="TAB SERVICE COMPANY" class="logo-blue-login">
          </h1> 
          <h3>Forgot Your Password?</h3>
          <h4>Enter your information below. You will receive an email to reset your password.</h4>
  
  
          <mat-form-field appearance="outline"  class="full-width">
            <mat-label>Site Id</mat-label>
            <input matInput formControlName="Site_id">
            <mat-error *ngIf="loginForm.controls['Site_id'].errors?.required"> This field is required
          </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline"  class="full-width">
            <mat-label>User Name</mat-label>
            <input matInput  formControlName="username" >
            <mat-error *ngIf="loginForm.controls['username'].errors?.required"> This field is required
          </mat-error>
  
          </mat-form-field>
  
  
          <button mat-stroked-button id="btnSubmit" class="btn_primary" (click)="onSubmit()">
            Submit
          </button>
  
        </mat-card>
  
      </form>
    </div>
  </div>
  