
<div class="App-body">
    <div class="App-content">
        
      <div class="Card">
        <h4>
            Approve Year End Proof
        </h4>
  
  
  
        <mat-form-field appearance="outline"  class="full-width">
          <mat-label>Search Description, Proof Description, Approval Date or Time</mat-label>
          <input matInput type="search">
        </mat-form-field>
  
  
        <div>
  
          <!-- Angular 8 pagination -->
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let element">
                <a  href="#" target="_blank" >{{element.description_link_title}}</a>
                   <br>
                   <mat-label>{{element.description}}</mat-label>
            </ng-container>
  
            <ng-container matColumnDef="proof_description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Proof Description </th>
              <td mat-cell *matCellDef="let element"> {{element.proof_description}} </td>
            </ng-container>
  
            <ng-container matColumnDef="approval">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Approval </th>
              <td mat-cell *matCellDef="let element">
                <a mat-icon-button color="primary"
                                class="add_trasaction"
                                aria-label="Approve Records" (click)="openDialog()">
                                <mat-label>Approved</mat-label>
                            </a>
              </td>
              
            </ng-container>
  
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>

              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                <td mat-cell *matCellDef="let element"> {{element.time}} </td>
              </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>

            
          </table>
  
        </div>
  
  
      </div>
  
  
  
    </div>
  </div>

  