<mat-dialog-content class="mat-typography">
    <div class="controls-max-width" style="max-width: 100%;">
        <mat-card>
            <h3 style="color: #173663;">
                Our records indicate we have not received your postage pre-payment. Until this is received you will not be able to approve your proof for printing and mailing. Call your account rep at 312-527-4306 to discuss.
            </h3>
            <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>

                <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                    <div>
                        2020 T4A Print and Mail Proof - 1UP 8.5x11

                    </div>
                </div>
                <div fxFlex="50" class="content p-8 border-RB" fxFlex.xs="55">

                    <div>
                        ONLINE_APPROVAL_T4A
                    </div>
                </div>
            </div>
            <div class="Tax-form-content-header" fxLayout="row" fxFlexFill>

                <div fxFlex="50" class="content p-8 border-LRB" fxFlex.xs="55">
                    <div>
                        Postage Payment Status
                    </div>
                </div>
                <div fxFlex="50" class="content p-8 border-RB" fxFlex.xs="55">

                    <div>
                        Not paid
                    </div>
                </div>
            </div>
            <br>
            <h3>
                I have reviewed the associated Print and Mail Proof and determined that the quality and data content are accurate. By accepting this proof I am granting Tab Service Cpmpany Trust permission to proceed with the laser printing and mailing of the Tax Documents to the name and address of the recipient specified on the tax document.
            </h3>
            <br>
            <div fxLayout="row">
                <div fxFlex.gt-sm="100%">
                    <div class="btn_actions" style="text-align: right;">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="NA">Not Approved</mat-radio-button>
                            <mat-radio-button value="A">Approved</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" style="margin-bottom: 0px; padding: 8px 16px;">
    <button mat-button class="btn_primary">Submit</button>
    <button mat-button class="btn_primary">Cancel</button>
</mat-dialog-actions>