<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div *ngIf="spinner.isLoading | async" class="loadspinner">
    <mat-spinner style="top: 50%; left: 50%;"></mat-spinner>
</div>

<router-outlet>
    <app-spinner></app-spinner>
</router-outlet>