.tooltip-conatiner {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 1px 5px 4px 5px;
    font-size: 15px;
    white-space: pre-wrap;
    color: gray !important;
    background-color: rgba(255, 255, 255, .9);
    max-width: unset !important;
    width: 350px;
}