<mat-dialog-content class="mat-typography">

    <div class="App-body">
        <div class="App-content">
            
                <h4>
                   File Tracking
                </h4>
    
                <div fxLayout="row">
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Site Name</mat-label>
                        <mat-select placeholder="Select">
                            <mat-option value="option">AA</mat-option>
                            <mat-option value="option">AB</mat-option>
                            <mat-option value="option">AE</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
 
    
                <div class="full-width">
                    <mat-form-field appearance="outline"  class="full-width">
                        <mat-label>Processing Notes</mat-label>
                        <input matInput type="textarea" tabindex="35">
    
                    </mat-form-field>
                </div>
                
                <div class="btn_actions">
                    <button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial class="btn_primary">Upload File</button>
                    <button mat-stroked-button mat-dialog-close class="btn_secondary">Cancel</button>
                    
                </div>            
        </div>
    </div>
</mat-dialog-content>
 