<div class="App-body">
    <div class="App-content">
        <mat-card>
            <h4>
                File Tracking
            </h4>

            
            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>Search Site id, client Name File Type or File Name</mat-label>
                <input matInput type="search" >
              </mat-form-field>

            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                <ng-container matColumnDef="file_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> File Id</th>
                    <td mat-cell *matCellDef="let element"> {{element.file_id}} </td>
                </ng-container>
                <ng-container matColumnDef="site_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Site Id</th>
                    <td mat-cell *matCellDef="let element"> {{element.site_id}} </td>
                </ng-container>

                <ng-container matColumnDef="client_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
                    <td mat-cell *matCellDef="let element"> {{element.client_name}} </td>
                </ng-container>

                <ng-container matColumnDef="date_upload">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Upload</th>
                    <td mat-cell *matCellDef="let element"> {{element.date_upload}} </td>
                </ng-container>

                <ng-container matColumnDef="file_type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>File Type</th>
                    <td mat-cell *matCellDef="let element"> {{element.file_type}} </td>
                </ng-container>

                <ng-container matColumnDef="file_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>File Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.file_status}} </td>
                </ng-container>


                <ng-container matColumnDef="filename">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name</th>
                    <td mat-cell *matCellDef="let element">
                        <a routerLink="."> {{element.filename}} </a></td>
                </ng-container>

                <ng-container matColumnDef="notes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Notes </th>
                    <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let element" class="action-link"><button mat-icon-button color="accent">                         
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>

                       
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>
                
            </table>
        </mat-card>
    </div>
</div>