

.mat-column-file_id {
    min-width:20px;
    width:8%;
    align-items: left;
}


.mat-column-site_id {
    min-width:20px;
    width:8%;
    align-items: left;
}
 

.mat-column-client_name {
    min-width:20px;
    width:14%;
    align-items: left;
}
 
.mat-column-date_upload {
    min-width:20px;
    width:10%;
    align-items: left;
}


.mat-column-file_type {
    min-width:20px;
    width:10%;
    align-items: left;
}


.mat-column-file_status {
    min-width:20px;
    width:10%;
    align-items: left;
}


.mat-column-filename {
    min-width:20px;
    width:20%;
    align-items: left;
}
 

.mat-column-notes {
    min-width:20px;
    width:10%;
    align-items: left;
}
  
.mat-column-action {
    min-width:20px;
    width:5%;
    align-items: left;
}
