<div class="App-body">
    <div class="App-content">
        <mat-card>
            <h4>
                Create E-File
            </h4>

            <div class="controls-max-width">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Form Type</mat-label>
                    <mat-select placeholder="Select">
                        <mat-option value="1">1042S</mat-option>
                        <mat-option value="2">1094-C</mat-option>
                        <mat-option value="3">1095-B</mat-option>
                        <mat-option value="4">1095-C</mat-option>
                        <mat-option value="5">1098-E</mat-option>
                        <mat-option value="6">1098-T</mat-option>
                        <mat-option value="7">1099-C</mat-option>
                        <mat-option value="8">1099-DIV</mat-option>
                        <mat-option value="9">1099-INT</mat-option>

                        <mat-option value="10">1099-MISC</mat-option>
                        <mat-option value="11">1099-NEC</mat-option>
                        <mat-option value="12">1099-R</mat-option>
                        <mat-option value="13">1099-SA</mat-option>
                        <mat-option value="14">3921</mat-option>
                        <mat-option value="15">3922</mat-option>
                        <mat-option value="16">5498-SA</mat-option>
                        <mat-option value="17">T4A</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="btn_actions p-b-24">
                <button mat-stroked-button id="btnPrimay" class="btn_primary">
                    Eligible Site
                </button>
            </div>

            <div cdkDropListGroup>
                <div class="list-container">
                    <h3>Eligible Site's</h3>

                    <div cdkDropList [cdkDropListData]="items" class="item-list" cdkDropListSortingDisabled
                        (cdkDropListDropped)="drop($event)">
                        <div class="item-box" *ngFor="let item of items" cdkDrag>{{item}}</div>
                    </div>
                </div>

                <div class="list-container">
                    <h3>Selected Site's</h3>

                    <div cdkDropList [cdkDropListData]="basket" class="item-list" (cdkDropListDropped)="drop($event)">
                        <div class="item-box" *ngFor="let item of basket" cdkDrag>{{item}}</div>
                    </div>
                </div>
            </div>

            <section class="mat-checkbox-section">
                <mat-checkbox class="mat-checkbox-item" tabindex="1">Test File</mat-checkbox>
            </section>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>EIN</mat-label>
                <mat-select placeholder="Select">
                    <mat-option value="option">AA</mat-option>

                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Database Load ID</mat-label>
                <mat-select placeholder="Select">
                    <mat-option value="option">ALL</mat-option>

                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Proof Description</mat-label>
                <input matInput value="">
            </mat-form-field>


            <div fxLayout="row" style="justify-content: flex-end;">
                <div class="btn_actions">
                    <button mat-stroked-button id="btnPrimay" class="btn_primary">
                        Print
                    </button>
                </div>
                <div class="btn_actions">
                    <button mat-stroked-button id="btnPrimay" class="btn_primary">
                        Create E-File
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>