
<div class="App-body">
    <div class="App-content">
  
      <mat-card>
        <h4>
          ACA 1094 C Management
        </h4>
  
  
  
        <button mat-stroked-button id="login" class="btn_primary"   (click)="submit()">
          Add Employer
        </button>
  
      </mat-card>
  
      <mat-card>
        
        <mat-form-field appearance="outline"  class="full-width">
          <mat-label>Search Employer EIN, Name and  Address</mat-label>
          <input matInput type="search" >
        </mat-form-field>
  
  
        <div>
  
          <!-- Angular 8 pagination -->
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
            <ng-container matColumnDef="Employer_EIN">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employer EIN </th>
              <td mat-cell *matCellDef="let element"> {{element.Employer_EIN}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Employer_Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Employer Name </th>
              <td mat-cell *matCellDef="let element"> {{element.Employer_Name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="Employer_Address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employer Address </th>
              <td mat-cell *matCellDef="let element"> {{element.Employer_Address}} </td>
            </ng-container>
   
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link"><button mat-icon-button color="accent">
                  <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                  <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
  
                <button mat-icon-button color="accent">
                  <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                  <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                </button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>
            
          </table>
  
        </div>
  
  
      </mat-card>
  
  
  
    </div>
  </div>
  