.table-content {
    overflow: scroll;
    max-height:70vh;
}


.mat-column-Month {    
     
    width: 10% !important;
    align-items: left;   
    
}

.mat-column-MEC {    
     
    width: 20% !important;
    align-items: left;   
    
}


.mat-column-Full_Time_Employee {    
     
    width: 20% !important;
    align-items: left;   
    
}


.mat-column-Total_Employee_Count {    
     
    width: 20% !important;
    align-items: left;   
    
}


.mat-column-Aggregated_Group_Indicator {    
     
    width: 10% !important;
    align-items: left;   
    
}

.mat-column-Section_4980H {    
     
    width: 20% !important;
    align-items: left;   
    
}


