<div class="App-body">
    <div class="App-content">
        <form>
            <mat-card>
                <h4>Add Health Plan Code</h4>


                <div class="btn_actions p-b-24">
                    <button mat-stroked-button id="login" class="btn_primary">
                        Add Health Plan
                    </button>

                    <button mat-stroked-button id="login" class="btn_secondary">
                        Cancel
                    </button>
                </div>

                <div class="controls-max-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Employer EIN</mat-label>
                        <mat-select placeholder="Select">
                            <mat-option value="option">361010101</mat-option>
                            <mat-option value="option">361010102</mat-option>
                            <mat-option value="option">361010103</mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Health Plan Code</mat-label>
                        <input matInput value="">
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Plan Type</mat-label>
                        <mat-select placeholder="Select">
                            <mat-option value="option">Fully Insured</mat-option>
                            <mat-option value="option">Self Insured</mat-option>
                            <mat-option value="option">Both</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Plan Start Month</mat-label>
                        <input matInput value="">
                    </mat-form-field>

                    <!-- column -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput [matTextareaAutosize]></textarea>
                    </mat-form-field>
                </div>
                <section class="p-b-24">
                    <mat-checkbox class="mat-checkbox-item" tabindex="1">All Month Fields Check if you want enable all
                        monthly fields, otherwise 12 month fields only enabled.</mat-checkbox>
                </section>



                <div class="table-content m-b-24">

                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                        <ng-container matColumnDef="Month">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                            <td mat-cell *matCellDef="let element"> {{element.Month}} </td>
                        </ng-container>

                        <ng-container matColumnDef="MEC">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lowest Cost Monthly Premium for Self
                                Only Coverage</th>

                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline" class="full-width">

                                    <input matInput [value]="element.MEC">
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Full_Time_Employee">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Minimum Essential Coverage</th>

                            <td mat-cell *matCellDef="let element">
                                <section class="mat-checkbox-group">
                                    <mat-checkbox class="mat-checkbox-item" tabindex="1">Yes</mat-checkbox>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="1">No</mat-checkbox>
                                </section>
                            </td>

                        </ng-container>

                        <ng-container matColumnDef="Total_Employee_Count">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Minimum Value</th>

                            <td mat-cell *matCellDef="let element">
                                <section class="mat-checkbox-group">
                                    <mat-checkbox class="mat-checkbox-item" tabindex="1">Yes</mat-checkbox>
                                    <mat-checkbox class="mat-checkbox-item" tabindex="1">No</mat-checkbox>
                                </section>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Aggregated_Group_Indicator">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Safe Harbor Code</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline" class="full-width">

                                    <mat-select placeholder="Select">
                                        <mat-option value="2E">2E - Union Safe Harbor Code </mat-option>
                                        <mat-option value="2F">2F - W2 Safe Harbor</mat-option>
                                        <mat-option value="2G">2G – Federal Poverty Line Safe Harbor </mat-option>
                                        <mat-option value="2H">2H – Rate of Pay Safe Harbor </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Section_4980H">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Individuals
                                Offered
                                Coverage</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-form-field appearance="outline" class="full-width">

                                    <mat-select placeholder="Select">
                                        <mat-option value="1A">Qualifying Offer(1A)</mat-option>
                                        <mat-option value="1B">Employee Only(1B)</mat-option>
                                        <mat-option value="1C">Spouse Only(1C)</mat-option>
                                        <mat-option value="1D">Dependents Only(1D)</mat-option>
                                        <mat-option value="1E">Spouse and Dependents(1E)</mat-option>
                                        <mat-option value="1F">MEC not providing MV offered (1F)</mat-option>
                                        <mat-option value="1G">Offer to non-Full Time Employee (1G)</mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </div>



                <div class="btn_actions">
                    <button mat-stroked-button id="login" class="btn_primary">
                        Add Health Plan
                    </button>

                    <button mat-stroked-button id="login" class="btn_secondary">
                        Cancel
                    </button>
                </div>
            </mat-card>
        </form>

    </div>
</div>