<div class="App-body">
    <div class="App-content">
        <form class="controls-max-width">
            <mat-card>
                <h4>Add Time Period Code</h4>

                <div class="btn_actions p-b-24">
                    <button mat-stroked-button id="login" class="btn_primary">
                        Add Time Period
                    </button>

                    <button mat-stroked-button id="login" class="btn_secondary">
                        Cancel
                    </button>
                </div>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Employer EIN</mat-label>
                    <mat-select placeholder="Select">
                        <mat-option value="option">361010101</mat-option>
                        <mat-option value="option">361010102</mat-option>
                        <mat-option value="option">361010103</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Employee Time Period Code</mat-label>
                    <input matInput value="">
                </mat-form-field>


                <!-- column -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput [matTextareaAutosize]></textarea>
                </mat-form-field>


                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Measurement Method</mat-label>
                    <mat-select placeholder="Select">

                        <mat-option value="option">Monthly Measurement Method</mat-option>
                        <mat-option value="option">Look Back Method</mat-option>
                        <mat-option value="option">Full Time - No Measurement</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="extra-padding">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Initial Measurement Period</mat-label>
                        <input matInput value="">
                        <mat-hint>in number of days</mat-hint>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Initial Measurement Period Starts On </mat-label>
                    <mat-select placeholder="Select">

                        <mat-option value="option">Employee Start Date</mat-option>
                        <mat-option value="option">On the first day of the month following the employee's start date
                        </mat-option>

                    </mat-select>
                </mat-form-field>

                <div class="extra-padding">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Administrative Period for Initial Measurement Period</mat-label>
                        <input matInput value="">
                        <mat-hint>in number of days</mat-hint>
                    </mat-form-field>
                </div>

                <div class="extra-padding">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Initial Stability Period</mat-label>
                        <input matInput value="">
                        <mat-hint>in number of days</mat-hint>
                    </mat-form-field>
                </div>


                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Standard Measurement Period Start Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Standard Measurement Period End Date</mat-label>
                    <input matInput [matDatepicker]="enddatepicker">
                    <mat-datepicker-toggle matSuffix [for]="enddatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #enddatepicker></mat-datepicker>
                </mat-form-field>
                <div class="extra-padding">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Administrative Period for Standard Measurement Period</mat-label>
                        <input matInput value="">
                        <mat-hint>in number of days</mat-hint>
                    </mat-form-field>
                </div>

                <div class="extra-padding">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Standard Stability Period</mat-label>
                        <input matInput value="">
                        <mat-hint>in number of days</mat-hint>
                    </mat-form-field>
                </div>

                <div class="extra-padding">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Waiting Period</mat-label>
                        <input matInput value="">
                        <mat-hint>in number of days</mat-hint>
                    </mat-form-field>
                </div>

                <div class="btn_actions">
                    <button mat-stroked-button id="login" class="btn_primary">
                        Add Time Period
                    </button>

                    <button mat-stroked-button id="login" class="btn_secondary">
                        Cancel
                    </button>
                </div>
            </mat-card>
        </form>

    </div>
</div>