<div class="App-body">
    <div class="App-content">

        <mat-card>
            <h4>Measurement/Waiting Periods by Employee Class</h4>


            <button mat-stroked-button id="login" class="btn_primary" (click)="submit()">
                Add Time Period
            </button>

        </mat-card>

        <mat-card>
            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>Search Employer EIN, Time Period Code or Description</mat-label>
                <input matInput type="search">
            </mat-form-field>

            <!-- Angular 8 pagination -->
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
            <div>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="employer_ein">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employer EIN </th>
                        <td mat-cell *matCellDef="let element"> {{element.employer_ein}} </td>
                    </ng-container>

                    <ng-container matColumnDef="healthplancode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Period Code</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field appearance="outline"  class="full-width">
                                <input matInput [value]="element.healthplancode">
                            </mat-form-field>
                        </td>
                    </ng-container>
 

                    <ng-container matColumnDef="code_description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Description</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field appearance="outline"  class="full-width">
                                <input matInput [value]="element.code_description">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-link"><button mat-icon-button
                                color="accent">
                                <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>

                            <button mat-icon-button color="accent">
                                <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                                <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>


        </mat-card>
    </div>
</div>