<div class="App-body">
    <div class="App-content">
        <div class="controls-max-width">
            <mat-card>
                <h4>
                    Change Password
                </h4>
                <div class="full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Current Password</mat-label>
                        <input matInput>

                    </mat-form-field>
                    <h6>Enter your current password.</h6>
                </div>
                <div class="full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>New Password</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="full-width">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <h6>Re-enter your new password to confirm.</h6>
                    <h6>Your password must contain at least 8 characters with at least one uppercase, one lowercase, one
                        number and one symbol.</h6>

                </div>
                <div class="btn_actions">
                    <button mat-stroked-button id="btnPrimay" class="btn_primary">
                        Change Password
                    </button>

                </div>
            </mat-card>
        </div>
    </div>
</div>