<div class="App-loginspsgz">
    <div class="App-content" fxLayout="row" fxLayoutAlign="center center">
        <form fxFlex="40%" fxFlex.sm="60%" fxFlex.xs="90%" [formGroup]="loginForm">
      <mat-card>
        <h1>
          <img src="./assets/images/sps-gz-logo.png" alt="SPSGZ" class="logo-blue-login">
        </h1>
        <h4>Please enter your information to begin</h4>
      
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Site Id</mat-label>
                <input matInput formControlName="Siteid" required>
                <mat-error *ngIf="loginForm.controls['Siteid'].errors?.required">
                  This field is required
                </mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="Username" required>
                <mat-error *ngIf="loginForm.controls['Username'].errors?.required">
                  This field is required
                </mat-error>
              </mat-form-field>
      
      
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput type="Password" formControlName="Password" required>
                <mat-error *ngIf="loginForm.controls['Password'].errors?.required">
                  This field is required
                </mat-error>
              </mat-form-field>
      
      
              <button mat-stroked-button id="login" class="btn_primary" (click)="onSubmit()">
                Log in
              </button>
      
              <div class="btn_loginactions">
                <a class="btn_Forgot" routerLink="/forgotspsgz"> Forgot Password</a>
              </div>
      
              <mat-card-footer>
                <img src="./assets/images/SOC_Service_Seal.png" alt="Tab Service Company" class="logo-footer">
                <img src="./assets/images/colorsealbasic.gif" alt="Tab Service Company" class="logo-footer">
              </mat-card-footer>
      
            </mat-card>
      
          </form>
        </div>
       
</div>