<div class="App-login">
  <div class="App-content" fxLayout="row" fxLayoutAlign="center center">
    <form fxFlex="40%" fxFlex.sm="60%" fxFlex.xs="90%"  [formGroup]="loginForm" >
      <mat-card class="Card">
        <h1>
          <img src="./assets/images/logo-blue.svg" alt="TAB SERVICE COMPANY" class="logo-blue-login">
        </h1>

        <h3>
          Reset Password
        </h3>
        <h4>You need to update your password because this is the first time you are signing in.</h4>

        <!-- <mat-form-field appearance="outline"  class="full-width">
          <mat-label>Old Password</mat-label>
          <input matInput #oldpassword [type]="oldpasswordhide ? 'password' : 'text'" 
          formControlName="oldpassword"  required>
          <mat-icon matSuffix (click)="oldpasswordhide = !oldpasswordhide">{{oldpasswordhide ? 'visibility_off' : 'visibility'}}</mat-icon>

          <mat-error *ngIf="loginForm.controls['oldpassword'].errors?.required"> This field is required
          </mat-error>

        </mat-form-field> -->

        <mat-form-field appearance="outline"  class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput #newpassword (keyup)="onChangePassword(newpassword.value)" [type]="newpasswordhide ? 'password' : 'text'" 
          formControlName="newpassword"  required>
          <mat-icon matSuffix (click)="newpasswordhide = !newpasswordhide">{{newpasswordhide ? 'visibility_off' : 'visibility'}}</mat-icon>

          <mat-error *ngIf="loginForm.controls['newpassword'].errors?.required"> This field is required
        </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline"  class="full-width">
          <mat-label>Confirm Password</mat-label>
                    
          <input matInput #confirmpassword [type]="confirmpasswordhide ? 'password' : 'text'" 
          formControlName="confirmpassword"  required>
          <mat-icon matSuffix (click)="confirmpasswordhide = !confirmpasswordhide">{{confirmpasswordhide ? 'visibility_off' : 'visibility'}}</mat-icon>

          <mat-error *ngIf="loginForm.controls['confirmpassword'].errors?.required"> This field is required
          </mat-error>
          <mat-error *ngIf="loginForm.controls['confirmpassword'].errors?.confirmedValidator"> New password and confirm password must be match
          </mat-error>

        </mat-form-field>
       
        <div class="PasswordStrength _medium">
          <div class="PasswordStrength-bar">
            <div class="PasswordStrength-bar-inner" [style.width]="bar"></div>
          </div>
          <p class="PasswordStrength-text">
            Password strength: {{ barLabel }}
          </p>
        </div>
        
        <button mat-stroked-button id="btnSubmit" class="btn_primary" (click)="onSubmit()">
          Submit
        </button>

      </mat-card>

    </form>
  </div>
</div>