<div class="App">



    <div class="Broadcast">
        <div class="Broadcast-inner">
            <span class="Broadcast-icon">
                <i class="material-icons size-large">info</i>
            </span>
            <span class="Broadcast-text">
                Here is an example of a broadcast message. This only appears if the
                client admin has created one.
            </span>
        </div>
    </div>
    <div class="App-north">
        <mat-toolbar class="topbar telative bg-color-primary-accent-1">
            <div class="navbar-header">
                <!-- Logo text -->
                <img src="./assets/images/logo-white.svg" alt="TAB SERVICE COMPANY" class="logo-blue">
            </div>
        </mat-toolbar>
    </div>

    <div class="App-body">
        <div class="App-content">

            <mat-card>
                <h4>
                    Online Consent
                </h4>

                <div class="data-info">

                    <div class="page-content">
                        <h3 class="page-title">Consent to receive your 1098-T electronically</h3>
                        <p>IRS Regulations state that each student who requests to receive their 1098-T form
                            electronically
                            must provide consent electronically. By clicking on Consent below, you are stating that you
                            want
                            to receive your 1098-T form electronically and you agree to return to this
                            site(www.tsc1098t.com) by January 31, of the appropriate year, to print your 1098-T form
                            on-line
                            or email the form to your email address. The system requirements and procedures to access
                            and
                            print your 1098-T form are outlined below.</p>

                        <h3 class="h2-title">System Requirements</h3>
                        <p><strong>1.Adobe Acrobat Reader</strong> - You must have Adobe's Acrobat Reader version 8.0 or
                            higher to print your 1098-T form. If you do not have this software or the version you have
                            is
                            below 4.0 you may click here to download the free software. If you can not meet this
                            requirement, please do not issue your consent approval.</p>
                        <p><strong>2. Internet Browsers:</strong> You must use Microsoft Internet Explorer (9, 10 and
                            11),
                            Chrome or Firefox along with the appropriate PC and operating system specified by the
                            browser
                            application to print your 1098-T form. If you cannot meet this requirement, do not issue
                            your
                            consent approval. To obtain a copy of MS Internet Explorer please go to:
                            <a href="http://www.microsoft.com/windows/IE/">http://www.microsoft.com/windows/IE/</a>.
                            
                        </p>


                        <mat-list>
                            <div mat-subheader> <strong>How to print or email your 1098-T form </strong></div>
                            <mat-list-item>
                                <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                                <div mat-line>Access this secure site(www.tsc1098t.com) by January 31, of the
                                    appropriate
                                    year.</div>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                                <div mat-line>Enter your Site ID, Login ID,Password (assigned by your school).</div>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                                <div mat-line>The first time you enter the system you will be required to enter a new
                                    password. </div>
                                <div mat-line>You will need your new password each time you login.</div>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                                <div mat-line>Select View/Print 1098-T Form. Your 1098-T will be display in Adobe
                                    Acrobat Reader.</div>

                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
                                <div mat-line>From here, select File/Print from the Adobe Acrobat Reader menu bar. To
                                    email your form,</div>
                                <div mat-line>select 'Email MY 1098-T' and enter the appropriate email address then
                                    select 'OK'.</div>

                            </mat-list-item>

                        </mat-list>


                        <h3 class="h2-title">Scope and Duration</h3>
                        <p>Your consent will be valid for the current tax year as well as future tax years unless
                            consent is
                            revoked by you or your company notifies you that this service will not be supported in a
                            future
                            tax year. </p>
                        <h3 class="h2-title">Withdrawal</h3>
                        <p>You may revoke your consent and receive your 1098-T in a paper format delivered to you by
                            your
                            school by selecting 'Withdraw Consent' below before the specified cut-off date issued by
                            your
                            school. If you do not revoke your consent prior to your school's cut-off date, you will need
                            to access this site to print or email your 1098-T form for the applicable tax year.</p>
                        <p>Thanks</p>
                    </div>
                </div>

                <div class="btn_actions">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Do Not Consent </mat-radio-button>
                        <mat-radio-button value="2">Accept Consent</mat-radio-button>
                    </mat-radio-group>
                </div>


                <div class="btn_actions">
                    <button mat-stroked-button id="btnPrimay" class="btn_primary">
                        Submit
                    </button>
                </div>

            </mat-card>
        </div>
    </div>
</div>