<div class="App-body">
    <div class="App-content">

        <mat-card>


            <h4>
                Files for Client Retrieval
            </h4>


            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Search Site ID or Name</mat-label>
                <input matInput type="search">
            </mat-form-field>


            <div>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                    
                    <ng-container matColumnDef="tracking_no">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tracking Number</th>
                        <td mat-cell *matCellDef="let element"> {{element.tracking_no}} </td>
                    </ng-container>

                    <ng-container matColumnDef="client">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
                        <td mat-cell *matCellDef="let element"> {{element.client}} </td>
                    </ng-container>

                    <ng-container matColumnDef="filename">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name</th>
                        <td mat-cell *matCellDef="let element">
                            <a routerLink="."> {{element.filename}} </a></td>
                    </ng-container>

                    <ng-container matColumnDef="downloadstatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Download Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.downloadstatus}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-link"><button mat-icon-button
                                color="accent">
                                <!-- (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)"-->
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>

                            <button mat-icon-button color="accent">
                                <!--  (click)="deleteItem(i, row.id, row.title, row.state, row.url)"-->
                                <mat-icon aria-label="Delete" class="text-delete-link">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="exporter">
                        <td mat-header-cell *matHeaderCellDef colspan="2" class="mat-table-toolbar">
                            <div class="btn_actions">
                                <button mat-stroked-button id="tablefiles" class="btn_secondary" tabindex="32"
                                    (click)="Addclientfile()">
                                    Add Files
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Paginator column -->
                    <ng-container matColumnDef="paginator">
                        <td mat-header-cell *matHeaderCellDef colspan="3" class="mat-table-toolbar">
                            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['exporter', 'paginator']"></tr>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selectedRow = selectedRow === row ? null : row"
                        [ngClass]="{ 'selected': row === selectedRow }"></tr>


                </table>

            </div>


        </mat-card>



    </div>
</div>