
.mat-column-tracking_no {
    min-width:20px;
    width:10%;
    align-items: left;
}


.mat-column-client {
    min-width:20px;
    width:20%;
    align-items: left;
}

.mat-column-filename {
    min-width:20px;
    width:40%;
    align-items: left;
}
.mat-column-downloadstatus {
    min-width:20px;
    width:15%;
    align-items: left;
}

.mat-column-action {
    min-width:20px;
    width:15%;
    align-items: left;
}
