
<div class="App-body">
    <div class="App-content">

        <mat-card>
            <h4>
                Email History
            </h4>

       

            <mat-form-field appearance="outline"  class="full-width">
                <mat-label>Search first name, last name, social security or student id</mat-label>
                <input matInput type="search">
            </mat-form-field>


            <div>

                <!-- Angular 8 pagination -->
                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width:100%">
                    <ng-container matColumnDef="first_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Site ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="last_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Year	 </th>
                        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="login_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recipient Email</th>
                        <td mat-cell *matCellDef="let element"> {{element.login_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="SSN">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.SSN}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                        <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                        <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="DateSent">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Sent</th>
                        <td mat-cell *matCellDef="let element"> {{element.DateSent}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selectedRow = selectedRow === row ? null : row" [ngClass]="{ 'selected': row === selectedRow }"></tr>
        
                </table>

            </div>


        </mat-card>



    </div>
</div>
